// Breakpoints
// SCSS variables still needed for media queries
// https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
$eds-width-xs: 320px;
$eds-width-sm: 780px;
$eds-width-md: 1024px;
$eds-width-lg: 1200px;

$eds-xs-max: $eds-width-sm - 1; // 779px
$eds-sm-max: $eds-width-md - 1; // 1023px
$eds-md-max: $eds-width-lg - 1; // 1199px

$eds-width-header-links: 1240px;

// CSS custom properties
:root {
    font-size: 16px;

    // Breakpoints
    --eds-width-xs: 320px;
    --eds-width-sm: 780px;
    --eds-width-md: 1024px;
    --eds-width-lg: 1200px;

    --cms-ds-width-sm: 544px;

    // Custom Spacing
    --spacer-1-5: 0.75rem; // 12px
    --line-height-sm: 1.375rem; // 22px

    // From CMS Design System v2
    --text-max-width: 53rem;

    // ---- CMS Design System Overrides ----
    // Border overrides
    --text-input__border-width: 1px;
    --text-input__border-width--disabled: 1px;

    // Color overrides
    --color-focus-dark: #005fcc;
}

@mixin eds-gutters {
    padding: 0 var(--grid-form-gutter-width);

    @media (min-width: $eds-width-md) {
        padding: 0 var(--grid-gutter-width);
    }
}
