// Breakpoints
// SCSS variables still needed for media queries
// https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
$eds-width-xs: 320px;
$eds-width-sm: 780px;
$eds-width-md: 1024px;
$eds-width-lg: 1200px;

$eds-xs-max: $eds-width-sm - 1; // 779px
$eds-sm-max: $eds-width-md - 1; // 1023px
$eds-md-max: $eds-width-lg - 1; // 1199px

$eds-width-header-links: 1240px;

// CSS custom properties
:root {
    font-size: 16px;

    // Breakpoints
    --eds-width-xs: 320px;
    --eds-width-sm: 780px;
    --eds-width-md: 1024px;
    --eds-width-lg: 1200px;

    --cms-ds-width-sm: 544px;

    // Margins
    --grid-margin-sm: 1rem;
    --grid-margin-lg: 2rem;

    // Spacing
    --eds-spacer-1: 0.25rem; // 4px
    --eds-spacer-2: 0.5rem; // 8px
    --eds-spacer-3: 0.75rem; // 12px
    --eds-spacer-4: 1rem; // 16px
    --eds-spacer-5: 1.5rem; // 24px
    --eds-spacer-6: 2rem; // 32px
}

@mixin eds-gutters {
    padding: 0 var(--grid-margin-sm);

    @media (min-width: $eds-width-md) {
        padding: 0 var(--grid-margin-lg);
    }
}
