//-----------------------------------------------------------------------------------------
// Layout
//-----------------------------------------------------------------------------------------

// We loosely use the CMS Design System grid: https://design.cms.gov/utilities/grid

$collapsed-sidebar-width: 32px; // Update here if the left sidebar collapsed width changes

html {
    height: 100%;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.site-container {
    box-sizing: unset;
    display: block;
    margin: 0 auto;
    position: relative;
    padding: var(--spacer-3) var(--spacer-5);

    @include screen-xl {
        max-width: var(--media-width-xl);
        padding: var(--spacer-4);
    }

    @include screen-xxl {
        max-width: $width-xxl;
    }
}

.container {
    max-width: var(--text-max-width);
    display: block;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    width: 100%;
}

.match-sides {
    &[data-state="collapsed"] {
        flex: 0 0 $collapsed-sidebar-width;
    }

    @include screen-md {
        flex: 0 0 275px;
    }

    @include screen-lg {
        flex: 0 0 300px;
    }

    @include screen-xl {
        flex: 0 0 325px;
    }

    @include screen-3xl {
        flex: 0 0 350px;
    }
}

main {
    display: table-cell;
}

.homepage {
    display: initial;
}

aside {
    &.left-sidebar {
        background: $reverse_background_color;
        padding: 0;
        flex-shrink: 0;
    }

    &.right-sidebar {
        padding: var(--spacer-2);
        border-left: 1px solid $border_color;

        @include screen-xl {
            padding: var(--spacer-2) var(--spacer-4);
        }

        @include custom-max(calc($mobile-max / 1px)) {
            display: none;
        }
    }

    & + .match-middle {
        padding: 0 var(--spacer-2);
        flex: 1;

        @include screen-lg {
            padding: 0 var(--spacer-4);
        }
    }

    &[data-state="expanded"] {
        @include custom-max(calc($mobile-max / 1px)) {
            flex: 0 0 100%;
        }

        @include custom-range(calc(var(--media-width-md) / 1px), calc($tablet-max / 1px)) {
            flex: 0 0 400px;
        }

        & + .match-middle {
            @include custom-max(calc($tablet-max / 1px)) {
                margin-left: calc((308px + #{$collapsed-sidebar-width}) * (-1));
            }
        }
    }

    &[data-state="collapsed"] {
        & + .match-middle {
            width: 100%;

            @include screen-md {
                width: calc(100% - 260px - #{$collapsed-sidebar-width});
            }

            @include screen-lg {
                width: calc(100% - 300px - #{$collapsed-sidebar-width});
            }

            @include screen-xl {
                width: calc(100% - 400px - #{$collapsed-sidebar-width});
                padding: 0 var(--spacer-6);
            }

            @include screen-3xl {
                width: calc(100% - 500px - #{$collapsed-sidebar-width});
            }
        }
    }
}

footer {
    .footer-left {
        padding: 0;
    }
}

#logoutContainer {
    display: none;
}

#loginIndicator {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 3rem 1rem 1rem;
    background-color: $lighter_gray;
    border-top: 1px solid $light_gray;
    border-left: 1px solid $light_gray;
    border-top-left-radius: 10px;
    box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.08);

    .span__login-greeting {
        margin-right: 0.25rem;
    }

    .span__login-lamp {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $teal;
        margin-right: 0.5rem;

        &--success {
            background-color: $green;
        }

        &--error {
            background-color: $mid_gray_3;
        }
    }

    form#oidc_logout {
        display: inline-block;
        input[type="submit"] {
            background-color: transparent !important;
            text-decoration: underline;
            color: #046791;
        }
    }
}

.invisible {
    height: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.display-none {
    display: none !important;
}
