/*
    Most values below were calculated by multiplying value by 0.56,
    which is the ratio of 1440px (the width of the figma comp)
    to 8.5in/816px (the width of the printed page)
*/

$ratio: 0.56;
$left-right-padding: 40px;

@media print {
    @page {
        size: letter; /* 8.5 x 11 in */
        margin: 0.6in 0;
    }

    footer .site-footer,
    aside.left-sidebar,
    aside.right-sidebar,
    .flash-banner,
    .search-header,
    .copy-btn-container {
        display: none;
    }

    header {
        height: 48px;
        padding: 0 $left-right-padding;
        border-top: 1px solid $secondary_color;
        border-bottom: 1px solid $secondary_color;

        &.sticky {
            position: unset;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }

        .flexbox {
            &.header-mobile {
                display: none;
            }

            &.header-large {
                @include screen-xs {
                    display: flex;
                }
            }
        }

        .title-container {
            display: flex;
            flex-direction: row;
            flex: 1;
            align-items: center;
        }

        .site-title {
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            display: inline-block;
        }

        .reg-title {
            display: block;
            flex: 2;
            padding-right: $spacer-2;
            font-size: 12px;
            line-height: 16px;
            padding-left: $spacer-2;
            margin-left: $spacer-2;
            border-left: 1px solid $border_color;

            a {
                max-width: $text-max-width;
                display: inline-block;
            }
        }

        .header-part-name {
            display: inline;
        }
    }

    .content main.reg-text.match-middle {
        margin-left: 0;
        padding: 0 $left-right-padding;

        section,
        h1,
        h2 {
            padding-left: 0px;
            &:focus {
                background: transparent;
            }
        }

        h1 {
            font-size: $base-font-size * 1.5 * $ratio;
            margin-bottom: 17px;
        }

        h2 {
            font-size: $font-size-2xl * $ratio;
        }

        .latest-version {
            padding-left: 0px;
            margin: 22px auto 20px;

            &.subpart {
                font-size: 10px;
            }
        }

        article .paragraphs {
            font-size: $font-size-md * $ratio;
            line-height: 1.3;

            p {
                margin-block-start: 0;
                margin-block-end: 0;
                margin-top: 8px;

                @for $i from 1 through 10 {
                    &.depth-#{$i} + .depth-#{$i} {
                        margin-top: 3px;
                    }
                }
            }
        }
    }

    footer {
        background: transparent;
        padding: 11px 0;
        margin: 0 $left-right-padding;

        .print-footer {
            display: block;
            font-size: $font-size-md * $ratio;

            a:link.external::after {
                display: none;
            }
        }
    }
}
