{% load static %}

{% block controls %}
    <div class="toc-controls">
        <button data-set-state="collapsed" data-state-name="left-sidebar" aria-label="collapse the left sidebar">
            <img src="{% static 'images/sidebar-collapse.svg' %}" alt="arrow pointing left" />
            <span>Collapse</span>
        </button>
        <button data-set-state="expanded" data-state-name="left-sidebar" aria-label="expand the left sidebar">
            <img src="{% static 'images/sidebar-expand.svg' %}" alt="arrow pointing right" />
        </button>
    </div>
{% endblock %}

{% block jump-to %}
    {% include "regulations/partials/jump_to.html" %}
{% endblock %}

<nav role="navigation">
    {% block navigation %}{% endblock %}
</nav>
