# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
    # Enable version updates for npm dependencies in root of front end project
    - package-ecosystem: "npm"
      # Look for `package.json` and `lock` files
      directories:
        - "/solution/ui/e2e" # Cypress tests
        - "/solution/ui/regulations" # Vitest, bundling
        - "/solution/ui/regulations/eregs-component-lib" # Django template components
        - "/solution/ui/regulations/eregs-vite" # Single Page App dependencies
      # Check the npm registry for updates every day (weekdays)
      schedule:
          interval: "daily"
      # Limit the number of open pull requests to 1
      open-pull-requests-limit: 1
      # Increase the minimum version for all npm dependencies
      versioning-strategy: "increase"
      groups:
          vite:
            patterns:
              - "vite"
          vuetify:
            patterns:
              - "vuetify*"
          vue:
            patterns:
              - "vue*"
          plugin-vue:
            patterns:
              - "@vitejs/plugin-vue*"
          vitest:
            patterns:
              - "vitest*"
          rollup:
            patterns:
              - "rollup*"
              - "@rollup*"

    # CDK specific updates
    - package-ecosystem: "npm"
      # Look for `package.json` and `lock` files
      directories:
        - "/cdk-eregs" # CDK project
      # Check the npm registry for updates every day (weekdays)
      schedule:
          interval: "weekly"
      # Limit the number of open pull requests to 1
      open-pull-requests-limit: 1
      # Increase the minimum version for all npm dependencies
      versioning-strategy: "increase"
      groups:
          cdk:
            patterns:
              - "*aws*"

    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
      open-pull-requests-limit: 1
      ignore:
          - dependency-name: "*"
            update-types: ["version-update:semver-patch"]
