# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 4 space indentation for .js/.cjs/.mjs files
[*.{ts,js,cjs,mjs}]
indent_style = space
indent_size = 4
