node_modules
.DS_Store
.serverless
__pycache__/
e2e/cypress/videos
.env
regulations/static/regulations/static/*
!regulations/static/regulations/static/fonts/*
!regulations/static/regulations/static/images/*
