node_modules
.DS_Store
.serverless
__pycache__/
e2e/cypress/videos
.env
regulations/static/regulations/js/*
!regulations/static/regulations/js/main.js
!regulations/static/regulations/js/go-to-version.js
regulations/static/regulations/css/main.css*
