node_modules
.DS_Store
.serverless
.coverage
__pycache__/
e2e/cypress/videos
solution/ui/e2e/cypress/videos
cypress.env.json
.env
solution/backend/regulations/static/*
solution/static-assets/regulations/*
!solution/static-assets/regulations/fonts/
!solution/static-assets/regulations/images/
!solution/static-assets/regulations/pdfs/
solution/ui/regulations/dist
solution/Dockerfile
solution/ui/regulations/coverage/
db_backup/
# Specific to CDK Lambda layer generation
cdk-eregs/lib/stacks/layer-output-*/
cdk-eregs/lib/stacks/layer-output-*/**

# Zip files generated during layer creation
*.zip
# Django collected static
staticfiles/
static/
solution/static-assets/regulations/
solution/backend/staticfiles/
solution/backend/static/

# CDK assets
.cdk.staging/
cdk.out/

# virtual env
solution/backend/venv/*