{% extends "regulations/base.html" %}
{% load static %}
{% load macros %}


{% block title %}
    {% if node_type == 'appendix' %}
        {{formatted_id}} to {{meta.cfr_title_number}} CFR {{reg_part}} | eRegulations
    {% elif node_type == 'interp' %}
        {{formatted_id}} | eRegulations
    {% else %}
        {{meta.cfr_title_number}} CFR {{formatted_id}} | eRegulations
    {% endif %}
{% endblock %}


{% block body %}
{% comment %}
    Page-level template for everything but notices.
{% endcomment %}

<!--[if lt IE 8]>
    <div class="browser-warning displayed">
        <h2>Please note that the eRegulations tool does not support Internet Explorer version 7 or below.</h2>
        <ul>
            <li>To improve your experience, please <a href="http://browsehappy.com/">upgrade your browser <span class="cf-icon cf-icon-right"></span></a></li>
            <li>If you are using IE8 or later, you may need to turn off "Compatibility View."</li>
        </ul>
    </div>
<![endif]-->

<header id="site-header" class="reg-header chrome-header" role="banner">
{% include "regulations/main-header.html" %}

<div class="sub-head
            {% block sub-head-class %}
              {% if not version_span.timeline.is_present %}
              non-current
              {% endif %}
            {% endblock %}">
    {% block sub-head-skip-nav %}
    <a href="#content-wrapper" class="hidden-text">Skip to main content</a> <!-- skip to content link for screen readers-->
    {% endblock %}
    {% block sub-head-drawer-icons %}
    <div class="toc-head">
        {% block sidebar-drawer-icons %}
        <a href="#" id="panel-link" class="toc-toggle panel-slide"
           title="Navigation drawer toggle">
          {% include "regulations/svgs/open-caret.svg" %}
          {% include "regulations/svgs/close-caret.svg" %}
        </a>
        {% endblock %}
        <ul class="drawer-toggles">
          {% block sidebar-icons %}
            {% block sidebar-toc-link %}
              {% spaceless %}
                <li>
                  <a href="#table-of-contents" id="menu-link" class="toc-nav-link current" title="Table of Contents">
                    <span class="icon-text">Table of Contents</span>
                    {% include "regulations/svgs/table-of-contents.svg" %}
                  </a>
                </li>
              {% endspaceless %}
            {% endblock %}
          {% endblock %}
        </ul>
    </div> <!-- /toc-head-->
    {% endblock %}
    {% block sub-head-content %}
    <div id="content-header" class="header-main group">
        <div class="wayfinding">
          {% block wayfinding %}
            <span class="subpart"></span>
            <span id="active-title">{% block active_title %}<em class="header-label"><span class="reg_part">§{{ reg_part }}</span></em>{% endblock %}</span>
          {% endblock %}
        </div>
        {% block header-secondary %}
          <span class="effective-date">
            Effective
            {% if version_span.timeline.is_past %}
              {{ version_span.start|date:"n/j/Y" }}
              to {{ version_span.end|date:"n/j/Y" }}.
            {% elif version_span.timeline.is_present %}
              {{ version_span.start|date:"n/j/Y" }} to present.
            {% else %}
              {{ version_span.start|date:"n/j/Y" }}.
            {% endif %}

            {% if not version_span.timeline.is_present %}
              <a class="return-to-current"
                 href="{% url 'redirect_by_current_date' label_id %}"
                 >View current</a>
            {% endif %}
          </span>
        {% endblock %}
    </div>
    {% endblock %}
</div>
</header>

{% comment %}
    We include the drawer in-line so that we can use blocks
    http://stackoverflow.com/questions/9633387/django-using-blocks-in-included-templates
{% endcomment %}
{% block whole-toc %}
{% with active_version=version %}
<div id="menu" class="panel" data-page-type="reg-section" data-doc-id="{{ reg_part }}" data-cfr-title-number="{{meta.cfr_title_number}}">
    {% block drawer-toc %}
        {%if TOC %}
            {% with nav_class='toc-nav__base toc-nav__cfr-viewer' toc_items=TOC top_toc=True %}
                {% include "regulations/toc.html" %}
            {% endwith %}
        {%endif%}
    {% endblock %}
</div> <!-- /.panel -->
{% endwith %}
{% endblock %}

<div class="wrap group">

{% block chrome-content %}
<main role="main">
  <div id="content-body" class="main-content">
      {% load render_nested %}
      {{ main_content|safe }}
      {% if main_content_template %}
          {% render_nested template=main_content_template context=main_content_context %}
      {% endif %}
  </div> <!-- /.main-content -->
</main>
{% endblock %}

{% block chrome-sidebar %}
<div id="sidebar" class="secondary-content" role="complementary">
    <div id="sidebar-content" class="sidebar-inner">
        <section id="definition" class="regs-meta"></section>
        {% block reg_sidebar %}
            {{ sidebar_content|safe }}
        {% endblock %}
    </div>
</div>
{% endblock %}

</div> <!-- /.wrap -->

{% include "regulations/footer.html" %}

<div class="breakaway-wrap">
    <div id="breakaway-view" class="breakaway-content"></div>
</div>

{% endblock %}
