{% extends "regulations/base.html" %}
{% load static from staticfiles %}

{% comment %}
    Replaces application's loaded scripts and styles with just styles.
{% endcomment %}
{% block app_js %}
        {% if EREGS_GLOBALS.ENV == 'built' %}
        <link rel="stylesheet" href="{%static "regulations/css/regulations.min.css" %}"/>
        {% else %}
        <link rel="stylesheet" href="{%static "regulations/css/style.css" %}"/>
        {% endif %}
        {% block headscripts %}
        {% endblock %}
{% endblock %}

{% comment %}
    Universal application landing page
{% endcomment %}

{% block title %}eRegulations{% endblock %}

{% block body %}
<header id="site-header" class="reg-header site-homepage">
    {% include "regulations/main-header.html" %}
</header>

<div class="landing-content">

{% block hero %}
<div class="hero">
    <div class="inner-wrap group">
      <div class="primary">
        <h2 class="hero-header">Join our user research for this tool</h2>
        <p class="hero-text">This is a DSG pilot project to make it easier to research and draft regulations and subregulatory guidance for CMCS work.</p>
        <p class="hero-text">Try this: go to <a href="/433-112/2016-27844#433-112">Part 433, Section 112</a>, and see the subregulatory guidance in the sidebar, or <a href="diff/433-112/E8-27810/2016-27844?from_version=2016-27844#433-112">see what changed from 2008 to 2017</a>.</p>
        <p class="hero-text">If you work with CMCS regs, we want to make this work for you &mdash; <a href="mailto:britta.gustafson@a1msolutions.com">email Britta Gustafson</a> to sign up for a 30-minute interview.</p>
      </div>
    </div> <!-- /.inner-wrap -->
</div> <!-- /.hero -->
{% endblock %}

<div class="landing-main" role="main">
  <div class="inner-wrap">

    <div class="group">
      <div class="content-primary column-l bump">
        {% block regulations-title %}
        <h2 class="small-header light-header">
            {% block cfr_title %}Title {{cfr_title_number|upper}} {{cfr_title_text}}{% endblock %}
        </h2>
        {% endblock %}

        <h3>Chapter IV: Centers for Medicare & Medicaid Services, Department of Health and Human Services
        <br />Subchapter C: Medical Assistance Programs
        </h3>

        {% block reg-list %}
        <ul class="reg-list">
            {% for regulation in regulations %}
                <li>
                    <a href="{% url 'regulation_landing_view' regulation.part %}">
                        <span class="title-num">{{regulation.part}}</span>
                        <div class="reg-sub-title">
                            {% if regulation.meta.reg_letter %}
                                <span class="reg-major-text">Regulation {{regulation.meta.reg_letter}}</span>
                                <span class="reg-title">{{regulation.meta.statutory_name|title}}</span>
                            {% else %}
                                <span class="reg-major-text">{{regulation.meta.statutory_name|title}}</span>
                            {% endif %}
                        </div>
                        <span class="fa fa-chevron-right"></span>
                    </a>

                    {% for amendment in regulation.amendments %}
                        <div class="mini-alert important">
                            New amendment effective {{amendment.by_date|date:'n/j/Y'}}
                            <a href="{% url 'chrome_section_view' regulation.reg_first_section amendment.version %}" class="go">View new amendment</a>
                        </div>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
        {% endblock %}

        {% block moreregulations %}
        {% endblock %}
      </div> <!-- /.primary -->

        {% block secondcolumn_notices %}
        {% endblock %}
    </div> <!-- /.group -->

      {% block about-eregs %}
      <section class="about bump group">
        <div class="content-primary column-l">

          <p>This is a web-based tool that makes regulations easier
          to find, read and understand with features such as highlighted defined terms and a revision comparison view.</p>

          <p><a href="{% url 'about' %}" class="go">Learn more about its features</a></p>
        </div> <!-- /.primart -->

        {% block orgcontact %}
        {% endblock %}

        <div class="disclaimer content-primary column-l">

          <h5>Legal Limitations of This Tool</h5>
        
          <p>The CMS Regulations tool is an editorial compilation of material and not an official legal edition of the Code of Federal Regulations or the Federal Register. We have made every effort to ensure the material presented in this tool is accurate, but if you are relying on it for legal research you should consult the official editions of those sources to confirm your findings. Nothing in this tool binds CMS or creates any rights, benefits, or defenses, substantive or procedural, that are enforceable by any party in any manner.</p>

        </div>


        <!-- {% block legal %}
        {% endblock %} -->
      </section> <!-- /.about -->
      {% endblock %}
  </div> <!-- /.inner-wrap -->
</div> <!-- /.landing-main -->

</div> <!-- /.landing-content -->

{% include "regulations/full_footer.html" %}

{% block endscripts %}
{% endblock %}

{% endblock %}
