<li data-subpart-heading class="subpart-heading-{{item.index|last}}"><h3 class="toc-nav__divider" data-section-id="{{item.section_id}}" id="nav-{{item.section_id}}">{{item.label|safe|upper}} - <span class="subpart-subhead">{{item.sub_label|safe}}</span></h3></li>

{% if item.sub_toc %}
    {% for sub_toc_item in item.sub_toc %}
        {% if sub_toc_item.is_section %}
            {% include "regulations/toc-section.html" %}
        {% else %}
        <li class="toggle-toc-menu-sections"><a href="{{sub_toc_item.url}}" data-section-id="{{sub_toc_item.section_id}}">{{item.label|safe}}</a></li>
        {% endif %}
    {% endfor %}
{% endif %}
