{% load static %}


    <div class="reg-title">
        <div class="flex-container">
            <div class="flex-header">

                {{static}}
                {% if part %}
                <a href="{% url 'regulation_landing_view' title reg_part %}">
                    <strong>{{title}} CFR Part {{ part }}</strong>
                    <span class="header-part-name">
                        {% if part_label %}
                        - {{ part_label }}
                        {% endif %}
                    </span>
                </a>
                {% endif %}
            </div>
            {% if not hide_resource_btn %}
                <div class="view-resources-btn" >
                    <a href="{% url "resources" %}" class="btn inverted">View All Resources</a>
                </div>
            {% endif %}
        </div>
    </div>

