services:
    e2e:
        image: docker.io/cypress/included:12.4.1
        container_name: cypress
        network_mode: host
        depends_on:
        - regulations
        environment:
        - CYPRESS_baseUrl=http://localhost:8000
        working_dir: /app
        command: npx cypress run
        volumes:
        - ./ui/e2e:/app
