version: '3'
networks:
  eregs:
    external: false
    name: eregs
services:
  db:
    image: pgvector/pgvector:pg15
    environment:
      POSTGRES_USER: eregsuser
      POSTGRES_PASSWORD: sgere
      POSTGRES_DB: eregs
    ports:
      - 5432:5432
    volumes:
      - eregs-data:/var/lib/postgresql/data
    networks:
      - eregs
  regulations:
    build:
      context: .
      network: host
    volumes:
      - ./backend:/app/src
      - ./static-assets:/app/static-assets
    environment:
      ALLOWED_HOST: regulations
      HTTP_AUTH_USER: RpSS01rhbx
      HTTP_AUTH_PASSWORD: UkOAsfkItN
      PYTHONPATH: /var/lib/eregs
      STATIC_URL: http://localhost:8888/
      STATIC_ROOT: /app/static-assets/regulations
      SIDEBAR_CONTENT_DIR: /var/lib/eregs/cmcs/content
      DEBUG: "True"
      DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE:-cmcs_regulations.settings.local}
    ports:
      - 8000:8000
    links:
      - db
      - text-extractor
    networks:
      - eregs
    extra_hosts:
      - "host.docker.internal:host-gateway"
  static-assets:
    image: nginx
    ports:
      - 8888:80
    volumes:
      - ./backend/nginx/config/static-assets/nginx_fonts.conf:/etc/nginx/conf.d/default.conf
      - ./static-assets/regulations:/usr/share/nginx/html
    networks:
      - eregs
  text-extractor:
    build:
      context: .
      dockerfile: text-extractor/Dockerfile
    ports:
      - 9000:8080
      - 8001:6000
    environment:
      - EREGS_USERNAME=${EREGS_USERNAME:-}
      - EREGS_PASSWORD=${EREGS_PASSWORD:-}
      - EREGS_API_URL_V3=${EREGS_API_URL_V3:-}
    volumes:
      - ./text-extractor:/var/task/app
    networks:
      - eregs
    extra_hosts:
      - "host.docker.internal:host-gateway"
volumes:
  eregs-data:


