services:
    fr-parser:
        image: docker.io/golang:1.16
        container_name: fr-parser
        network_mode: host
        environment:
        - EREGS_USERNAME=${EREGS_USERNAME:-}
        - EREGS_PASSWORD=${EREGS_PASSWORD:-}
        - EREGS_API_URL_V3=${EREGS_API_URL_V3:-}
        working_dir: /app/fr-parser
        command: go run .
        volumes:
        - ./parser:/app
