pytest
requests
boto3
moto
ruff
extract-msg
pillow
beautifulsoup4
striprtf
xlrd
docx2txt
openpyxl
python-pptx
magika==0.5.1 # newer versions still cause unit test failures- recheck next time we do dependency updates
