<header id="header" class="sticky">
    <header-component home-url="{% url 'homepage' %}">
        <template #jump-to>
            <jump-to
                api-url="{{ API_BASE }}"
                home-url="{% url 'homepage' %}"
                {% if title %}title="{{ title }}"{% endif %}
                {% if part %}part="{{ part }}"{% endif %}
            ></jump-to>
        </template>
        <template #links>
            <header-links
                statutes-url="{% url 'statutes' %}"
                subjects-url="{% url 'subjects' %}"
            ></header-links>
        </template>
        <template #search>
            <header-search
                search-url="{% url 'search' %}"
            ></header-search>
        </template>
        <template #sign-in>
            {% if user.is_authenticated %}
                <header-user-widget admin-url="{% url 'admin:index' %}">
                    <template #username>
                        {{ user.username }}
                    </template>
                    <template #sign-out-link>
                        {% include "regulations/partials/logout_form.html" %}
                    </template>
                </header-user-widget>
            {% else %}
                <sign-in-link
                    custom-login-url="{% url 'custom_login' %}"
                    home-url="{% url 'homepage' %}"
                    is-authenticated="{{ user.is_authenticated }}"
                    location="{{ location }}"
                ></sign-in-link>
            {% endif %}
        </template>
        <template #get-access>
            {% if not user.is_authenticated %}
                <access-link
                    class="header__access-link"
                    base="{% url 'homepage' %}"
                ></access-link>
            {% endif %}
        </template>
    </header-component>
</header>
