{% load render_nested %}
{% load citation %}
{% load url_formatters %}
{% load string_formatters %}
<h1>
    {% if toc.label_level %}
        <span>{{ toc.label_level }} - </span>
    {% endif %}
    {{ toc.label_description }}
</h1>
{% ecfr_part_url_formatter title reg_part as ecfr_part_url %}
<p class="last-updated"><a href="{{ecfr_part_url}}" class="external" target="_blank" rel="noopener noreferrer">{{ toc.label_level }} up to date from eCFR</a> as of {{ title_parser_success_date|parser_success_date_formatter }}{% if has_meaningful_latest_version_date %}<span class="latest-version">; last amended </span>{{ version_string }}{% endif %}.</p>

<section class="part-meta"><b>{{ authority.header }}</b> {{ authority.content }}</section>
<section class="part-meta"><b>{{ source.header }}</b> {{ source.content | citation }}</section>
<section class="part-meta"><b>{{ editorial_note.header }}</b> {{ editorial_note.content | citation }}</section>

<h2>Table of Contents</h2>

<ul class="table-of-contents">
    {% for item in toc.children %}
      {% if item.type == "section" %}
        {% render_nested "regulations/partials/expanded_toc/orphan_section.html" context=item API_BASE=API_BASE title=title version=version %}
      {% else %}
        {% render_nested "regulations/partials/expanded_toc/"|add:item.type|add:".html" context=item API_BASE=API_BASE title=title part=reg_part version=version%}
      {% endif %}
    {% endfor %}
</ul>
