{% if user.is_authenticated %}
<div id="loginIndicator">
    <span class="span__login-lamp span__login-lamp--success"></span>
    <span class="span__login-greeting">Hello, <b>{{ user.username }}</b>!</span>
    <form
        id="oidc_logout"
        method="post"
        {% if request.session.oidc_id_token %}
            action="{% url 'oidc_logout' %}"
        {% else %}
            action="{% url 'logout' %}?next={{ request.path }}"
        {% endif %}
    >
        {% csrf_token %}
        <input type="submit" value="Log Out" />
    </form>
{% else %}
<div id="loginIndicator" class="display-none">
    <span class="span__login-lamp span__login-lamp--error"></span>
    <span class="span__login-greeting">Hello, <b>Guest</b>!</span>
    <a id="login" href="{% url 'oidc_authentication_init' %}">Log In</a>
{% endif %}
</div>
