<div class="div__login-sidebar">
    {% if user.is_authenticated %}
        Resources you can access include policy documents internal to CMCS.
    {% else %}
        To see internal documents,
        <span data-testid="loginSidebar">
            <sign-in-link
                custom-login-url="{% url 'custom_login' %}"
                home-url="{% url 'homepage' %}"
                is-authenticated="{{ user.is_authenticated }}"
            ></sign-in-link>
        </span>
        or <a href="{% url 'get_account_access' %}">learn how to get account access</a>.
    {% endif %}
</div>
