{% load site_statistics %}

<div class="latest-changes">

    <h3>Recent Documents for 42 CFR 430-460</h3>

    <supplemental-content class="related-rules" api_url="{% url 'regcore' %}" requested_categories="26"></supplemental-content>

    <hr class="latest-changes-horiz-rule"/>

    <h3 class="all-resources-header">All Resources</h3>

    <span class="resource-types">SMDLs  |  SHOs  |  CIBs  |  Rules  |  NPRMs</span>

    <p class="resourcs-description">Links to subregulatory guidance and implementation resources for regulation sections.</p>

    <a href="{% url 'resources' %}" class="action-btn default-btn view-resources-btn">View All Resources</a>
</div>
