{% load site_statistics %}

<div class="latest-changes">

    <h3>Recent Rules</h3>

    <p class="recent-rules-descriptive-text">Includes 42 CFR 400, 430-460</p>

    <recent-changes-container api-url={{ API_BASE }} ></recent-changes-container>

    <a href="{% url 'resources' %}?title=42&resourceCategory={{ fr_docs_category_name }}" class="action-btn default-btn link-btn view-more-changes-btn">View More Changes</a>

    <hr class="latest-changes-horiz-rule"/>

    <h3 class="all-resources-header">All Resources</h3>

    <span class="resource-types">SMDLs  |  SHOs  |  CIBs  |  Rules  |  NPRMs</span>

    <p class="resourcs-description">Links to subregulatory guidance and implementation resources for regulation sections.</p>

    <a href="{% url 'resources' %}" class="action-btn default-btn link-btn">View All Resources</a>
</div>
