{% load string_formatters %}

{{ categories|json_script:"categories" }}
{{ sub_categories|json_script:"sub_categories" }}

<section id="right-sidebar" data-cache-key="sidebar" data-cache-value="{{label_id}}">
    {% include "regulations/partials/view-button.html" %}
    <print-btn btn_type="labeled-icon"></print-btn>
    <hr />

    {% if node_list %}

    <supplemental-content
        api_url="{{ API_BASE }}"
        title="{{ title }}"
        part="{{ reg_part }}"
        resources_url="{% url 'resources' %}"
        :resource_display=true
        :sections="{{ node_list.sections }}"
        :subparts="{{ node_list.subparts }}"
    ></supplemental-content>
    {% endif %}

</section>
