{% load version_date %}
<div id="view-and-compare" class="view-and-compare" data-state="hide" data-state-name="view">
    <div class="view-container">
        <!-- <span class="view-title">View Versions</span> -->
        <label for="view-options">View Regulations Effective on</label>
        <span class="view-select">
            <select
                class="ds-c-field"
                name="view-options"
                id="view-options"
            >
                <option value="" disabled>Select Date</option>
                {% for version in versions %}
                    {% if appendix %}
                        <option data-url="{% url 'reader_view' title citation.0 appendix_data.identifier|join:'-' version.date %}">{{version.date|version_date}}</option>
                    {% elif citation.1 %}
                        <option data-url="{% url 'reader_view' title citation.0 citation.1 version.date %}">{{version.date|version_date}}</option>
                    {% else %}
                        <option data-url="{% url 'reader_view' title citation.0 version.date %}">{{version.date|version_date}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </span>
        {% if appendix %}
            <a
                id="close-link"
                class="close-button"
                href="{% url 'reader_view' title citation.0 appendix_data.identifier|join:'-' versions.0.date %}"
                aria-label="close view past versions"
            >
        {% elif citation.1 %}
            <a
                id="close-link"
                class="close-button"
                href="{% url 'reader_view' title citation.0 citation.1 versions.0.date %}"
                aria-label="close view past versions"
            >
        {% else %}
            <a
                id="close-link"
                class="close-button"
                href="{% url 'reader_view' title citation.0 versions.0.date %}"
                aria-label="close view past versions"
            >
        {% endif %}
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title>Close</title>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.853553 0.146447L8.14589 7.43889L15.4393 0.146447C15.6346 -0.0488155 15.9512 -0.0488155 16.1464 0.146447C16.3417 0.341709 16.3417 0.658291 16.1464 0.853553L8.85289 8.14589L16.1464 15.4393C16.3417 15.6346 16.3417 15.9512 16.1464 16.1464C15.9512 16.3417 15.6346 16.3417 15.4393 16.1464L8.14589 8.85289L0.853553 16.1464C0.658291 16.3417 0.341709 16.3417 0.146447 16.1464C-0.0488155 15.9512 -0.0488155 15.6346 0.146447 15.4393L7.43889 8.14589L0.146447 0.853553C-0.0488155 0.658291 -0.0488155 0.341709 0.146447 0.146447C0.341709 -0.0488155 0.658291 -0.0488155 0.853553 0.146447Z"/>
            </svg>
        </a>
    </div>
    <div class="print-view-container">
        <svg width="32" height="40" viewBox="0 0 32 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="5" width="29.9539" height="34" stroke="#046791" stroke-width="2"/>
            <line y1="12" x2="31.9539" y2="12" stroke="#046791" stroke-width="2"/>
            <line x1="8.76367" y1="9" x2="8.76367" y2="4.92463e-08" stroke="#046791" stroke-width="2"/>
            <line x1="22.0778" y1="9" x2="22.0778" y2="4.92463e-08" stroke="#046791" stroke-width="2"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9883 34C20.9588 34 24.9883 29.9706 24.9883 25C24.9883 20.0294 20.9588 16 15.9883 16C11.0177 16 6.98828 20.0294 6.98828 25C6.98828 29.9706 11.0177 34 15.9883 34ZM15.9883 17.7143V24.7857V32.2857C20.0121 32.2857 23.274 29.0238 23.274 25C23.274 20.9762 20.0121 17.7143 15.9883 17.7143Z" fill="#046791"/>
        </svg>
        <span>Viewing regulations effective on {{ version|version_date }}</span>
    </div>
</div>
