{% extends 'admin/change_list.html' %}

{% block object-tools-items %}
    <li class="export_all_json">
        <a href="export_all_json/">
            <span style="vertical-align: middle; display: inline-block;">
                Download JSON
            </span>
            <span style="vertical-align: middle; display: inline-block;">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" style="fill: white;">
                    <path d="m12 16 4-5h-3V4h-2v7H8z"></path>
                    <path d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"></path>
                </svg>
            </span>
        </a>
    </li>
    {{ block.super }}

{% endblock %}