{% extends "admin/base_site.html" %}

{% block userlinks %}
  <div id="user-tools">
    {% if user.is_active and user.is_staff %}
      <a href="/">View site</a> /
      <a href="{% url 'admin:logout' %}">Logout Django</a> /
      <form action="{% url 'oidc_logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="logout">
      </form>
    {% else %}
      <a href="{% url 'oidc_authentication_init' %}?next={{ request.path }}">Log in</a>
    {% endif %}
  </div>
{% endblock %}