{% extends "admin/login.html" %}

{% block title %}eRegulations Admin Login{% endblock %}


{% block content %}
    {% block extrastyle %}
        {{ block.super }}
        <style>
            #content-main {
                float: none !important;
            }

            .okta_login_container {
                margin-top: 15px;
                display: flex;
                justify-content: center;

                form#eua_login_form input {
                    background-color: transparent !important;
                    text-decoration: underline;
                    color: #046791;
                    padding: initial;
                }
            }
        </style>
    {% endblock %}
   {{ block.super }}
   {% if EUA_FEATUREFLAG %}
      <div class="okta_login_container">
        Or Login With &nbsp;
        <form id="eua_login_form" method="get" action="{% url 'oidc_authentication_init' %}">
          <input type="hidden" name="next" value="{{ next }}" />
          <input type="submit" value="EUA">
        </form>
      </div>
   {% endif %}
   {% if form.errors %}
    <p>Invalid credentials.  Please contact an eRegs administrator if you need access.</p>
  {% endif %}
{% endblock %}
