{% extends "admin/login.html" %}

{% block title %}eRegulations Admin Login{% endblock %}


{% block content %}
    {% block extrastyle %}
        {{ block.super }}
        <style>
            #content-main {
                float: none !important;
            }

            .okta_login_container {
                margin-top: 15px;
                display: flex;
                justify-content: center;
            }
        </style>
    {% endblock %}
   {{ block.super }}
   flag is: {{ EUA_FEATUREFLAG }}
   {% if EUA_FEATUREFLAG == 'true' %}
      <div class="okta_login_container">
        Or Login With &nbsp;<a href="{% url 'oidc_authentication_init' %}">EUA</a>
      </div>
   {% endif %}
   {% if form.errors %}
    <p>Invalid credentials.  Please contact an eRegs administrator if you need access.</p>
  {% endif %}
{% endblock %}
