
//-----------------------------
// Header
//-----------------------------

@import "../application_settings";

header {
	height: calc($header-height - $spacer-4);

	// Sticky Header and Content Adjustments

	&.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		background: $main_background_color;
		z-index: 9999999;
		box-shadow: 0 3px 10px 0px rgba(0,0,0,0.08);
		-webkit-box-shadow: 0 3px 10px 0px rgba(0,0,0,0.08);
		-moz-box-shadow: 0 3px 10px 0px rgba(0,0,0,0.08);

		.search-header {
			margin-right: 64px;
		}

		+ .content {						// Moves content/aside down so they're not covered by the sticky header 
			padding-top: $header-height; 	

		  	aside {
				top: $header-height;
			}
		}

	}

	a {
		text-decoration: none;
		color: $secondary_link_color;

		&:visited {
			color: $secondary_link_color;
		}

		&:hover {
			color: $secondary_link_hover;
		}
	}

	.flexbox {
		align-items: center;
	}

	.site-title {
		display: inline-block;
		border-right: 1px solid $border_color;
		padding-right: $spacer-2;
		margin-right: $spacer-2;
		font-size: $font-size-2xl;
		font-weight: bold;
	}

	.reg-title {
		display: inline-block;
		flex: 2;
		padding-right: $spacer-2;

		a {
			max-width: $text-max-width;
			display: inline-block;
		}
	}

	.header-part-name {

		@include custom-max(1290) {
			display: none;
		}
	}
}

.search-header {
	float: right;

	.search-box {
		width: 260px;

	    @include screen-lg {
	        width: 250px;
	    }

	    @include screen-xl {
	        width: 310px;
	    }

	    @include screen-xxl {
	        width: 330px;
	    }

		input {
			border: 1px solid $border_color;
		}
	}
}
