{% extends "regulations/base.html" %}
{% load static %}
{% block title %}About This Tool | Medicaid & CHIP eRegulations{% endblock %}
{% block body %}
<div class="site-container">
  <main class="about">

    <h1>About This Tool</h1>

    <section>
      <p>eRegulations organizes together regulations, subregulatory guidance, and other related policy materials. Our team updates content and functionality several times a week.</p>
      <p><a href="https://www.youtube.com/watch?v=_6kqjEVHrZM" class="external" target="_blank" rel="noopener noreferrer">View a 3-minute video demonstration.</a></p>
    </section>

    <section>
      <h2>Contact</h2>
      <p><b>Send questions and suggestions</b> about this website (including bug reports), or schedule a presentation or training for your group: <a href="https://docs.google.com/forms/d/e/1FAIpQLSdoovq7qgVRYsgLeZ7TrXNmnTU42iHCvr1x06CgcWQectlVAw/viewform" target="_blank" class="external">contact the team</a>.</p>
      <p><b>Try new features</b> and help make them better: <a href="https://docs.google.com/forms/d/e/1FAIpQLScesNzqS-Kgpcjq3AxESy1tP0zlcs3CdgkCVr3LBOiUTxxbvw/viewform" class="external" target="_blank" rel="noopener noreferrer">sign up for a session</a>.</p>
    </section>

    <section id="automated-updates">
      <h2>Automated Updates</h2>

      <div class="ds-l-container">
        <div class="ds-l-row">
          <div class="ds-l-col--6">
            <h3>Regulation Text</h3>
            <p>This tool displays regulation text from <a href="https://www.ecfr.gov/cgi-bin/ECFR?page=browse" class="external" target="_blank" rel="noopener noreferrer">eCFR</a>.</p>
            <p>When new rules (changes to regulations) become effective, the Office of the Federal Register incorporates them into eCFR about <b>two business days</b> after their effective date.</p>
            <p>This tool automatically syncs with eCFR <b>once a day</b>.</p>
            <p>So, it can take up to <b>three business days</b> for new rules to be incorporated into this tool.</p>
            <p class="note">Note: eCFR and this tool are <a href="https://www.ecfr.gov/cgi-bin/ECFR?SID=7b8aba05aa8d73ae4ea6e482994e1721&mc=true&page=faq#quest7" class="external" target="_blank" rel="noopener noreferrer">not formal official legal editions</a> of the CFR. If you need to check against the official materials (annual editions and Federal Register rules), see <a href="https://www.ecfr.gov/cgi-bin/ECFR?page=userinfo" class="external" target="_blank" rel="noopener noreferrer">eCFR User Information</a> to learn more.</p>
          </div>
          <div class="ds-l-col--6">
            <img src="{% static 'images/about_automated_updates.svg' %}" alt="Diagram showing eCFR information going to this website" class="ecfr-graphic"/>
          </div>
        </div>

        <div class="ds-l-row">
          <div class="ds-l-col--6">
            <h3>Links to Federal Register Rules</h3>
            <p>The lists of rules (proposed and final amendments to regulations) are pulled automatically from the <a href="https://www.federalregister.gov/" class="external" target="_blank">Office of the Federal Register</a>.</p>
            <p>These lists are fetched every time you load a page that includes them, so they are always up-to-date.</p>
          </div>
          <div class="ds-l-col--6">
            <img src="{% static 'images/about_fr_rules.svg' %}" alt="Screenshot of Rules with Preambles in the right sidebar of this site"/>
          </div>
        </div>

      </div>
    </section>

    <section>
      <h2>Subject Matter Expert Updates</h2>

      <div class="ds-l-container">
        <div class="ds-l-row">
          <div class="ds-l-col--6">
            <h3>Links to Additional Resources</h3>
            <p>Resource links are curated and updated by Medicaid subject matter experts on our team.</p>
            <p>For example, when Medicaid.gov publishes a new piece of subregulatory guidance in the <a href="https://www.medicaid.gov/new-notable/index.html" class="external" target="_blank">New &amp; Notable Resource Center</a>, we add a link in the sidebar of each relevant subpart.</p>
          </div>
          <div class="ds-l-col--6">
            <img src="{% static 'images/about_additional_resources.svg' %}" alt="Screenshot of Subregulatory Guidance in the right sidebar of this site" />
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2>Technical Details</h2>
      <p>This tool has an <a href="https://github.com/CMSgov/cmcs-eregulations" class="external" target="_blank" rel="noopener noreferrer">open source code repository</a> available for reuse by other government teams.</p>
      <p>It uses APIs maintained by the Office of the Federal Register and the Government Publishing Office:</p>
      <ul>
        <li><a href="https://www.ecfr.gov/reader-aids/ecfr-developer-resources/rest-api-interactive-documentation" class="external" target="_blank" rel="noopener noreferrer">Federal Register regulation text</a></li>
        <li><a href="https://www.federalregister.gov/developers/documentation/api/v1" class="external" target="_blank" rel="noopener noreferrer">Federal Register rules</a></li>
      </ul>
    </section>

  </main>
</div>
{% endblock %}

{% block post_footer %}
    <script src="{% static '/js/main.build.js' %}"></script>
{% endblock %}
