{% extends "regulations/base.html" %}
{% load static %}

{% block body %}
    <div class="content">
        <div class="flexbox">

            <aside tabindex="-1" class="left-sidebar match-sides" data-state="expanded" data-state-name="left-sidebar">
                {% include "regulations/partials/sidebar_left/subpart.html" %}
            </aside>

            <main class="reg-part-homepage match-middle">
                <div class="reg-part-toc">
                    {% include content %}
                </div>
    	    </main>

        </div>
    </div>
{% endblock %}

{% block post_footer %}
    <script src="{% static '/js/main.build.js' %}"></script>
{% endblock %}
