//-----------------------------------------------------------------------------------------
// Layout
//-----------------------------------------------------------------------------------------

// We loosely use the CMS Design System grid: https://design.cms.gov/utilities/grid

$collapsed-sidebar-width: 32px; // Update here if the left sidebar collapsed width changes

header {
    padding: $spacer-4;
    border-bottom: 1px solid $primary_color;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.site-container {
    display: block;
    margin: 0 auto;
    position: relative;
    padding: $spacer-3 $spacer-5;

    @include screen-xl {
        max-width: $width-xl;
        padding: $spacer-4;
    }

    @include screen-xxl {
        max-width: $width-xxl;
    }
}

.container {
    max-width: $text-max-width;
    display: block;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    width: 100%;
}

.match-sides {
    &[data-state="collapsed"] {
        flex: 0 0 $collapsed-sidebar-width;
    }

    @include screen-md {
        flex: 0 0 275px;
    }

    @include screen-lg {
        flex: 0 0 300px;
    }

    @include screen-xl {
        flex: 0 0 325px;
    }

    @include screen-3xl {
        flex: 0 0 350px;
    }
}

main {
    display: table-cell;
}

.homepage {
    display: initial;
}

aside {
    &.left-sidebar {
        background: $reverse_background_color;
        padding: 0;
        flex-shrink: 0;
    }

    &.right-sidebar {
        padding: $spacer-2;
        border-left: 1px solid $border_color;

        @include screen-xl {
            padding: $spacer-2 $spacer-4;
        }

        @include custom-max($tablet-max / 1px) {
            display: none;
        }
    }

    & + .match-middle {
        padding: 0 $spacer-4;
    }

    &[data-state="expanded"] {
        @include custom-max($mobile-max / 1px) {
            flex: 0 0 100%;
        }

        @include custom-range($width-md / 1px, $tablet-max / 1px) {
            flex: 0 0 400px;
        }

        & + .match-middle {
            @include custom-max($tablet-max / 1px) {
                margin-left: calc((308px + #{$collapsed-sidebar-width}) * (-1));
            }
        }
    }

    &[data-state="collapsed"] {
        & + .match-middle {
            width: 100%;

            @include screen-md {
                width: calc(100% - 260px - #{$collapsed-sidebar-width});
            }

            @include screen-lg {
                width: calc(100% - 300px - #{$collapsed-sidebar-width});
            }

            @include screen-xl {
                width: calc(100% - 400px - #{$collapsed-sidebar-width});
                padding: 0 $spacer-6;
            }

            @include screen-3xl {
                width: calc(100% - 500px - #{$collapsed-sidebar-width});
            }
        }
    }
}

footer {
    .footer-left {
        padding: 0;
    }
}
