
//-----------------------------
// Main: Base application CSS
//-----------------------------

@charset "UTF-8";

// Normalize
@import 'normalize';

// CMS Design System
@import '@cmsgov/design-system/dist/scss/index';

$fa-font-path: "../fonts/webfonts";
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

// Medicaid and CHIP eRegulations Site

@import 'application_settings';
@import 'layout';
@import "partials/typography";
@import "partials/site_homepage";
@import "partials/search";
@import "partials/compare";
@import "partials/flash_banner";
@import "partials/header";
@import "partials/sidebar_left";
@import "partials/sidebar_right";
@import 'partials/reg_text';
@import 'partials/reg_part_homepage';
@import "partials/footer";
@import "partials/error_pages";
@import "partials/dropdown";
@import "partials/expanded_toc";
@import "partials/about";
@import "partials/browser_not_supported";
@import "partials/copy_link_tooltip";
