{% comment %}
    Used once per section. Contained by subparts at the top level.
{% endcomment %}
{% load string_formatters %}

<section aria-labelledby="{{ node.label | join:'-' }}-title" tabindex="-1" id="{{node.label | join:'-'}}" class="reg-section">
    <h2 class="section-title" id="{{ node.label | join:'-' }}-title">
        {% section_formatter cfr_title node.label as formatted_citation %}
        {% include "regulations/partials/copy-btn.html" with title=node.label btn_type="icon" formatted_citation=formatted_citation%}
        {{node.title}}
    </h2>

    <div class="paragraphs">
        {{node.text | safe}}
        {% for node in node.children %}
            {% include "regulations/partials/node_types/node.html" %}
        {% endfor %}
    </div>

</section>
