/* Placeholder for agency-specific modules (i.e. features) */

.recent-changes {
    margin-top: 30px;
    width: 100%;
    height: 175px;

    background: #F3F3F3;
    border-radius: 3px;

    padding: 30px;

    h1 {
        top: 26px;
        left: 32px;

        width: 90%;
        height: 20px;
        margin: 0px;
        
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        
        color: #212121;
    }

    p {
        padding-left: 20px;
    }

    a.change-link {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        color: #046791;

        text-decoration: none;
    }
}
