/*
Reg-Landing.scss
==========================================================================
reg-landing.scss contains styles specific to the regulation landing page
*/

.reg-part-homepage {
  margin-top: 250px;

  h1 {
    @include serif-font-bold;
  }
}

.banner-text {
  @include sans-font-regular;
  font-size: 2em;
  line-height: 1.3;
  padding: 0 0 .5em 0;
  margin-top: .6em;
}

.landing {
  h4 {
    @include sans-font-regular;
    display: inline;
    font-size: 1.125em;
    text-transform: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
  }

  h5 {
    color: $black;
    text-transform: none;
    margin-bottom: 0.5em;
  }

  p,
  li {
    @include sans-font-regular;
  }

  .effective-date {
    display: block;
    margin-top: 4px;
  }

  .landing-contact-info {
    margin-top: -1em;
    margin-bottom: 40px;

    ul {
      margin-bottom: 0;
    }

    h4 {
      @include sans-font-bold;
    }
  }
}

.landing-curent-link {
  a {
    @include sans-font-bold;
    display: inline-block;
    line-height: 20px;
  }
}

.landing-curent-link:after {
  padding-top: 2em;
  height: 1px;
  display: block;
  border-bottom: 1px solid $gray_light;
  content: '';
}

// Tags
.reg-tags {
  width: 50%;
  padding-right: 30px;
  float: left;
  margin-bottom: 1em;
}

.tag-list {
  margin-top: 0;

  li {
    margin-top: 0.5em;
    list-style: square;
  }
}

.list-header {
  font-size: 1.125em;
  margin-bottom: 0;
}

// Sidebar


.homepage-sidebar .regs-meta .expandable {
  cursor: pointer;
  background-color: $white;

  &:hover h4 {
    color: $primary_color;
  }

  h4 {
    color: $primary_color_dark;
  }

  &.open h4 {
    color: $action_color_dark;

    &:hover h4 {
      color: $primary_color;
    }
  }
}  

.landing-sidebar {

  .regs-meta {
    border-bottom: none;
  }

  h3 {
    @include sans-font-regular;
    font-size: 1.285714286em;
    margin: 1.6em 0 1em 0;
  }

  h4 {
    color: $black;
    text-transform: none;
    margin-bottom: 0.5em;
    @include sans-font-bold;
    letter-spacing: normal;
  }

  ul {
    margin-bottom: 2em;
  }

  li {
    margin-top: 0.5em;
  }
}

// Main Content Area
.disclaimer,
.about-the-tool,
.feedback {
  p,
  li {
    font-size: 0.875em;
  }

  ul {
    @include reset;
  }
}

.disclaimer {
  margin: 40px 0;
}

.effective-alert {
  padding: 10px;
}

// Important Topics

.topics-include {
  margin-top: 2em;
  max-width: 600px;

  h4.topics {
    color: $medicare_blue_dark;
    @include serif-font-bold;
    margin-bottom: .8em;
  }

  .list-header {
    color: $action_color_dark;
    transition: .3s;
    font-weight: 400;

    &:hover {
      color: $primary_color;
      cursor: pointer;
    }
  }

  .toggle a {
    color: $action_color_dark;
    transition: .3s;

    &:hover {
      color: $primary_color;
    }
  }

  .button[aria-expanded="true"] h4 {
    color: $primary_color_dark;
  }

  .toggle-button-open, 
  .toggle-button-close {
    float: right;
  }
}

@media only screen and (min-width: 1000px) {
  .alert_effective-date {
    float: left;
  }

  .alert_view-link {
    float: right;
  }
}

.about-the-tool {
  margin: 40px 0;
}

// Small screens
@media only screen and (max-width: 780px) {
  .reg-tags {
    width: 100%;
    padding-right: none;
    float: none;
  }

  .secondary-content .landing-sidebar .alert {
    margin-top: 0;
    border-top: 1px solid $gray_light;
  }
}

.recent-changes {
  margin-top: 50px;
  width: 600px;
  height: 175px;
  
  background: #F3F3F3;
  border-radius: 3px;

  padding: 30px;

  p {
    top: 26px;
    left: 32px;

    width: 480px;
    height: 20px;
    margin: 0px;
    
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    
    color: #212121;
  }

  ul {
    list-style-type: none;
    position: absolute;
    width: 471px;
    height: 84px;
    margin: 0px;
  }

  li {
    width: 471px;
  }

  a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #046791;
  }
}
