/*
 Universal Landing
 ==========================================================================
 universal-landing.scss defines styles for the application landing page
 */

/* offset the persistent header */
.landing-content {
  margin-top: $site_homepage_height;
  @include sans-font-regular;

  a {
    color: $medicare_blue_light;
    text-decoration: underline;

    &:hover {
      color: $medicare_blue_lightest;
    }
  }

  .disclaimer {
    margin-top: 1em;
  }
}

/*
 Hero
 =======
 the hero is the large graphic/information area
 */

.hero {
  background-color: $medicare_teal;
  overflow: hidden;
  @include sans-font-regular;
  @include border-bottom-light;
  color: $white;
  padding: 2em 0;

  .inner-wrap {
    background: url('../img/talk.png') 96% 50% no-repeat;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero .inner-wrap {
    background: url('../img/talk@2x.png') 96% 50% no-repeat;
    background-size: 200px 200px;
  }
}

@media only screen and (max-width: 875px) {
  .hero .inner-wrap {
    background: none;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero .inner-wrap {
      background: none;
    }
  }
}

.hero-header {
  font-size: 2.125em;
  @include sans-font-regular;
}

.hero-text {
  max-width: 600px;

  p {
    font-size: 1.125em;
    margin-top: 0;
  }
}  

.read-more-link {
  margin-bottom: 2em;
}

/*
 Regulations List
 ================
*/

.landing-main .content-primary {
  color: $primary_color_dark;
  width: 80%;

  .small-header.light-header {
    font-size: 2.2em;
    @include serif-font-bold;
  }

  h3 {
    @include sans-font-regular; 
    font-size: 1em;
    line-height: 1.4em;
  }
} 

.reg-list {
  margin-top: 1em;
  @include reset;

  li {
    display: block;
    margin: 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $medicare_gray_light;
    }
  }

  a {
    display: table;
    height: 94px;
    width: 100%;
    padding: 15px;
    line-height: 60px;
  }

  a:link,
  a:visited {
    color: $action_color_dark;
  }

  a:hover,
  a:active,
  a:focus {
    background-color: $medicare_gray_lightest;
  }

  .title-num {
    @include reset;
    display: block;
    height: 100%;
    float: left;
    @include sans-font-bold;
    font-size: 1.375em;
    margin-right: 36px;
  }

  .reg-sub-title {
    display: block;
    float: left;
    max-width: 75%;
  }

  .reg-major-text {
    display: block;
    font-size: 1.375em;
  }

  .fa-chevron-right {
    display: block;
    float: right;
    line-height: 60px;
    color: $action_color_dark;
    font-size: 1.25em;
  }

  .mini-alert {
    display: block;
    margin-left: 100px;
    margin-bottom: 0.5em;
    padding: 0.5em 15px 0 0;
    @include border-top-light;
    font-size: 0.875em;
    clear: both;
    overflow: auto;

    a {
      display: inline-block;
      float: right;
      color: $blue_light;
      margin: 0;
      padding: 0;
      height: auto;
      width: auto;

      &:hover {
        background-color: inherit;
      }
    }
  }
}

/*
 Sidebar
 ========
*/

.notices {
  @include reset;
  @include sans-font-regular;
  font-size: 0.875em;
  min-height: 250px;
}

/*
 About/Information area
 ======================
*/

.about {
  padding-bottom: 3em;

  h3 {
    @include reset;
  }

  a {
    color: $action_color_dark;

    &:hover {
      color: $primary_color_dark;
    }
  }
}

.landing-main .content-primary.disclaimer {
  color: $primary_color;
  margin-top: 4em;

  h5 {
    @include serif-font-bold;
    text-transform: none;
  }
}

/*
 Secondary Well
 --------------
*/

.secondary {
  .well {
    font-size: 0.875em;

    ul {
      @include reset;
    }
  }
}

.contact {
  ul {
    padding: 0;
  }
}

/*
Small screens
-------------
*/

@media only screen and (max-width: 900px) {

  .hero-text {
    max-width: 100%;
  }

  .landing-main .content-primary {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {

  .banner-text {
    margin-top: 50px;
    font-size: 1.625em;
  }

  .disclaimer,
  .about-the-tool,
  .feedback {
    p,
    li {
      font-size: 1em;
    }
  }

  .landing-main .content-primary .small-header.light-header {
    font-size: 1.9em;
  }

  .reg-list {
    .title-num {
      height: auto;
      float: none;
      display: inline-block;
      margin-right: .5em;
    }

    .reg-sub-title {
      display: inline-block;
      float: none;
      margin-right: 0;
      padding-right: 0;
    }

    .reg-letter {
      display: block;
      float: none;
      width: 80%;
      margin-right: 0;
      padding-right: 0;
    }

    a {
      height: 60px;
      position: relative;
      line-height: 30px;
    }

    .fa-chevron-right {
      line-height: 35px;
    }
  }
}

.recent-changes {
  margin-top: 10px;
  width: 794px;
  height: 175px;
  
  background: #F3F3F3;
  border-radius: 3px;

  padding: 30px;

  p {
    top: 26px;
    left: 32px;

    width: 578px;
    height: 20px;
    margin: 0px;
    
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    
    color: #212121;
  }

  ul {
    list-style-type: none;
    position: absolute;
    width: 656px;
    height: 84px;
    margin: 0px;
  }

  li {
    width: 656px;
  }

  a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: #046791;

    text-decoration: none;
    transition: none; 
  }

  a:hover,
  a:active,
  a:focus {
    background-color: unset;
  }
}
