{% extends "regulations/base.html" %}
{% load static %}
{% block title_prefix %}
    Get Account Access |
{% endblock title_prefix %}
{% block header %}
    {% include "regulations/partials/header.html" %}
{% endblock header %}
{% block body %}
    <div class="site-container">
        <main class="get-account-access">
            <h1>Get access to internal documents</h1>
            <aside class="login-invite">
                Already have an eRegulations job code?
                <sign-in-link
                    custom-login-url="{% url 'custom_login' %}"
                    home-url="{% url 'homepage' %}"
                    is-authenticated="{{ user.is_authenticated }}"
                    link-label="Sign in through IDM"
                    location="{{ location }}"
                ></sign-in-link>.
            </aside>
            <section>
                <p>
                    CMCS staff with policy-related responsibilities may
                    request access to view and manage internal policy
                    reference documents in eRegulations.
                </p>
                <p>
                    These internal documents are <strong>only available
                        to CMCS staff who sign into eRegulations through CMS
                        IDM.</strong> Before signing in for the first time,
                    CMCS staff need to request and be approved for an EUA
                    job code for eRegulations.
                </p>
            </section>
            <section class="access-list">
                <h2>Request access for CMCS staff</h2>
                <ol>
                    <li>
                        Sign in to the <a href="https://eua.cms.gov/">CMS EUA website</a>.
                    </li>
                    <li>
                        Click <strong>Modify My Job Codes</strong>.
                    </li>
                    <li>
                        Read the screen text, check the Confirmation (Required) checkbox, and click <strong>Next</strong>.
                    </li>
                    <li>
                        Scroll to the bottom of the Modify My Job Codes: My Job Codes screen and click <strong>Add a Job Code</strong>.
                    </li>
                    <li>
                        To find the job code, enter the following in the “Search for a group” box:
                        <ol>
                            <li>
                                Select <strong>Job Code</strong> from the first drop-down menu.
                            </li>
                            <li>Select = from the middle drop-down menu.</li>
                            <li>Type or copy EREGS_EDITOR_PRD into the empty field.</li>
                            <li>Click Search to the right of the job code field.</li>
                        </ol>
                    </li>
                    <li>
                        Click the checkbox to confirm the job code, then click <strong>Select</strong> to move to the next screen.
                    </li>
                    <li>
                        At this Modify My Job Codes: My Job Codes screen, do not click any checkboxes. Scroll to the bottom and click <strong>Next</strong>.
                    </li>
                    <li>
                        At the Modify My Job Codes: My Job Codes screen:
                        <ol>
                            <li>
                                Enter a response in the <strong>Justification Reason</strong> field. Suggested language: I’m a CMCS staff member in [group and division name]. I am an eRegulations user and need access to internal policy repository documents for [reason].
                            </li>
                            <li>
                                At the <strong>Is Job Code Temporary</strong> radio box, select <strong>No</strong>.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Click <strong>Finish</strong>.
                    </li>
                    <li>
                        Your job code request may take several days to process. When approved, you will receive an email with an update, and can then <a href="https://eregulations.cms.gov/login/">sign in</a> to eRegulations. If you do not receive this email within 2 weeks, please contact Stephanie Boyd (<a href="mailto:stephanie.boyd@cms.hhs.gov">stephanie.boyd@cms.hhs.gov</a>).
                    </li>
                </ol>
            </section>
        </main>
    </div>
{% endblock body %}
