{% extends "regulations/base.html" %}
{% load static %}
{% load render_nested %}

{% block title %}Medicaid &amp; CHIP eRegulations - A CMCS Pilot Project{% endblock %}

{% block body_class %}site-homepage{% endblock %}

{% block pre_header %}
    <a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block header %}
    <header id="header" class="sticky">
        {% include "regulations/partials/header.html" %}
    </header>
{% endblock %}

{% block body %}
    <main class="homepage">
        <!-- Scroll down button - temporarily commenting out for demo purposes -->
        <!-- <div class="toc-down smooth-scroll">
            <a href="#homepage-toc" id="toc-down-arrow"><img src="{% static 'images/down-arrow.svg' %}" alt="Down to Table of Contents"/></a>
        </div> -->

        <div class="hero-banner">
            <div class="site-container hero-content">
                {% include "regulations/partials/jump_to.html" with parts=regulations title=cfr_title_number.0 %}
                <p class="hero-text">Explore this site as a supplement to existing policy tools. <a href="{% url 'about' %}#automated-updates">How this tool is updated.</a></p>
            </div>
        </div>

        <div class="site-container homepage-main-content" id="main-content">
            <div class="ds-l-row">

                <div class="homepage-toc ds-l-col--8" id="homepage-toc">

                    <div class="toc-container">

                        {% for title in structure %}

                            <h1> {{title.label}} </h1>

                            {% for child in title.children %}
                                {% render_nested "regulations/homepage/"|add:child.type|add:".html" "regulations/homepage/child.html" context=child title=title.identifier.0 %}
                            {% endfor %}

                        {% endfor %}

                        <p class="toc-external-ref">For subsequent subchapters (F-I), see <a href="https://www.ecfr.gov/current/title-42/chapter-IV" target="_blank" class="external" aria-label="link to Federal Register Title 42 Chapter 4">Title 42 Chapter IV in eCFR</a></p>

                    </div>    

                </div>

                <aside class="homepage-updates ds-l-col--4">
                    {% if regulations %}
                        {% include "regulations/partials/recent_changes.html" %}
                    {% endif %}
                </aside>

            </div>
        </div>
    </main>

{% endblock %}

{% block post_footer %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="{% static '/js/eregs-main.iife.js' %}"></script>
{% endblock %}
