{% extends "regulations/base.html" %}
{% load static %}
{% load render_nested %}

{% block title_prefix %}{% endblock %}

{% block body_class %}site-homepage--update{% endblock %}

{% block pre_header %}
<a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block header %}
    {% include "regulations/partials/header.html" %}
{% endblock %}

{% block body %}
<main>
    <nav id="placeholderNav"></nav>
    <left-nav-collapse contents-description="table of contents">
        <template #nav-contents>
            <toc-container
                api-url="{{ API_BASE }}"
                home-url="{% url 'homepage' %}"
            ></toc-container>
        </template>
    </left-nav-collapse>
    <div id="main-content">
        <div class="top-container">
            <div class="cta__container">
                <div class="cta">
                   
                    <div class="about-text__container">
                        <p>
                            Policy Connector organizes together regulations,
                            subregulatory guidance, and other related policy
                            materials.
                        </p>
                        <a
                            href="{% url 'about' %}"
                            class="action-btn default-btn link-btn"
                            >Learn About This Tool</a
                        >
                    </div>
                </div>
            </div>
            <div class="cta__container">
                <div class="cta">
                    <div class="resources__container">
                        <recent-resources
                            api-url={{ API_BASE }}
                            home-url="{% url 'homepage' %}"
                        ></recent-resources>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-signup__container">
            <div class="contact-signup">
                <div class="contact-signup__column contact__column">
                    <div class="column__icon contact__icon">
                        <img
                            src="{% static 'images/home_icon_contact.svg' %}"
                            alt="Text messaging bubbles"
                        />
                    </div>
                    <div>
                        <h4 class="ds-text-heading--lg">Contact</h4>
                        <p>
                            Send questions and suggestions about this website
                            (including bug reports), or schedule a presentation or
                            training for your group.
                        </p>
                        <a
                            class="contact external"
                            href="{{ SURVEY_URL }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Contact the team</a
                        >
                    </div>
                </div>
                <div class="contact-signup__column signup__column">
                    <div class="column__icon signup__icon">
                        <img
                            src="{% static 'images/home_icon_testing.svg' %}"
                            alt="A computer screen displaying two beta testing versions of the website"
                        />
                    </div>
                    <div>
                        <h4 class="ds-text-heading--lg">Sign Up For Testing</h4>
                        <p>Try new features and help make them better.</p>
                        <a
                            class="contact external"
                            href="{{ SIGNUP_URL }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Sign up for a session</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
