{% extends "regulations/base.html" %}
{% load static %}
{% load render_nested %}

{% block title %}Medicaid &amp; CHIP eRegulations - A CMCS Pilot Project{% endblock %}

{% block body_class %}site-homepage{% endblock %}

{% block pre_header %}
    <a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block header %}
    <header id="header" class="sticky">
        <header-component
            home-url="{% url 'homepage' %}"
        >
            <jump-to
                slot="jump-to"
                apiurl="{{ API_BASE }}"
            ></jump-to>
            <header-links
                slot="links"
                about-url="{% url 'about' %}"
                resources-url="{% url 'resources' %}"
            ></header-links>
            <header-search
                slot="search"
                search-url="{% url 'search' %}"
            ></header-search>
        </header-component>
    </header>
{% endblock %}

{% block body %}
    <main class="homepage">
        <!-- Scroll down button - temporarily commenting out for demo purposes -->
        <!-- <div class="toc-down smooth-scroll">
            <a href="#homepage-toc" id="toc-down-arrow"><img src="{% static 'images/down-arrow.svg' %}" alt="Down to Table of Contents"/></a>
        </div> -->

        <div class="hero-banner">
            <div class="site-container hero-content">
                <div class="call-to-action">Look up policy with context.</div>
                <p class="hero-text">Explore this site as a supplement to existing policy tools. <a href="{% url 'about' %}#automated-updates">How this tool is updated.</a></p>
            </div>
        </div>

        <div class="site-container homepage-main-content" id="main-content">
            <div class="ds-l-row">

                <div class="homepage-toc ds-l-col--8" id="homepage-toc">

                    <div class="toc-container">

                        {% for title in structure %}
                            <div class="toc-title-container">
                                <h1> {{title.label}} </h1>

                                {% for child in title.children %}
                                    {% render_nested "regulations/homepage/"|add:child.type|add:".html" "regulations/homepage/child.html" context=child API_BASE=API_BASE title=title.identifier.0 %}
                                {% endfor %}
                            </div>
                        {% endfor %}

                    </div>    

                </div>

                <aside class="homepage-updates ds-l-col--4">
                    {% if regulations %}
                        {% include "regulations/partials/recent_changes.html" %}
                    {% endif %}
                </aside>

            </div>
        </div>
    </main>

{% endblock %}

{% block post_footer %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="{% static '/js/eregs-main.iife.js' %}"></script>
{% endblock %}
