{% extends "regulations/base.html" %}
{% load static %}
{% block custom_styles %}
    <link rel="stylesheet" href="{% static '/vite/index.css' %}" />
{% endblock %}
{% block title_prefix %}Single sign-on to CMCS |{% endblock %}
{% block header %}
    {% include "regulations/partials/header.html" with location="login_page" %}
{% endblock %}
{% block body %}
    <div class="site-container">
        <main class="login">
            <section>
                <h1>Sign in with your CMS account</h1>
                <form action="{% url 'oidc_authentication_init' %}" method="get">
                    <input type="hidden" name="next" value="{{ next }}">
                    <button type="submit" class="action-btn default-btn">Continue to CMS IDM</button>
                </form>
                <p data-testid="new-user-msg">New to signing in to eRegulations? <a data-testid="new-user-link" href="{% url 'get_account_access' %}">Get account access</a>.</p>
            </section>
        </main>
    </div>
{% endblock %}
