{% extends "regulations/base.html" %}
{% load static %}
{% load render_nested %}
{% load url_formatters %}
{% load string_formatters %}

{% block outside_vue %}
    {{ categories|json_script:"categories" }}
    {{ node_list|json_script:"node_list" }}
{% endblock %}

{% block pre_header %}
    <a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block header %}
    {% include "regulations/partials/header.html" %}
{% endblock %}

{% block body %}
    <div class="content">
        {% include "regulations/partials/view-and-compare.html" %}
        <div class="flexbox">
            <aside tabindex="-1" class="left-sidebar match-sides" data-state="expanded" data-state-name="left-sidebar">
                {% include "regulations/partials/sidebar_left/subpart.html" %}
            </aside>

            <main class="reg-text match-middle" id="main-content">
                {% ecfr_part_url_formatter title reg_part as ecfr_part_url %}
                <p class="up-to-date{{ subpart|yesno:" subpart," }}{{ appendix|yesno:" appendix," }}">
                <a href="{{ecfr_part_url}}" target="_blank" rel="noopener noreferrer" class="external">
                    {{ toc.label_level }} up to date from eCFR
                </a> as of {{ parser_last_success|parser_success_date_formatter }}{% if is_latest_version and has_meaningful_latest_version_date %}<span class="latest-version">; last amended </span>{{ formatted_latest_version }}{% endif %}.
                </p>
                {% include "regulations/partials/node_types/node.html" with resource_count=resource_count node=tree cfr_title=title citation=citation version=version %}
                {% include "regulations/partials/navigation.html" %}
            </main>

            <aside class="right-sidebar match-sides">
                {% include "regulations/partials/sidebar_right.html" %}
            </aside>
        </div>
    </div>
{% endblock %}
