{% extends "regulations/base.html" %}
{% load static %}

{% block pre_header %}
    <a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block header %}
    <header id="header" class="sticky">
        <header-component
            home-url="{% url 'homepage' %}"
        >
            <jump-to
                slot="jump-to"
                part="{{ part }}"
                title="{{ title }}"
                apiurl="{% url 'regcore' %}"
            ></jump-to>
            <header-links
                slot="links"
                about-url="{% url 'about' %}"
                resources-url="{% url 'resources' %}"
            ></header-links>
            <header-search
                slot="search"
                apiurl="{% url 'regcore' %}"
            ></header-search>
        </header-component>
    </header>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="flexbox">

            <aside tabindex="-1" class="left-sidebar match-sides" data-state="expanded" data-state-name="left-sidebar">
                {% include "regulations/partials/sidebar_left/subpart.html" %}
            </aside>

            <main class="reg-part-homepage match-middle" id="main-content">
                <div class="reg-part-toc">
                    {% include content %}
                </div>
    	    </main>

        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="toc-footer">
        {% include "regulations/partials/footer.html" %}
    </footer>
{% endblock %}

{% block post_footer %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="{% static '/js/eregs-main.iife.js' %}"></script>
{% endblock %}
