{% extends "regulations/base.html" %}
{% load static %}

{% block pre_header %}
    <a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block header %}
    {% include "regulations/partials/header.html" %}
{% endblock %}

{% block body %}
    <div class="content">
        <div class="flexbox">

            <aside tabindex="-1" class="left-sidebar match-sides" data-state="expanded" data-state-name="left-sidebar">
                {% include "regulations/partials/sidebar_left/subpart.html" %}
            </aside>

            <main class="reg-part-homepage match-middle" id="main-content">
                <div class="reg-part-toc">
                    {% include content %}
                </div>
    	    </main>

        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="toc-footer">
        {% include "regulations/partials/footer.html" %}
    </footer>
{% endblock %}
