{% extends "regulations/base.html" %}
{% load static %}
{% load string_formatters %}

{% block title %}Search for {{ q }} | Medicaid & CHIP eRegulations{% endblock %}

{% block body_class %}search-page{% endblock %}

{% block body %}
    <div class="content">
        <div class="flexbox search-page">

            <aside tabindex="-1" class="left-sidebar match-sides" data-state="collapsed" data-state-name="left-sidebar">
                {% include "regulations/partials/sidebar_left/title.html" %}
            </aside>

            <main class="match-middle">
                <div class="container">
                    <div class="search-context">This site searches Title 42: Parts 400, 430-460</div>

                    <form class="search-box" action="{% url 'search' %}">
                        <input id="search-field" type="text" name="q" placeholder="Search Regulations" value="{{ q }}"></input>
                        <button type="button" class="search-reset" id="search-reset" aria-label="Reset search query">
                            <i class="fa fa-times"></i>
                        </button>
                        <button type="submit" class="search-submit" aria-label="Submit a search">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>

                    {% if  unquoted_search %}
                        <div class="search-suggestion">
                            Didn't find what you were looking for? Try searching for
                            <a href="{% url 'search' %}?q=%22{{ query }}%22">"{{ query }}"</a>
                        </div>
                    {% endif %}

                    {% if synonym.filtered_synonyms.count %}
                        <div class="search-suggestion">
                            {% if unquoted_search %}
                                Or search
                            {% else %}
                                Search
                            {% endif %}
                            for similar terms:
                            {% for syn in synonym.filtered_synonyms %}
                                <a href="{% url 'search' %}?q=%22{{ syn }}%22">{{ syn }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="search-displayed-by">{{ results | length }} results, displayed by relevance</div>

                    <div class="search-results">
                        {% for result in results %}
                            {% if result.label|length > 1 %}
                            <div class="result">
                                <!--{{ result.rank }}-->
                                <div class="results-part">{{ result.part.document.title | title}}</div>
                                <div class="results-section">
                                    <a href="{% url 'reader_view' result.part.title result.label.0 result.label.1 result.part.date %}#{{ result.label | join:'-' }}">
                                        {{ result.parentHeadline | stripSurroundingQuotes | safe }}
                                    </a>
                                </div>
                                <div class="results-preview">{{ result.headline | safe }}</div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block post_footer %}
    <script src="{% static '/js/main.build.js' %}"></script>
{% endblock %}
