{% extends "regulations/spa_base.html" %}
{% load static %}
{% load string_formatters %}

{% block title_prefix %}Search {% if q %}for {{ q }} {% endif %}| {% endblock %}

{% block pre_header %}
    <a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block body %}
<div
    id="vite-app"
    data-access-url="{% url 'get_account_access' %}"
    data-admin-url="{% url 'admin:index' %}"
    data-api-url="{{ API_BASE }}"
    data-about-url="{% url 'about' %}"
    data-custom-login-url="{% url 'custom_login' %}"
    data-default-title="{{ default_title }}"
    data-site-root="{{ SITE_ROOT }}"
    data-home-url="{% url 'homepage' %}"
    data-host="{{ host }}"
    data-is-authenticated="{{ user.is_authenticated }}"
    data-manual-url="{% url 'manual' %}"
    data-search-url="{% url 'search' %}"
    data-statutes-url="{% url 'statutes' %}"
    data-subjects-url="{% url 'subjects' %}"
    data-obbba-url="{% url 'obbba' %}"
    data-survey-url="{{ SURVEY_URL }}"
    data-username="{{ user.username }}"
></div>
{% endblock %}
