{% extends "regulations/base.html" %}
{% load static %}
{% csrf_token %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static '/vite/index.css' %}?{{ DEPLOY_NUMBER }}" />
{% endblock %}

{% block outside_vue %}
    <div id="logoutContainer">
        {% include "regulations/partials/logout_form.html" %}
    </div>
{% endblock %}

{% block footer %}
    <footer>
        {% include "regulations/partials/footer.html" with spa_footer=True %}
    </footer>
{% endblock %}

{% block post_footer %}
    <script src="{% static '/vite/index.js' %}?{{ DEPLOY_NUMBER }}"></script>
{% endblock %}
