{% extends "regulations/spa_base.html" %}
{% load static %}
{% load string_formatters %}

{% block title_prefix %}Statute Reference | {% endblock %}

{% block outside_vue %}
    {{ site_config|json_script:"site_config" }}
{% endblock %}

{% block pre_header %}
    <a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block body %}
<div
    id="vite-app"
    data-api-url="{{ API_BASE }}"
    data-about-url="{% url 'about' %}"
    data-custom-url="{{ CUSTOM_URL }}"
    data-home-url="{% url 'homepage' %}"
    data-search-url="{% url 'search' %}"
    data-subjects-url="{% url 'subjects' %}"
    data-host="{{ host }}"
></div>
{% endblock %}
