{% extends "regulations/spa_base.html" %}
{% load static %}
{% load string_formatters %}

{% block title %} {% if subject_name %} {{ subject_name }} | {% endif %}Find by Subject | Medicaid &amp; CHIP eRegulations{% endblock %}

{% block spa_styles %}
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/vite/index.css' %}" />
{% endblock %}

{% block blocking_modal %}{% endblock %}

{% block flash_banner %}{% endblock %}

{% block pre_header %}
    <a class="ds-c-skip-nav" href="#main-content">Skip to main content</a>
{% endblock %}

{% block body %}
<div
    id="vite-app"
    data-api-url="{{ API_BASE }}"
    data-about-url="{% url 'about' %}"
    data-custom-login-url="{% url 'custom_login' %}"
    data-custom-url="{{ CUSTOM_URL }}"
    data-home-url="{% url 'homepage' %}"
    data-search-url="{% url 'search' %}"
    data-statutes-url="{% url 'statutes' %}"
    data-subjects-url="{% url 'subjects' %}"
    data-host="{{ host }}"
    data-is-authenticated="{{ is_authenticated }}"
    data-has-editable-job-code="{{ has_editable_job_code }}"
></div>
{% endblock %}
