{% load static %}

<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_ID }}"></script>
        <script>
            window["ga-disable-{{ GA_ID }}"] = {{ AUTOMATED_TEST | yesno:"true,false" }};
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag("js", new Date());
            gtag("config", "{{ GA_ID }}");
        </script>
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="article:published_time" content="{{ pub_time }}" />
        <meta property="article:modified_time" content="{{ mod_time }}" />
        {% if not allow_indexing %}<meta name="robots" content="noindex" />{% endif %}
    </head>
    <body>
        <script type="text/javascript">
            window.location = '{% autoescape off %}{{ redirect_link }}{% endautoescape %}';
        </script>
    </body>
</html>
