{% for section in sections %}
<section id="help" class="regs-meta">
  <header class="expandable group">
    <h4 tabindex="0">{{ section.header }}</h4>
    <a href="#" tabindex="0"><span class="icon-text">Show/Hide Contents</span></a>
  </header>
  <div class="chunk expand-drawer start-collapsed">
    <div class="sidebar-subsection">
      <section id="guidance" class="regs-meta">
        <div class="sidebar-subsection">
          <ul class="guidance-list">
            {% for link in section.links %}
            <li>
              <a target="_blank" href="{{ link.href }}">{{ link.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div> <!-- /.sidebar-subsection-->
      </section> <!-- /.regs-meta -->
    </div> <!-- /.sidebar-subsection-->
  </div> <!-- /.expand-drawer-->
</section> <!-- /.regs-meta -->
{% endfor %}
