cryptography
pyopenssl
Werkzeug
boto3
django-debug-toolbar
django>=5.1
requests
djangorestframework
psycopg2-binary
django-solo
python-dateutil
django-cors-headers
drf-spectacular
django-model-utils
django-jsonform
django-csp
httpx
ruff
pytest
pytest-django
pre-commit
defusedxml
mozilla-django-oidc
boto3
django-storages
pytest-cov
djangorestframework_simplejwt
olefile
natsort
pgvector
