<!-- desktop -->
<div class="flexbox header-large">
    <div class="title-container">
        {% include "regulations/partials/header/site-title.html" %}
        {% include "regulations/partials/header/reg-title.html" %}
    </div>

    <div class="search-header">
        {% include "regulations/partials/header/search-input.html" with class="search-box"%}
    </div>
</div>

<!-- mobile -->
<div class="flexbox header-mobile">
    <!-- titles -->
    <div class="mobile-titles" data-state-name="header-mobile-titles" data-state="expanded">
        <div class="title-container">
            {% include "regulations/partials/header/site-title.html" %}
            {% include "regulations/partials/header/reg-title.html" %}
        </div>
    </div>

    <!-- open search button -->
    {% include "regulations/partials/header/toggle-button.html" with set_state="collapsed" state_name="header-mobile-titles" action="open" title="Search" %}

    <!-- close search button -->
    {% include "regulations/partials/header/toggle-button.html" with set_state="expanded" state_name="header-mobile-titles" action="close" title="Leave Search" %}

    <!-- search input -->
    {% include "regulations/partials/header/search-input.html" with class="search-borderless"%}
</div>
