{% load render_nested %}

<section id="right-sidebar" data-cache-key="sidebar" data-cache-value="{{label_id}}">
    {% include "regulations/partials/view-button.html" %}

    <h2>Part {{ reg_part }} Final Rules</h2>

    <related-rules class="related-rules" title="{{ title }}" part="{{ reg_part }}" limit="2"></related-rules>

    <h2>Subpart Resources</h2>

    <supplementary-content api_url="{% url 'regcore' %}" title="{{ title }}" part="{{ reg_part }}" {% if sections %}:sections="{{ sections }}"{% endif %}></supplementary-content>

</section>
