{% load string_formatters %}

<section id="right-sidebar" data-cache-key="sidebar" data-cache-value="{{label_id}}">
    {% include "regulations/partials/view-button.html" %}
    <h2>Part {{ reg_part}} Federal Register Documents</h2>

    {% sidebar_formatter title reg_part subpart as formatted_citation %}
    {% comment %}{% include "regulations/partials/copy-btn.html" with title=node.label btn_type="labeled-icon" %}{% endcomment %}
    {% comment %}<hr />{% endcomment %}

    <related-rules class="related-rules" title="{{ title }}" part="{{ reg_part }}" limit="2" ruletype="RULE"></related-rules>

    {% if node_list %}
    <h2 id="subpart-resources-heading">
        {% if type == "part" %} Part {{ reg_part }} {% endif %}
        {% if type == "subpart" %} Subpart {{ subpart }} {% endif %}
        Resources
    </h2>

    <supplemental-content
        api_url="{% url 'regcore' %}"
        title="{{ title }}"
        part="{{ reg_part }}"
        {% if node_list.sections %} :sections="{{ node_list.sections }}" {% endif %}
        {% if node_list.subparts %} :subparts="{{ node_list.subparts }}" {% endif %}
    ></supplemental-content>
    {% endif %}

</section>
