//-----------------------------
// About
//-----------------------------

@import "../application_settings";

main.about {
    display: block;
    margin: $spacer-3 auto $spacer-7;
    max-width: $text-max-width;

    section {
        margin-top: $spacer-5;
        clear: both;
    }

    .ds-l-container {
        padding: 0;

        img {
            margin-top: $spacer-2;
        }
    }

    h2 {
        color: $primary_color; 
    }

    .ecfr-graphic {
        border: 1px solid $border_color;
    }

    .subtitle {
        font-weight: 600;
    }

    .note {
        font-style: italic;
    }

    :target::before {       // Removes accomodation for the sticky header - delete if this page gets a sticky header
        margin-top: 0;
        height: auto;
    }

}
