@import "../application_settings";

.view-and-compare {
    padding: $spacer-2 $spacer-4;
    background-color: $secondary_color;
    color: $reverse_text_color;

    &[data-state="hide"] {
        display: none;
    }

    .view-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .view-title {
        font-weight: bold;
        border-right: 1px solid $border_color;
        padding-right: $spacer-4;
        margin-right: $spacer-4;
    }

    .view-select {
        padding-left: 10px;
        display: inline-block;

        select {
            border: none;
            padding: .8em $spacer-4 .8em $spacer-3;
            border-radius: 0;
        }
    }

    .close-button {
        position: absolute;
        right: $spacer-4;
        cursor: pointer;
        height: auto;

        svg path {
            fill: $secondary_reverse_link_color;
        }

        a {
          color: $secondary_reverse_link_color;

          &:hover {
            svg path {
                fill: $secondary_reverse_link_hover;
            }
          }
        }
    }
}
