
//-----------------------------
// Header
//-----------------------------

@import "../application_settings";

header {
	height: calc($header_height_mobile - $spacer-2);

	@include screen-lg {
		height: calc($header_height - $spacer-4);	
	}

	// Sticky Header and Content Adjustments

	&.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		background: $main_background_color;
		z-index: 9999999;
		box-shadow: 0 3px 10px 0px rgba(0,0,0,0.08);
		-webkit-box-shadow: 0 3px 10px 0px rgba(0,0,0,0.08);
		-moz-box-shadow: 0 3px 10px 0px rgba(0,0,0,0.08);

		.search-header {
			margin-right: 64px;
		}

		+ .content {						// Moves content/aside down so they're not covered by the sticky header 
			padding-top: $header_height_mobile; 

			@include screen-lg {
				padding-top: $header_height; 
			}	

		  	aside {
				top: $header_height_mobile;

				@include screen-lg {
					top: $header_height; 
				}
			}
		}

	}

	a {
		text-decoration: none;
		color: $secondary_link_color;

		&:visited {
			color: $secondary_link_color;
		}

		&:hover {
			color: $secondary_link_hover;
		}
	}

	.flexbox {
		align-items: center;
		display: block;	
		position: relative;

		@include screen-lg {
			display: flex;
		}
	}

	.site-title {
		padding-right: $spacer-2;
		margin-right: $spacer-2;
		font-size: $font_size_sm;
		font-weight: normal;

		@include screen-lg {
			border-right: 1px solid $border_color;
			font-size: $font-size-2xl;
			font-weight: bold;
			display: inline-block;
		}
	}

	.reg-title {
		display: block;
		flex: 2;
		padding-right: $spacer-2;
		font-size: $font-size-lg;

		@include screen-lg {
			font-size: $font-size-md;
		}

		a {
			max-width: $text-max-width;
			display: inline-block;
		}
	}

	.header-part-name {

		@include custom-max(1290) {
			display: none;
		}
	}
}

.search-header {
	float: right;
	margin-top: -$spacer-4;

	@include screen-lg {
		margin-top: 0;

		svg {
			display: none;
		}
	}

	.search-box {
		display: none;

	    @include screen-lg {
	        width: 250px;
	        display: inline-block;
	    }

	    @include screen-xl {
	        width: 310px;
	    }

	    @include screen-xxl {
	        width: 330px;
	    }

		input {
			border: 1px solid $border_color;
		}
	}
}

.search-header-mobile-open {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $main_background_color;
	z-index: 100;
	display: none;

	svg {
		display: inline-block;
		vertical-align: middle;
	}

	.search-borderless {
		margin: .7em 0 0 $spacer-3;
		display: inline-block;

		input {
			border: 0;
		}
	}
}
