//-----------------------------
// Main Reg Text View
//-----------------------------

@import "../application_settings";

.reg-text {
    overflow-wrap: break-word;
    overflow: auto;

    section,
    h1,
    h2,
    p {
        padding-left: 5px;
        &:focus {
            background: $reg_text_highlight_color;
        }
    }

    h1 {
        color: $title_color;
        font-size: $base-font-size * 1.5;
        line-height: 1.4;

        @include screen-xxl {
            font-size: $base-font-size * 1.9;
            line-height: 1.5;
        }
    }

    .reference {
        position: absolute;
        margin-left: -1.5em;
        opacity: 0;

        &:focus {
            opacity: 1;
        }
    }

    section.part-meta {
        font-size: $font-size-sm;
    }

    h1 > .reference,
    h2 > .reference {
        margin-left: -1.2em;

        @include screen-xxl {
            margin-left: -1.4em;
        }
    }

    :hover {
        > .reference {
            opacity: 1;
        }
    }

    .section-title {
        color: $primary_color;
    }

    .part-title {
        margin: $spacer-5 0 $spacer-3;
    }

    h2 {
        color: $title_color;
        font-size: $base-font-size * 1.2;

        @include screen-xxl {
            font-size: $font-size-2xl;
        }
    }

    fp-1,
    fp-2,
    fp-3,
    fp-4,
    fp-5,
    fp-6 {
        display: block;
        margin-bottom: 1em;

        su {
            font-size: 70%;
        }
    }

    .latest-version {
        margin: $spacer-5 0 10px;
        font-size: $font-size-sm;
        color: $mid_gray;

        @include screen-xxl {
            padding: 0 $spacer-6 0 5px;

            &.subpart {
                padding: 0 $spacer-6 + 5px;
            }
        }

        & + article {
            margin: 0 auto $spacer-5;
        }

        & + .part-title {
            margin: 0 auto $spacer-3;
        }
    }
}

article {
    max-width: $text-max-width;
    margin-top: $spacer-5;
    margin-bottom: $spacer-4;

    @include screen-xxl {
        margin: $spacer-5 auto;
        padding: 0 $spacer-6;
    }

    i {
        font-weight: bold;
    }

    p,
    section {
        padding: 0 $spacer-3 0 $spacer-3;

        @for $i from 1 through 10 {
            &.depth-#{$i} {
                $left-indent: $spacer-3 + $spacer-3 * ($i - 1);

                padding-left: $left-indent;

                // poor assumption: five contiguous section/img tags
                & + section,
                & + img {
                    padding-left: $left-indent;
                    & + section,
                    & + img {
                        padding-left: $left-indent;
                        & + section,
                        & + img {
                            padding-left: $left-indent;
                            & + section,
                            & + img {
                                padding-left: $left-indent;
                                & + section,
                                & + img {
                                    padding-left: $left-indent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .paragraphs {
        font-size: $font-size-sm;
        line-height: 1.4;

        @include screen-xl {
            font-size: $font-size-md;
            line-height: 1.5;
        }
    }

    .section-text {
        line-height: 1.8em;
        display: inline;
    }
}

.next-previous {
    display: flex;
    margin: $spacer-7 auto;

    .next-prev {
        direction: table-cell;
        width: 50%;
        text-decoration: none;

        &.previous {
            &:before {
                background-image: url("/images/previous.svg");
            }
        }

        &.next {
            text-align: right;

            &:before {
                background-image: url("/images/next.svg");
            }
        }
    }

    .next-prev-label {
        font-weight: bold;
    }

    .next-prev-title {
        font-size: $font-size-sm;
        color: $primary_text_color;
    }
}

.effective-date-note {
    font-size: 13px;
    line-height: 18px;
    color: $secondary_text_color;

    .effective-date-note-header {
        font-weight: bold;
        text-transform: capitalize;
    }
}
