
//-----------------------------
// Right Sidebar
//-----------------------------

@import "../application_settings";

aside.right-sidebar {
    padding-top: $spacer-5;
    max-width: 400px;
    position: sticky;
    height: 100vh;
    overflow-y: scroll;

    h2 {
        font-size: $font-size-xl;

       @include screen-xl {
            font-size: $base-font-size * 1.4;
        }

        @include screen-xxl {
            font-size: $font-size-2xl;
        }
    }

    #view-button {
        font-size: $base-font-size;
        color: $primary_link_color;
        border: 1px solid $primary_link_color;
        text-align: left;
        background: none;
        padding: $spacer-2 $spacer-3;
        border-radius: $border-radius;
        margin: 0 auto $spacer-2 auto;

        svg {
            display: inline-block;
            vertical-align: middle;

            rect,
            line {
                stroke: $primary_link_color;
            }

            path {
                fill: $primary_link_color;
            }
        }

        .button-inner-container {
            display: inline-block;
            padding-left: $spacer-1;
            vertical-align: middle;
            font-weight: 600;
            line-height: 1.4;
        }

        .button-subheader {
            font-weight: normal;
            font-size: $font-size-xs;
            color: $primary_text_color;
        }

        &:hover,
        &[data-state="show"] {
            color: $reverse_text_color;
            background: $secondary_link_color;
            cursor: pointer;
            @include transition;

            .button-subheader {
                color: $reverse_text_color;
            }

            svg {

                rect,
                line {
                    stroke: $reverse_text_color;
                }

                path {
                    fill: $reverse_text_color;
                }
            }
        }

        &[data-state="show"]:hover {
            color: $primary_link_color;
            background: none;
            cursor: pointer;
            @include transition;

            .button-subheader {
                color: $primary_text_color;
            }

            svg {

                rect,
                line {
                    stroke: $primary_link_color;
                }

                path {
                    fill: $primary_link_color;
                }
            }
        }
    }

    ul {
        list-style: none;
        padding: 0  0 $spacer-2 0;

        li {
            font-size: $font-size-sm;
            line-height: 1.3;

            @include screen-xl {
                font-size: $font-size-md;
                line-height: 1.4;
            }
        }
    }

    .resource-info {
        font-size: $font-size-sm;
        font-weight: normal;
        color: $primary_text_color;
        padding-right: $spacer-4;
    }

}

.related-rule-type {
    border-radius: 3px;
}

.related-rule-header {
    margin-bottom: $spacer-1;
    font-size: $font-size-sm;

    @include screen-xxl {
        font-size: $font-size-md;
    }
}

.related-rule-date {
    color: $primary_link_color;
    font-weight: bold;
    padding-right: $spacer-1;
    margin-right: $spacer-1;
    border-right: 1px solid $title-color;
}

.related-rule-citation {
    color: $primary_link_color;
    font-weight: bold;
}

.related-rule-title {
    color: $primary_link_color;
    text-decoration: none;
    font-size: $font-size-sm;
}


.rules-with-preamble {
    max-height: 1000em;

    .related-rule-list {
        padding-left: $spacer-2;
        .related-rule {
            margin-bottom: $spacer-3;
        }
    }
}

.recent-change {
    margin: $spacer-2 0;
    font-size: $font-size-sm;

    a {
	text-decoration: none;
    }

    .recent-flag {
    }

    .recent-date {
	font-weight: bold;
    }

    .recent-fr {
	font-weight: bold;
    }

    .recent-title {
	margin-top: .2em;

	&:after {
	    @include external-link;
        }
    }
}

.supplementary-content {
    .supplementary-content-link {
        &:after {
            @include external-link;
        }
    }

    .supplementary-content-date {
        color: $primary_link_color;
        font-weight: bold;
        padding-right: $spacer-1;
        margin-right: $spacer-1;
        border-right: 1px solid black;
    }

    .supplementary-content-title {
        color: $primary_link_color;
        font-weight: bold;
    }

    .supplementary-content-description {
        color: $primary_link_color;
        text-decoration: none;
        font-size: $font-size-sm;
    }
}

.supplementary-content-category {
    width: 500px;
    display: table;

    .category {
        display: table-cell;
    }

    .category-title {
        margin: auto 0 auto 0;
        color: $primary_link_color;
        //font-weight: ;
        font-size: $font-size-lg;
    }

    .category-description {
        font-size: $font-size-sm;
        font-weight: normal;
        color: $primary_text_color;
        padding-right: $spacer-4;
    }

    .category-toggle {
        display: table-cell;

        &:hover {
            button {
                color: $reverse_link_hover;
                background: $reverse_background_lighter;
                @include transition;
            }
        }

        button {
            background: none;
            border: none;
            color: $reverse_link_color;
            cursor: pointer;
            margin-top: 4px;
            display: block;
            border-radius: $border-radius;
        }
    }
}

.show-more-button {
    color: $primary-link-color;
    border: none;
    background: none;
    font-size: $font-size-sm;
    cursor: pointer;
}
