//-----------------------------------
// Left Sidebar - Table of Contents
//-----------------------------------

@import "../application_settings";

// Partial-Specific Variables

$toc_toggles_width: 64px;

// Sidebar

aside.left-sidebar {
    color: $reverse_text_color;
    height: calc(100vh - #{$header-height});
    overflow-y: scroll;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: flex-basis 0.25s ease-out;

    &[data-state="expanded"] {
        @include custom-max($tablet-max / 1px) {
            + .reg-text .copy-tooltip {
                z-index: 0;
            }
        }
    }

    // Entire Sidebar Collapsed
    &[data-state="collapsed"] {
        width: 1em;
        padding: 0 1em 1em;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        div,
        h2,
        h3,
        h4,
        li > a {
            display: none;
        }

        div.toc-controls {
            // Buttons in the sidebar collapsed state - do not style the open state button here
            margin: 0 -1em;
            display: block;

            [data-set-state="collapsed"] {
                display: none;
            }

            [data-set-state="expanded"] {
                width: 100%;
                display: block;
            }
        }

        ul li.subtoc.active {
            background: none;
        }

        ul li.orphan {
            display: none;
        }
    }

    // Titles, Numbers

    .toc-titles {
        border-radius: $border-radius;
        padding: $spacer-1 0;
        margin: 0 $spacer-2;

        h3 {
            margin: $spacer-1 $spacer-1 $spacer-1 $spacer-2;
        }
    }

    .subpart-range {
        font-size: $font-size-sm;
    }

    .subpart-name {
        font-size: $font-size-sm;
        font-weight: normal;
        color: $reverse_text_color;
        padding-right: $spacer-4;
    }

    .toc-subgroup-list {
        padding-left: 0;
    }

    .toc-subgroup-name {
        margin-left: $spacer-4;
        margin-right: $spacer-2;
        font-size: $font-size-md;
    }

    .toc-section-number {
        font-size: $font-size-sm;
    }

    .toc-section-name {
        color: $reverse_text_color;
        font-weight: normal;
        font-size: $font-size-sm;
    }

    // Toggle Icons

    button.subpart-toggle {
        width: $toc_toggles_width;

        &:hover,
        &:focus {
            color: $reverse_link_hover;
            background: $reverse_background_lighter;
            @include transition;
        }

        background: none;
        border: none;
        color: $reverse_link_color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: $spacer-3 $spacer-2 $spacer-2; // Helps users by making the toggle target bigger, ~42px square
        margin-right: $spacer-2;
        border-radius: $border-radius;
    }

    // Ridiculous Nested Lists and Links

    ul {
        padding: 0 0 $spacer-2 0;

        li {
            list-style: none;
            //overflow: hidden;

            &.active {
                background: $reverse_background_darker;

                .subpart-info {
                    color: $reverse_text_color;
                }
            }

            a {
                text-decoration: none;
                font-weight: bold;
            }

            &.orphan {
                .menu-section {
                    margin-left: $spacer-2;
                    padding-left: $spacer-2;
                }
            }
        }
    }

    a {
        color: $reverse_link_color;

        &:hover,
        &:focus {
            color: $reverse_link_hover;
        }

        &.subpart-info {
            display: table-cell;
            width: calc(100% - #{$toc_toggles_width});

            &:hover,
            &:focus {
                .toc-titles {
                    background: $reverse_background_lighter;
                    @include transition;
                }
            }
        }
    }

    .menu-section {
        display: block;
        margin: 0 $spacer-2;
        border-radius: $border-radius;
        padding: 0.25em 1.6em;

        @include screen-xl {
            padding: $spacer-1 $spacer-4;
        }

        &:not(li.active ul a.menu-section) {
            &:hover,
            &:focus {
                background: $reverse_background_lighter;
            }
        }

        &.active {
            background: $reverse_background_lighter;
            border-left-color: $light_blue;
            border-left-style: solid;
        }

        li {
            padding: 0 $spacer-2;
        }
    }

    li.active ul a.menu-section:hover,
    li.active ul a.menu-section:focus {
        background: $reverse_background_lighter;
    }
}

// Controls (i.e. Collapse)

.toc-controls {
    border-bottom: 1px solid $secondary_border_color;

    button {
        outline: none;
        color: $reverse_link_color;
        border: none;
        background: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        padding: $spacer-2;
        border-radius: 0;

        &:hover,
        &:focus {
            background: $secondary_link_hover;
            color: $reverse_text_color;
            @include transition;
        }

        img {
            height: $base-font-size;
            padding-right: 5px;
            display: inline-block;
            vertical-align: middle;
            line-height: $font-size-md;
        }

        span {
            font-size: $font_size_xs;
            display: inline-block;
            vertical-align: middle;
            line-height: $font-size-md;
        }

        &[data-set-state="collapsed"] {
            padding-left: $spacer-3 + $spacer-2;
        }

        &[data-set-state="expanded"] {
            margin: 0 auto;
            display: none;
        }
    }
}

// Jump To Regulation Section

.jump-to {
    border-bottom: 1px solid $secondary_border_color;
    padding: $spacer-2 0 $spacer-4;
    margin: 0 $spacer-4;

    form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .jump-to-label {
        margin: $spacer-2 0 $spacer-1 0;
        font-size: $font-size-lg;
        font-weight: 600;
    }

    .jump-to-input {
        display: inline-block;

        select {
            display: inline-block;
            width: 70px;
            border: none;
        }
    }

    .dot {
        font-size: $font-size-2xl;
    }

    input {
        &.submit {
            display: inline-block;
            line-height: 1.3;
            padding: $spacer-1 $spacer-2;
            margin: 4px 0 4px 4px;
            background: $reverse_link_color;
            border: none;
            border-radius: $border-radius;
            cursor: pointer;

            &:hover,
            &:focus {
                background: $reverse_link_hover;
                @include transition;
            }
        }

        &.number-box {
            width: 60px;
            border: 0;
            display: inline-block;
            margin-right: $spacer-1;
        }
    }

    label {
        font-weight: 600;
        font-size: $font-size-lg;
    }
}
