//-----------------------------
// Right Sidebar
//-----------------------------

@import "../application_settings";

aside.right-sidebar {
    padding-top: $spacer-5;
    max-width: 400px;
    position: sticky;
    height: calc(100vh - #{$header_height_mobile} - #{$spacer-5});
    overflow-y: scroll;
    overflow-x: auto;

    @include screen-lg {
        height: calc(100vh - #{$header_height} - #{$spacer-5});
    }

    h2 {
        font-size: $font-size-lg;
        font-family: $primary_site_font;

        @include screen-xl {
            font-size: $base-font-size * 1.4;
        }

        @include screen-xxl {
            font-size: $font-size-2xl;
        }
    }

    #view-button {
        font-size: $base-font-size;
        color: $primary_link_color;
        border: 1px solid $primary_link_color;
        text-align: left;
        background: none;
        padding: $spacer-2 $spacer-3;
        border-radius: $border-radius;
        margin: 0 auto $spacer-2 auto;
        width: 100%;

        svg {
            display: inline-block;
            vertical-align: middle;

            rect,
            line {
                stroke: $primary_link_color;
            }

            path {
                fill: $primary_link_color;
            }
        }

        .button-inner-container {
            display: inline-block;
            padding-left: $spacer-1;
            vertical-align: middle;
            font-weight: 600;
            line-height: 1.4;
        }

        .button-subheader {
            font-weight: normal;
            font-size: $font-size-xs;
            color: $primary_text_color;
        }

        &:hover,
        &:focus,
        &[data-state="show"] {
            color: $reverse_text_color;
            background: $secondary_link_color;
            cursor: pointer;
            @include transition;

            .button-subheader {
                color: $reverse_text_color;
            }

            svg {
                rect,
                line {
                    stroke: $reverse_text_color;
                }

                path {
                    fill: $reverse_text_color;
                }
            }
        }

        &[data-state="show"]:hover {
            color: $primary_link_color;
            background: none;
            cursor: pointer;
            @include transition;

            .button-subheader {
                color: $primary_text_color;
            }

            svg {
                rect,
                line {
                    stroke: $primary_link_color;
                }

                path {
                    fill: $primary_link_color;
                }
            }
        }
    }

    ul {
        list-style: none;
        padding: 0 0 $spacer-2 0;

        li {
            font-size: $font-size-sm;
            line-height: 1.3;

            @include screen-xl {
                font-size: $font-size-md;
                line-height: 1.4;
            }
        }
    }

    .resource-info {
        font-size: $font-size-sm;
        font-weight: normal;
        color: $primary_text_color;
        padding-right: $spacer-4;
    }
}

.related-rule-type {
    border-radius: 3px;
}

.related-rule-header {
    margin-bottom: $spacer-1;
    font-size: $font-size-sm;

    @include screen-xxl {
        font-size: $font-size-md;
    }
}

.related-rule-date {
    color: $primary_link_color;
    font-weight: bold;
    padding-right: $spacer-1;
    margin-right: $spacer-1;
    border-right: 1px solid $title-color;
}

.related-rule-citation {
    color: $primary_link_color;
    font-weight: bold;
}

.related-rule-title {
    text-decoration: none;
    font-size: $font-size-sm;

    &:link .link-heading::after {
        @include external-link;
    }

    &:hover .link-heading::after {
        @include external-link-hover;
    }
}
.related-rule-list {
    padding-left: $spacer-2;
}
.rules-with-preamble {
    max-height: 1000em;

    .related-rule-list {
        .related-rule {
            margin-bottom: $spacer-3;
        }
    }
}

.recent-change {
    margin: $spacer-2 0;
    font-size: $font-size-sm;

    a {
        text-decoration: none;
    }

    .recent-date {
        font-weight: bold;
    }

    .recent-fr {
        font-weight: bold;
    }

    .recent-title {
        margin-top: 0.2em;

        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.supplementary-content {
    margin-bottom: 1em;

    .supplementary-content-link {
        text-decoration: none;
    }

    .supplementary-content-date {
        color: $primary_link_color;
        font-weight: bold;
        padding-right: $spacer-1;
        margin-right: $spacer-1;
        font-size: $font-size-sm;
    }

    .supplementary-content-mid-bar {
        border-right: 1px solid black;
    }

    .supplementary-content-title {
        color: $primary_link_color;
        font-weight: bold;
        font-size: $font-size-sm;
    }

    .supplementary-content-description {
        color: $primary_link_color;
        text-decoration: none;
        font-size: $font-size-sm;
    }

    .supplementary-content-external-link {
        &:after {
            @include external-link;
        }
    }
}

.supplementary-content-category {
    display: table;
    margin-bottom: 1em;

    .category {
        display: table-cell;
    }

    .category-description {
        font-size: $font-size-sm;
        font-weight: normal;
        color: $primary_text_color;
        padding-right: $spacer-4;
    }

    .category-toggle-container {
        display: table-cell;
    }

    .category-content {
        margin-top: 1em;
    }
}

button.collapsible-title {
    font-size: $font-size-md;
    font-weight: bold;
    padding-left: 0;
    background: none;
    border: none;
    color: $primary_link_color;
    cursor: pointer;
    margin-top: $spacer-2;
    display: block;
    border-radius: $border-radius;
    text-align: left;

    &.subcategory {
        font-size: $font-size-md;
    }

    &.visible {
        color: $dark-gray;
    }
}


.show-more-button {
    color: $primary-link-color;
    border: none;
    background: none;
    font-size: $font-size-sm;
    cursor: pointer;
    width: 100%;
    text-align: left;

    i{
        float:right
    }
}

.show-more-inactive {
    color: $secondary_text_color;
    font-size: $font-size-sm;
    margin-top:$spacer-2
}
