//-----------------------------
// Browser Not Supported
//-----------------------------

@import "../application_settings";

#browser-unsupported-modal {
    // don't display modal for most users
    display: none;

    // display for IE 10 and 11 users
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: block;

        // dismiss popup when user clicks "Close"
        // Note - this will only dismiss for current page.
        // Every page load on IE will re-trigger the dialog
        &[data-state="dismissed"] {
            display: none;
        }
    }

    .ds-c-dialog {
        margin-top: 12%;
    }

    .ds-c-dialog__close {
        float: right;
        cursor: pointer;
        z-index: 1000;
        position: relative;
    }
}

.browser-not-supported {
    text-align: center;
    font-size: $font-size-sm;
    padding: $spacer-2 $spacer-4;
    position: relative;
    z-index: 100;
    margin: 0 auto;

    @include custom-max(($width-sm - 1) / 1px) {
        padding: $spacer-2 0;
    }

    img {
        max-width: 100%;
        margin-top: -5px;

        &:hover {
            opacity: 0.8;
        }
    }

    a {
        text-decoration: none;
        font-weight: bold;

        &:visited {
            color: $primary_link_color;

            &:hover {
                color: $primary_link_hover;
            }
        }
    }

    h3 {
        margin: $spacer-4 0 0 0;
    }

    p {
        max-width: $text-max-width;
        margin: 0 auto;
    }
}
