<li class="{{ extra_class }}">
    {% if reserved %}
    <span class="menu-section">
        <div class="toc-section-number">{{ label_level }}</div>
        <div class="toc-section-name">[Reserved]</div>
    </span>
    {% else %}
    {% if subpart %}
    <a class="menu-section" href="{% url 'reader_view' title part subpart version %}#{{identifier|join:'-' }}" data-section-id="{{identifier|join:'-' }}" id="nav-{{identifier|join:'-'}}">
    {% else %}
    <a class="menu-section" href="{% url 'reader_view' title part identifier|join:'-' version %}" data-section-id="{{identifier|join:'-' }}" id="nav-{{identifier|join:'-'}}">
    {% endif %}
        <div class="flexbox">
            <span class="toc-section-number">{{ label_level }}</span>
            <span class="toc-section-name">{{label_description|safe}}</span>
        </div>
    </a>
    {% endif %}
</li>
