<li>
    {% if reserved %}
        <span class="menu-section">
          <div class="flexbox">
            <span class="toc-section-number">§ {{identifier|join:'.' }}</span>
            <span class="toc-section-name">[Reserved]</span>
          </div>
        </span>
    {% else %}
    <a class="menu-section" href="{% url 'reader_view' title identifier.0 subpart version %}#{{identifier|join:'-'}}" data-section-id="{{identifier|join:'-' }}" id="landing-nav-{{identifier|join:'-'}}">
          <div class="flexbox">
            <span class="toc-section-number">§ {{identifier|join:'.' }}</span>
            <span class="toc-section-name">{{label_description|safe}}</span>
          </div>
        </a>
    {% endif %}
</li>

