{% load render_nested %}
<li>
    <a href="{% url 'reader_view' title part identifier.0 version %}" class="{% if 'Reserved' in label_description %}reserved-subpart {% endif %}subpart-info">
        <h3 class="subpart-letter">{{label_level|safe}} <span class="subpart-name">- {{label_description|safe}}</span></h3>
    </a>
    <ul>
        {% for item in children %}
          {% render_nested "regulations/partials/expanded_toc/"|add:item.type|add:".html" context=item API_BASE=API_BASE subpart=identifier.0 title=title version=version part=part %}
        {% endfor %}
    </ul>
</li>
