{% load render_nested %}
<h1>{{ toc.label_description }}</h1>
<p class="last-updated">{{ toc.label_level }} last updated from <a href="https://ecfr.federalregister.gov/" class="external">eCFR</a> on {{ last_updated|date:"M d, Y" }}.</p>

<h2>Table of Contents</h2>

<ul class="table-of-contents">
    {% for item in toc.children %}
      {% if item.type == "section" %}
        {% render_nested "regulations/partials/expanded_toc/orphan_section.html" context=item title=title version=version %}
      {% else %}
        {% render_nested "regulations/partials/expanded_toc/"|add:item.type|add:".html" context=item title=title part=reg_part version=version%}
      {% endif %}
    {% endfor %}
</ul>
