{% extends 'admin/change_list.html' %}

{% block object-tools-items %}

    <li class="export_all_csv">
        <a href="export_all_csv/">
            Download spreadsheet (CSV)
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 20 20" stroke="white">
              <title>
                download
              </title>
              <path fill="white" d="M17 12v5H3v-5H1v5a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-5z"/>
              <path fill="white" d="M10 15l5-6h-4V1H9v8H5l5 6z"/>
            </svg>
        </a>
    </li>
    {{ block.super }}

{% endblock %}