{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}

        {% if conversions %}
            <p>The following Statute Link Conversions have been imported:</p>
            <ul>
            {% for c in conversions %}
                <li>Title {{ c.statute_title }} section {{ c.section }} of the {{ c.act }} → {{ c.title }} USC {{ c.usc }}: {{ c.name }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if failures %}
            <p>The following conversions failed to import:</p>
            <ul>
            {% for f in failures %}
                <li>Title {{ f.title }} section {{ f.section }} → {{ f.title }} USC {{ f.usc }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <input type="hidden" name="action" value="show_import_conversions" />
        <input type="hidden" name="num_conversions" value="{{ num_conversions }}" />
        <p><input type="submit" name="return" value="Return"/></p>
    </form>
{% endblock %}
