{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p><label for="url">Enter a URL containing valid SSA to USC conversions in XML format:</label></p>
        <p><input type="url" size="50" name="url" id="url" placeholder="https://example.com/doc.xml" required /></p>
        <input type="hidden" name="action" value="import_conversions" />
        <p><input type="submit" name="import" value="Import Conversions"/></p>
    </form>
{% endblock %}
