//-------------------------------
// Tooltip
//-------------------------------

@import "../application_settings";

@mixin sidebar-hr-styles {
    height: 1px;
    background: $light_gray;
    border: none;
    margin: 15px 0;
}

.text-btn {
    border: none;
    background: none;
    padding: 0;
}

.link-btn {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

.action-btn {
    font-family: $primary_site_font;
    font-size: var(--font-size-sm);
    line-height: 18px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 10px 12px 12px;
    cursor: pointer;
    text-transform: capitalize;
    border: 1px;
    border-style: solid;
}

.default-btn {
    display: flex;
    color: white;
    background: $mid-blue;
    border-color: rgba(0, 0, 0, 0);

    &:hover,
    &:focus,
    &:focus:visited {
        background: $mid-dark-blue;
        background-color: $mid-dark-blue;
    }
}

.selected-btn {
    display: flex;
    background: none;
    color: $copy_button_success;
    border-color: $copy_button_success;

    > svg {
        padding-right: 5px;
        box-sizing: content-box;
    }

    path {
        stroke: $copy_button_success;
        fill: $copy_button_success;
    }
}

.loading-icon {
    padding-right: 5px;
}

.component-container {
    position: relative;
}

.trigger-btn,
.link-btn {
    color: $mid_blue;
    cursor: pointer;
    line-height: 1.2;

    &:focus {
        color: $dark_blue;
    }

    &:hover {
        color: $dark_blue;
    }
}

@mixin default-tooltip {
    cursor: default;
    background: $lightest_blue;
    box-shadow: 0px 0px 20px 0px #00000040;
}

.tooltip {
    @include default-tooltip;

    z-index: 3;
    position: absolute;
    box-sizing: content-box;

    p {
        color: $dark_gray;
        padding: 0;
    }

    &.hovered {
        padding: 0 15px;

        .hover-msg {
            font-family: $primary_site_font;
            font-size: $font_size_xs;
            font-weight: 600;
            line-height: 16px;
            white-space: nowrap;
        }
    }

    &.clicked {
        width: 265px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .close-btn {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            width: 40px;

            path {
                stroke: $mid_blue;
                fill: $mid_blue;
            }

            &:hover {
                path {
                    stroke: $dark_blue;
                    fill: $dark_blue;
                }
            }
        }

        .tooltip-title {
            font-family: $secondary_site_font;
            font-size: var(--font-size-md);
            line-height: 24px;
            font-weight: 700;
            margin: 0 0 18px 0 !important;
        }
    }
}

.default-tooltip-caret {
    &::after {
        border-right: solid 5px transparent;
        border-left: solid 5px transparent;
        border-top: solid 5px $lightest_blue;
        transform: translateX(-50%);
        position: absolute;
        z-index: -1;
        content: "";
        top: 100%;
        left: 50%;
        height: 0;
        width: 0;
    }
}

.tooltip-caret {
    @extend .default-tooltip-caret;
}

.tooltip-caret-left {
    @extend .default-tooltip-caret;
    &::after {
        left: 20%;
    }
}

.tooltip-caret-top {
    @extend .default-tooltip-caret;
    &::after {
        top: unset;
        bottom: 100%;
        border-top: unset;
        border-bottom: solid 5px #eefafe;
    }
}

.tooltip-caret-top-left {
    @extend .default-tooltip-caret;
    &::after {
        top: unset;
        bottom: 100%;
        left: 20%;
        border-top: unset;
        border-bottom: solid 5px #eefafe;
    }
}

.reg-text {
    .trigger-btn-container {
        &.copy-btn-container {
            height: 1.2em;
            margin-left: -1.5em;
            position: absolute;
        }

        &.reg-history-link-container {
            .tooltip.clicked {
                width: calc(
                    80% - var(--spacer-1) - var(--spacer-1) - $collapsed-sidebar-width -
                        40px
                );

                @include screen-sm {
                    width: calc(100% - var(--spacer-1) - var(--spacer-1));
                    max-width: 435px;
                }

                .gov-info-links {
                    .no-results {
                        font-size: 14px;
                        padding-bottom: 20px;
                    }

                    .loading-spinner {
                        padding-bottom: 20px;
                    }

                    .links-container {
                        height: 280px;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        padding: 10px 10px 0;
                        box-sizing: content-box;

                        @include screen-sm {
                            height: 180px;
                        }

                        a {
                            font-size: 14px;
                            font-weight: 600;
                            padding-bottom: 20px;
                            width: 50px;

                            @include custom-min(420) {
                                width: 60px;
                            }
                        }
                    }
                }

                .gov-info-source {
                    font-size: var(--font-size-sm);
                    font-weight: 400;
                    line-height: 20px;
                    color: $secondary_text_color;
                }
            }
        }

        .trigger-btn {
            display: flex;
            align-items: end;

            &.trigger-btn-link {
                display: inline-block;
                text-decoration: underline;
            }

            &.reg-history-link {
                font-size: var(--font-size-sm);
                font-weight: 600;
            }

            &.copy-btn {
                opacity: 0;

                &:focus {
                    opacity: 1;
                }
            }
        }
    }

    h1 > .trigger-btn-container,
    h2 > .trigger-btn-container {
        &.copy-btn-container {
            margin-left: -1.2em;

            @include screen-xxl {
                margin-left: -1.4em;
            }
        }
    }

    :hover {
        > .trigger-btn-container.copy-btn-container .trigger-btn {
            opacity: 1;
        }
    }
}

aside.right-sidebar {
    .trigger-btn-container {
        position: relative;

        .trigger-btn-labeled {
            display: flex;
            align-items: center;
            height: 30px;

            i {
                min-width: 16px;
            }

            & span {
                padding: 0 10px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: $font-size-xxs;
            }
        }
    }

    hr,
    .authed__container + hr {
        @include sidebar-hr-styles;
    }
}

.action-btns {
    display: flex;
    margin-bottom: 8px;

    .action-btn {
        &:first-child {
            margin-right: 15px;
        }
    }
}
