@import "../application_settings";

.view-and-compare {
    display: flex;
    justify-content: center;
    min-height: $view_compare_height;
    padding: var(--spacer-1) var(--spacer-2);
    background-color: $secondary_color;
    color: $reverse_text_color;
    position: sticky;
    z-index: 2;

    top: $header_height_mobile;

    @include custom-min($eds-width-sm / 1px) {
        top: $header_height;
    }

    &[data-state="hide"] {
        display: none;
    }

    .view-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .print-view-container {
        display: none;
    }

    .view-title {
        font-weight: bold;
        border-right: 1px solid $border_color;
        padding-right: var(--spacer-2);
        margin-right: var(--spacer-2);
    }

    .view-select {
        padding-left: 10px;
        display: inline-block;

        select {
            border: none;
            padding: 0.8em var(--spacer-2) 0.8em var(--spacer-1-5);
            border-radius: 0;
        }
    }

    .close-button {
        position: absolute;
        right: var(--spacer-2);
        cursor: pointer;
        border: none;
        background: none;
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg path {
            fill: $secondary_reverse_link_color;
        }

        &:hover {
            svg path {
                fill: $secondary_reverse_link_hover;
            }
        }
    }
}
