//-----------------------------
// Expanded Table of Contents
//-----------------------------

@import "../application_settings";

ul.table-of-contents {
    display: block;
    margin-left: 0;
    padding-left: 0;
    max-width: var(--text-max-width);

    margin-block-start: 1em !important;
    margin-block-end: 1em !important;

    h3 {
        margin: 1em 0 1em 0 !important;
        margin-bottom: var(--spacer-2) !important;
        margin-block-start: 1em !important;
        margin-block-end: 1em !important;
    }

    li {
        list-style: none;
        color: $secondary_text_color;
        margin: var(--spacer-3) 0;

        .subpart-name {
            font-weight: normal;
        }
    }

    ul {
        display: block;
        margin-left: 0;
        padding-left: 0;

        li {
            margin: 0 0 var(--spacer-1) var(--spacer-2);

            p {
                margin-top: var(--spacer-1-5);
                margin-bottom: var(--spacer-half);
            }
        }
    }

    a {
        text-decoration: none;
    }

    .menu-section {
        text-decoration: none;
        font-size: var(--font-size-md);
    }

    .toc-section-number {
        font-weight: bold;
        min-width: 70px;
    }

    .toc-section-name {
        flex: 1;
        margin-left: var(--spacer-2);
    }

}
