
//-----------------------------
// Flash Banner
//-----------------------------

@import "../application_settings";

.flash-banner {
    background: $teritary_background_color;
    text-align: center;
    font-size: $font-size-xs;
    padding: 2px;
    position: relative;
    line-height: 1.5;

    p {
        margin: 4px 0;
    }

    a {
        text-decoration: none;
        font-weight: bold;

        &:visited {
            color: $primary_link_color;

            &:hover {
                color: $primary_link_hover; 
            }
        }
    }
}
