
//-----------------------------
// Flash Banner
//-----------------------------

@import "../application_settings";

.flash-banner {
    box-sizing: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $teritary_background_color;
    text-align: center;
    font-size: $font-size-xs;
    padding: 2px;
    position: relative;
    line-height: 1.5;
    height: 30px;
    flex-wrap: wrap;

    a {
        font-weight: bold;

        &:visited {
            color: $primary_link_color;

            &:hover {
                color: $primary_link_hover; 
            }
        }
    }
}
