//-----------------------------
// Footer
//-----------------------------

@import "../application_settings";

footer {
    padding: var(--spacer-4) 0;
    border-top: 1px solid $border_color;
    background: $teritary_background_color;
    box-sizing: unset !important;

    p {
        margin: 0 !important;
        font-size: $font-size-xs;
        color: $secondary_text_color;
        box-sizing: content-box;
    }

    h4,
    h5 {
        font-family: $secondary_site_font !important;
        color: $secondary_text_color !important;
        font-weight: 700 !important;
        line-height: 1.5 !important;
    }

    h4 {
        margin-top: 0 !important;
        margin-bottom: var(--spacer-2) !important;
    }

    h5 {
        margin: 0 !important;
        font-size: var(--font-size-sm);
    }

    .site-footer {
        max-width: 1440px;
        margin: 0 auto;
    }

    .address {
        margin-bottom: var(--spacer-3);
        font-size: $font-size-xs;
    }

    .last-update-footer {
        font-family: $secondary_site_font;
        font-weight: 600;
        font-size: var(--font-size-sm);
        margin-bottom: var(--spacer-2);
    }

    .about-footer {
        font-size: var(--font-size-sm);
        margin-bottom: var(--spacer-2);
    }

    .footer-left {
        @include custom-max(calc($tablet-max / 1px)) {
            flex: none;
        }

        & > * {
            padding: 0 var(--spacer-3) 0 var(--spacer-4);

            @include custom-max(calc($tablet-max / 1px)) {
                padding: 0 var(--spacer-4);
            }
        }

        a {
            img {
                margin-bottom: var(--spacer-2);
            }

            &:hover {
                opacity: 0.8;
            }
        }

        i {
            width: 36px;
        }

        img {
            width: 100%;
            max-width: 219px;
        }
    }

    .footer-middle {
        & > * {
            padding: 0;

            @include custom-max(calc($tablet-max / 1px)) {
                padding: 0 var(--spacer-4);
            }

            @include screen-lg {
                max-width: calc(90% - #{var(--spacer-3)});
                padding-left: var(--spacer-3);
            }
        }

        @include custom-max(calc($tablet-max / 1px)) {
            padding: var(--spacer-4) 0;
        }
    }

    .footer-right {
        box-sizing: content-box;
        padding: 0 var(--spacer-2);

        @include screen-xl {
            padding: 0 var(--spacer-4) 0 0;
        }

        @include custom-max(calc($tablet-max / 1px)) {
            flex: none;
            padding: 0;
        }

        & > * {
            padding: 0 var(--spacer-5) 0 0;

            @include custom-max(calc($tablet-max / 1px)) {
                padding: 0 var(--spacer-4);
                margin-left: 0;
            }
        }

        i {
            font-size: 30px;
            line-height: 34px;
            color: $primary_link_color;
            padding-right: var(--spacer-2);

            &:hover {
                color: $primary_link_hover;
                cursor: pointer;
                @include transition;
            }
        }
    }

    .print-footer {
        display: none;
    }

    // divide to strip unit (px)
    // https://css-tricks.com/snippets/sass/strip-unit-function/
    @include custom-max(calc($tablet-max / 1px)) {
        & > div {
            // stack footer elements on narrow screens
            flex-direction: column;
        }
    }
}
