//-----------------------------
// Informational page styles
// Static pages that provide information
// Ex: /about, /get-account-access
//-----------------------------

@import "../application_settings";

@mixin layout-and-spacing {
    display: block;
}

main.get-account-access {
    h1 {
        margin-bottom: var(--spacer-2);
    }

    aside.login-invite {
        margin-top: var(--spacer-2);
        margin-bottom: var(--spacer-2);
        font-size: var(--font-size-sm);
    }

    section.access-list {
        margin-top: var(--spacer-2);
    }
}

main.about,
main.get-account-access {
    @include layout-and-spacing;

    section {
        margin-top: var(--spacer-5);
        clear: both;
    }

    .ds-l-container {
        padding: 0;

        img {
            margin-top: var(--spacer-2);
        }
    }

    h2 {
        color: $primary_color;
    }

    h3 {
        margin: 1em 0 1em 0 !important;
        margin-block-start: 1em !important;
        margin-block-end: 1em !important;
    }

    ul {
        padding-left: 40px;
    }

    .ecfr-graphic {
        border: 1px solid $border_color;
    }

    .subtitle {
        font-weight: 600;
    }

    .note {
        font-style: italic;
    }

    :target::before {
        // Removes accomodation for the sticky header - delete if this page gets a sticky header
        margin-top: 0;
        height: auto;
    }
}
