//-----------------------------------
// Jump To Regulation Section
//-----------------------------------

@import "../application_settings";

form .jump-to-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;

    @include custom-max(($eds-width-sm - 1) / 1px) {
        padding-left: 0;
    }

    .section-symbol {
        margin-right: 5px;
        font-size: 15px;
        font-weight: 600;
    }

    .dot {
        font-size: $font-size-2xl;
        line-height: 1;
        padding: 0 2px;
    }

    input,
    select {
        border: 1px solid $light_gray;
    }

    input {
        background-color: #fff;
        color: #000;

        &.submit {
            display: inline-block;
            line-height: 1.3;
            padding: $spacer-1 $spacer-2;
            border: 1px solid $jump_to_submit_disabled;
            color: $jump_to_submit_disabled;
            border-radius: $border-radius;
            cursor: not-allowed;

            &:hover,
            &:focus {
                @include transition;
            }

            &.active {
                cursor: pointer;
                color: #fff;
                background-color: $jump_to_submit_active;
                border: 1px solid $jump_to_submit_active;

                &:hover,
                &:focus {
                    background-color: $jump_to_submit_active_focus;
                    border: 1px solid $jump_to_submit_active_focus;
                }
            }
        }
    }

    label {
        font-weight: 600;
        font-size: $font-size-lg;
    }

    select.jump-to-title,
    select.jump-to-part,
    input.jump-to-section,
    input.jump-btn {
        font-size: $font-size_md;
        line-height: 24px;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 5px 8px;
    }

    select.jump-to-title {
        width: 85px;
        margin-right: 5px;

        @include custom-max(($eds-width-md - 1) / 1px) {
            width: 70px;
        }
    }

    select.jump-to-part {
        width: 80px;

        @include custom-max(($eds-width-md - 1) / 1px) {
            width: 70px;
        }
    }

    input.jump-to-section {
        margin-right: 10px;
        width: 80px;

        @include custom-max(($eds-width-md - 1) / 1px) {
            width: 70px;
        }

        @include custom-max(($eds-width-sm - 1) / 1px) {
            width: 60px;
        }
    }

    input.jump-btn {
        width: 50px;

        @include custom-max(($eds-width-md - 1) / 1px) {
            width: 40px;
        }
    }
}
