//-----------------------------------
// Jump To Regulation Section
//-----------------------------------

@import "../application_settings";

.hero-content {
    .jump-to-label {
        font-family: $primary_site_font;
        font-size: $font_size_hero_h1;
        line-height: 1;
        margin-bottom: 15px;
        font-weight: 700;

        @include custom-max($hero-tablet-max / 1px) {
            font-size: $font_size_hero_h1_tablet;
        }

        @include custom-max($iphoneSE-max / 1px) {
            font-size: $font-size-lg;
        }
    }

    .jump-to-container {
        flex: 1;

        @include custom-max($hero-tablet-max / 1px) {
            flex: 0;
        }

        .jump-to-input {
            padding-left: 0px;
        }
    }
}

form .jump-to-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;

    @include custom-max(($eds-width-sm - 1) / 1px) {
        padding-left: 0;
    }

    .section-symbol {
        margin-right: 5px;
        font-size: 15px;
        font-weight: 600;
    }

    .dot {
        font-size: $font-size-2xl;
        line-height: 1;
        padding: 0 2px;
    }

    input,
    select {
        border: 1px solid $light_gray;
    }

    input {
        background-color: #fff;
        color: #000;

        &.submit {
            display: inline-block;
            line-height: 1.3;
            padding: $spacer-1 $spacer-2;
            border: 1px solid $jump_to_submit_disabled;
            color: $jump_to_submit_disabled;
            border-radius: $border-radius;
            cursor: pointer;

            &:hover,
            &:focus {
                @include transition;
            }

            &.active {
                color: #fff;
                background-color: $jump_to_submit_active;
                border: 1px solid $jump_to_submit_active;
            }
        }
    }

    label {
        font-weight: 600;
        font-size: $font-size-lg;
    }

    select#jumpToTitle,
    select#jumpToPart,
    input#jumpToSection,
    input#jumpBtn {
        font-size: $font-size_md;
        line-height: 24px;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 5px 8px;
    }

    select#jumpToTitle {
        width: 85px;

        @include custom-max(($eds-width-md - 1) / 1px) {
            width: 70px;
        }
    }

    select#jumpToPart {
        width: 80px;

        @include custom-max(($eds-width-md - 1) / 1px) {
            width: 70px;
        }
    }

    input#jumpToSection {
        margin-right: 10px;
        width: 80px;

        @include custom-max(($eds-width-md - 1) / 1px) {
            width: 70px;
        }

        @include custom-max(($eds-width-sm - 1) / 1px) {
            width: 60px;
        }
    }

    input#jumpBtn {
        width: 50px;

        @include custom-max(($eds-width-md - 1) / 1px) {
            width: 40px;
        }
    }
}
