//-----------------------------------
// Jump To Regulation Section
//-----------------------------------

@import "../application_settings";

form .jump-to-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .section-symbol {
        margin-right: 4px;
        font-size: 15px;
        font-weight: 600;
    }

    .dot {
        font-size: var(--font-size-2xl);
        line-height: 1;
        padding: 0 4px;
    }

    select {
        background-image: url("../images/arrow-both.svg");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 8px);
        background-position-y: 50%;

        &:disabled {
            background-position-x: calc(100% - 7px);
        }
    }

    input,
    select {
        background-color: #fff;
        border: 1px solid $light_gray;
        height: 2rem;
    }

    input {
        color: #000;

        &.submit {
            display: inline-block;
            line-height: 1;
            padding: var(--spacer-half) var(--spacer-1);
            border: 1px solid $jump_to_submit_disabled;
            color: $jump_to_submit_disabled;
            border-radius: var(--radius-default);
            cursor: not-allowed;

            &:hover,
            &:focus {
                @include transition;
            }

            &.active {
                cursor: pointer;
                color: #fff;
                background-color: $jump_to_submit_active;
                border: 1px solid $jump_to_submit_active;

                &:hover,
                &:focus {
                    background-color: $jump_to_submit_active_focus;
                    border: 1px solid $jump_to_submit_active_focus;
                }
            }
        }
    }

    label {
        font-weight: 600;
        font-size: var(--font-size-lg);
    }

    select#jumpToTitle,
    select#jumpToPart,
    input#jumpToSection,
    input#jumpBtn {
        font-size: var(--font-size-md);
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 5px 8px;

        &:disabled {
            padding: 4px 7px;
        }
    }

    select#jumpToTitle {
        width: 85px;
        margin-right: 4px;
    }

    select#jumpToPart {
        width: 80px;

        @include custom-max(calc((calc($eds-width-md - 1px)) / 1px)) {
            width: 70px;
        }

        @include custom-max(calc((calc($eds-width-sm - 1px)) / 1px)) {
            width: 65px;
        }
    }

    input#jumpToSection {
        margin-right: 4px;
        width: 65px;

        @include custom-max(calc((calc($eds-width-sm - 1px)) / 1px)) {
            width: 60px;
        }

        @include custom-max(calc((calc($eds-width-sm - 1px)) / 1px)) {
            width: 45px;
        }
    }

    input#jumpBtn {
        width: 40px;
    }
}
