//-----------------------------
// Policy Repository Page
//-----------------------------

@import "../application_settings";

.policy-repository-page {
    #policyRepositoryApp.repository-view {
        overflow: auto;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;

        &.ds-l-container {
            padding-top: 1.5rem;
            margin: 0;
            max-width: 100%;
        }

        h2 {
            font-family: "Open Sans", Helvetica, sans-serif;
        }

        .sidebar__container {
            display: flex;
            border-right: 2px solid $border_color;
        }

        .sidebar__filters {
            flex: 1;

            .subjects__list {
                .subjects__li {
                    margin-bottom: 0.75rem;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    button {
                        text-align: left;

                        &:hover,
                        &:focus,
                        &:active {
                            @include font-bold-keep-width;

                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .doc__list {
            .doc-list__document {
                padding: 0.75rem 1rem;
                border-bottom: 1px solid $border_color;

                h3 {
                    margin: 0;
                    line-height: 24px;
                }

                .document__info-block {
                    margin-bottom: 0.75rem;
                }

                .document__link {
                    text-decoration: none;

                    &--view {
                        font-size: $font-size-sm;
                    }
                }

                .document__type {
                    color: $mid_gray;
                }

                .document__filename {
                    margin-top: 0.25rem;
                }

                .document__subjects {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 4px;

                    .subject__chip {
                        font-size: $font-size-sm;
                        line-height: 22px;
                        font-weight: 700;
                        padding: 2px 4px;
                        border-radius: 8px;
                        background: $policy_subject_chip_background;
                        color: $policy_subject_chip_text;
                    }
                }

                .related-sections {
                    @include common-context-related-sections;

                    margin-bottom: 0px;
                }
            }
        }
    }
}
