//-----------------------------
// Reg Part Homepage
//-----------------------------

@import "../application_settings";

.reg-part-homepage {
    margin: $spacer-3;

    @include screen-lg {
        margin: $spacer-5 0 $spacer-4 $spacer-4;
    }

    @include screen-xxl {
        margin: $spacer-5 $spacer-6;
    }

    h1 {
        color: $primary_text_color;
        font-size: $base-font-size * 1.5;
        line-height: 1.4;
        margin-bottom: $spacer-4;

        @include screen-xxl {
            font-size: $base-font-size * 1.9;
            line-height: 1.5;
        }
    }

    h2 {
        color: $primary_color;
    }

    .last-updated {
        margin-bottom: $spacer-4;
        font-style: italic;
        font-weight: 600;
    }

    section.part-meta {
        font-size: $font-size-sm;
    }
}

.reg-part-toc {
    max-width: $text-max-width;

    @include screen-xxl {
        margin: 0 auto;
    }
}
