//-----------------------------
// Reg Part Homepage
//-----------------------------

@import "../application_settings";

.reg-part-homepage {
    margin: var(--eds-spacer-3);

    @include screen-lg {
        margin: var(--eds-spacer-5) 0 var(--eds-spacer-4) var(--eds-spacer-4);
    }

    @include screen-xxl {
        margin: var(--eds-spacer-5) var(--eds-spacer-6);
    }

    h1 {
        color: $primary_text_color;
        font-size: calc(var(--font-size-base) * 1.5);
        line-height: 1.4;
        margin-bottom: var(--eds-spacer-4) !important;

        @include screen-xxl {
            font-size: calc(var(--font-size-base) * 1.9);
            line-height: 1.5;
        }
    }

    h2 {
        color: $primary_color;
    }

    .last-updated {
        margin-bottom: var(--eds-spacer-4) !important;
        font-style: italic;
        font-weight: 600;
    }

    section.part-meta {
        font-size: var(--font-size-sm);
    }
}

.reg-part-toc {
    max-width: var(--text-max-width);

    @include screen-xxl {
        margin: 0 auto;
    }
}
