//-----------------------------
// Results Item
//-----------------------------

@import "../application_settings";

@mixin common-context-related-sections {
    color: $mid_gray;
    font-size: var(--font-size-sm);
    font-weight: 400;
    line-height: 22px;
}

@mixin common-label-styles {
    display: inline-block;
    font-size: 11px;
    width: fit-content;
    border-radius: 3px;
    padding: 2px 5px 3px;
}

.doc-type__label {
    @include common-label-styles;

    color: #fff;
    background: $mid_gray;
}

.category-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .result-label {
        @include common-label-styles;

        background: #e3eef9;

        &.category-label,
        &.regulations-label {
            font-weight: 600;
        }

        &.regulations-label {
            color: #fff;
            background: $primary_color;
        }
    }
}

.reg-results-container .result .category-labels {
    margin-bottom: 0;
}

.result {
    margin-bottom: 24px;

    .category-labels {
        margin-bottom: 8px;
    }

    &__context {
        @include common-context-related-sections;
        text-transform: capitalize;
        margin-bottom: 8px;

        &--date {
            margin-right: 8px;

            &--bar {
                padding-right: 8px;
                border-right: 1px solid $mid_gray;
            }
        }

        &--division {
            text-transform: none;

            &--bar {
                padding-left: 8px;
                border-left: 1px solid $mid_gray;
            }
        }
    }

    &__link {
        font-size: var(--font-size-md);
        margin-bottom: 8px;

        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 6px;
        }

        &--file-type {
            padding: 0 8px;
            font-size: 11px;
            line-height: 16px;
            font-weight: 600;
            border: 1px solid;
            border-radius: 26px;
        }
    }

    &__snippet {
        font-size: var(--font-size-sm);
    }

    .search-highlight {
        font-weight: bold;
    }

    .collapsible-title {
        font-size: var(--font-size-sm);
        line-height: 22px;
        font-weight: 400;
        width: auto;
        margin-top: var(--spacer-1);

        &.visible {
            color: $primary_link_color;
        }

        i {
            font-size: $font-size-xs;
            margin: auto 0 auto var(--spacer-half);
        }
    }
}

.related-sections {
    margin-top: 8px;
    margin-bottom: 0px;

    .related-sections-title {
        @include common-context-related-sections;

        text-transform: uppercase;
    }

    .title__span,
    .section-sign,
    .pipe-separator {
        color: $mid_gray;
        font-size: 14px;
    }

    .related-section-link {
        @include common-context-related-sections;

        a {
            text-decoration: none;
        }
    }

    .related-sections-none {
        @include common-context-related-sections;
    }
}

// resources page has different styles
.resources-content-container {
    .result .category-labels {
        margin-bottom: 12px;
    }

    .related-sections {
        margin-bottom: 40px;
        color: $mid_gray;
        font-size: $font-size-xs;

        .related-sections-title {
            font-weight: 600;
            color: $dark_gray;
            text-transform: none;
            font-size: $font-size-xs;
        }

        .title__span,
        .section-sign,
        .related-sections-none {
            font-size: $font-size-xs;
        }

        a {
            text-decoration: none;
            font-size: $font-size-xs;
        }
    }
}
