//-----------------------------
// Search Page
//-----------------------------

@import "../application_settings";

.error-msg__container {
    font-size: $font-size-lg;
    margin-bottom: 1em;
}

.search-page {
    #searchApp.search-view {
        @include eds-gutters;

        margin-top: var(--spacer-5);
        margin-bottom: var(--spacer-5);
        display: flex;
        flex-direction: column;
        min-height: 300px;
        max-width: var(--eds-width-md);

        h1 {
            margin-bottom: var(--spacer-4);
        }

        .query-filters__section {
            margin-bottom: var(--spacer-4);
        }

        .search__fieldset {
            margin-top: var(--spacer-4);
            border: unset;
            padding: unset;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            gap: var(--spacer-4);

            .doc-type__toggle fieldset {
                flex-wrap: wrap;
            }
        }

        .search-form {
            .search-suggestion {
                margin: 0px;
                font-size: $font-size-sm;
            }
        }

        .search-results {
            .loading__span {
                display: block;
                margin-bottom: calc(100px + var(--spacer-6));
            }

            &-count {
                margin-bottom: var(--spacer-6);
            }

            .doc__list {
                .no-results__span {
                    display: block;
                    margin-top: var(--spacer-4);
                    margin-bottom: var(--spacer-5);
                    font-size: $font-size-lg;
                    line-height: 1.5rem;
                }
                .result {
                    &__link {
                        a {
                            text-decoration: none;

                            &.external {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .pagination-expand-row {
            display: flex;
            flex-direction: row;
            justify-content: center;

            @media (min-width: $eds-width-sm) {
                justify-content: flex-start;
            }

            .pagination-expand-container {
                width: 100%;
                max-width: 521px;

                @media (min-width: $eds-width-sm) {
                    width: auto;
                    max-width: unset;
                }

                nav.pagination-controls .pagination-control {
                    @media (min-width: $eds-width-sm) {
                        min-width: unset;
                    }
                }

                .pagination-expand-cta {
                    margin-top: 14px;
                }
            }
        }
    }
}

// SEARCH INPUT -----------------

.search-field {
    background-color: #fff;

    .v-field__input {
        padding-left: 12px;

        &::placeholder {
            letter-spacing: normal;
            position: absolute;
            top: calc(50% + 0.5px);
            transform: translateY(-50%);
            opacity: 1;
            color: #0009;
        }
    }

    .v-field__append-inner i,
    .v-field__clearable i {
        opacity: 1;
        color: $secondary_border_color;
    }

    .v-field__append-inner i {
        &:focus-within {
            outline: none;
        }

        &:focus::after {
            opacity: 0.12;
        }

        &::after {
            background-color: currentColor;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 100%;
            left: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            transform: scale(1.3);
            width: 100%;
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
        }
    }

    .v-field__clearable i {
        padding-right: 2px;
        border-right: 1px solid $border_color;
    }

    .v-field__outline > * {
        opacity: 1;
        border-color: $border_color;
    }

    .v-field--focused {
        .v-field__outline > * {
            border-color: $secondary_border_color;
        }
    }
}

// CONTINUE RESEARCH CONTAINER -----------------

.research__container {
    > * {
        padding: var(--spacer-4);
    }

    &--results {
        margin-top: var(--spacer-6);
    }

    &--no-results {
        margin-bottom: var(--spacer-6);
    }

    .research__title {
        display: flex;
        align-items: center;
        font-size: $font-size-lg;
        line-height: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;
        background-color: $lightest_gray;
    }

    .research__row {
        display: flex;
        font-size: $font-size-md;
        border: 1px solid $light_gray;
        border-top: unset;

        .row__title {
            display: inline-block;
            width: 280px;
            margin-right: var(--spacer-6);
        }

        .row__content {
            &--list {
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                list-style-type: none;
                gap: var(--spacer-3);
            }
        }
    }
}
