//-----------------------------
// Search Page
//-----------------------------

@import "../application_settings";

.search-page {
    main {
        width: calc(100% - 450px);
    }

    aside.left-sidebar[data-state="expanded"] + main {
        width: calc(100% - 800px);
    }

    aside.left-sidebar {
        p {
            margin: 0;
        }

        .search-sidebar-element {
            padding: $spacer-1 0;
            margin: 0 $spacer-2;
        }

        h2 {
            margin: $spacer-1 $spacer-1 $spacer-1 $spacer-2;
        }

        h3 {
            margin: $spacer-1 $spacer-1 $spacer-1 $spacer-2;
        }

        h4 {
            margin: $spacer-1 $spacer-1 $spacer-1 $spacer-2;
        }
    }

    .container {
        margin: 0 auto $spacer-5;
    }

    @include screen-xxl {
        .container {
            margin: 0 auto $spacer-6;
        }
    }

    // Context for what parts we're searching

    .search-context {
        margin: $spacer-4 0 $spacer-2;

        @include screen-lg {
            margin: $spacer-6 0 $spacer-2;
        }
    }

    .search-suggestion{
        margin: 0px;
        font-size: $font-size-sm;
    }



    // i.e. "18 results, displayed by relevance"

    .search-results-count {
        font-weight: bold;
        margin: $spacer-3 0;
    }

    // Search Options/Filters

    .search-options {
        margin: $spacer-2 0 $spacer-3;

        a {
            text-decoration: none;
            margin-right: $spacer-2;
            padding: 0 0.9em 0.3em 0;

            &.selected {
                border-bottom: 2px solid $primary_link_color;
            }
        }

        .fa-search {
            margin-right: 0.3em;
        }

        .fa-angle-down {
            margin-left: 0.3em;
        }

        label {
            color: $primary_link_color;
            cursor: pointer;

            &:hover {
                color: $primary_link_hover;
            }
        }
    }

    .hierarchy {
        float: right;
    }

    // Results

    .result {
        margin: $spacer-3 0;
        line-height: $font-size-2xl;

        .results-part {
            font-size: $font-size-xs;
        }

        .results-section {
            font-size: $font-size-md;

            a {
                text-decoration: none;
            }
        }

        .results-preview {
            font-size: $font-size-sm;
        }

        .search-highlight {
            font-weight: bold;
        }
    }

    // Right Sidebar

    .right-sidebar {
        h3 {
            font-size: $font-size-md;
            font-weight: 600;
            margin-bottom: $spacer-2;
        }

        h4 {
            margin: 0 0 0 $spacer-2;
            font-weight: 600;

            a {
                text-decoration: none;
            }
        }

        p {
            margin: 0 0 0 $spacer-2;
            color: $secondary_text_color;
            font-size: $font-size-sm;
        }
    }
}

// Search Text Box

main .search-box {
    margin-bottom: 16px;
}

