//-----------------------------
// Search Page
//-----------------------------

@import "../application_settings";

.search-page {
    #searchApp.search-view {
        display: flex;
        flex-direction: column;

        > .nav-container {
            padding: 0 90px;
        }

        .search-form {
            margin-bottom: 30px;

            .search-suggestion {
                margin: 0px;
                font-size: $font-size-sm;
            }
        }

        .combined-results-container {
            overflow: auto;
            margin-bottom: 16px;
            padding: 0 45px;
            display: flex;
            justify-content: space-between;

            @mixin common-results-styles {
                flex: 1;
                margin: 0 auto;
                padding: 0 45px;
                max-width: calc(50% - 90px);
                overflow-wrap: break-word;
                @content;
            }

            @mixin common-context-related-sections {
                color: $mid_gray;
                font-size: $font-size-sm;
                font-weight: 400;
                line-height: 22px;
            }

            .result {
                margin-bottom: 24px;

                .category-labels {
                    margin-bottom: 4px;

                    .category-label {
                        margin-bottom: 4px;
                    }
                }

                &__context {
                    @include common-context-related-sections;
                    text-transform: capitalize;
                    margin-bottom: 8px;

                    &--date {
                        margin-right: 8px;

                        &--bar {
                            padding-right: 8px;
                            border-right: 1px solid $mid_gray;
                        }
                    }
                }

                &__link {
                    font-size: $font-size-md;
                    margin-bottom: 8px;

                    a {
                        text-decoration: none;
                    }
                }

                &__snippet {
                    font-size: $font-size-sm;
                }

                .search-highlight {
                    font-weight: bold;
                }
            }

            .reg-results-content {
                @include common-results-styles;

                .result {
                    &__context {
                        margin-bottom: 4px;
                    }

                    &__link {
                        margin-bottom: 4px;
                    }
                }
            }

            .resources-results-content {
                @include common-results-styles;

                .related-sections {
                    margin-top: 8px;
                    margin-bottom: 0px;

                    .related-sections-title {
                        @include common-context-related-sections;

                        text-transform: uppercase;
                    }

                    .title__span, .section-sign, .pipe-separator {
                        color: #000;
                        font-size: 14px;
                    }

                    .related-section-link {
                        @include common-context-related-sections;

                        a {
                            text-decoration: none;
                        }
                    }

                    .related-sections-none {
                        @include common-context-related-sections;
                    }
                }
            }

            .search-results-count {
                font-weight: bold;
                margin: $spacer-3 0;

                h2 {
                    border-bottom: 2px solid $mid_blue;
                    margin-block-end: 1em !important;
                }
            }
        }

        .pagination-expand-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 100px;

            .pagination-expand-container {
                width: 100%;
                max-width: 521px;
                margin: 0 45px;

                .pagination-expand-cta {
                    margin-top: 14px;
                }
            }
        }
    }
}
