//-----------------------------------
// Left Sidebar - Table of Contents
//-----------------------------------

@import "../application_settings";

// Partial-Specific Variables

$toc_toggles_width: 64px;

// Sidebar

aside.left-sidebar {
    box-sizing: unset;
    color: $reverse_text_color;
    height: calc(100vh - #{$header-height});
    overflow-y: scroll;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: flex-basis 0.25s ease-out;

    &[data-state="expanded"] {
        @include custom-max(calc($tablet-max / 1px)) {
            + .reg-text .tooltip {
                z-index: 0;
            }
        }
    }

    // Entire Sidebar Collapsed
    &[data-state="collapsed"] {
        width: 1em;
        padding: 0 1em 1em;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        div,
        h2,
        h3,
        h4,
        li > a {
            display: none;
        }

        div.toc-controls {
            // Buttons in the sidebar collapsed state - do not style the open state button here
            margin: 0 -1em;
            display: block;

            [data-set-state="collapsed"] {
                display: none;
            }

            [data-set-state="expanded"] {
                width: 100%;
                display: block;
            }
        }

        ul li.subtoc.active {
            background: none;
        }

        ul li.orphan {
            display: none;
        }
    }

    // Titles, Numbers

    .toc-titles {
        border-radius: var(--radius-default);
        padding: var(--spacer-1) 0;
        margin: 0 var(--spacer-2);

        h3 {
            margin: var(--spacer-1) var(--spacer-1) var(--spacer-1)
                var(--spacer-2) !important;
        }
    }

    .subpart-range {
        margin-left: 5px;
        font-size: var(--font-size-sm);
    }

    .subpart-name {
        font-size: var(--font-size-sm);
        font-weight: normal;
        color: $reverse_text_color;
        padding-right: var(--spacer-4);
    }

    .toc-subgroup-list {
        padding-left: 0;
    }

    h3.toc-subgroup-name {
        margin-left: var(--spacer-4);
        margin-right: var(--spacer-2);
        font-size: var(--font-size-md);
        margin-block-start: 1em !important;
        margin-block-end: 1em !important;
    }

    .toc-section-number {
        font-size: var(--font-size-sm);
    }

    .toc-section-name {
        color: $reverse_text_color;
        font-weight: normal;
        font-size: var(--font-size-sm);
    }

    // Toggle Icons

    button.subpart-toggle {
        width: $toc_toggles_width;
        box-sizing: border-box;

        background: none;
        border: none;
        color: #ccf2ff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: var(--spacer-3) var(--spacer-2) var(--spacer-2); // Helps users by making the toggle target bigger, ~42px square
        margin-right: var(--spacer-2);
        border-radius: var(--radius-default);

        &:hover,
        &:focus {
            color: $reverse_link_hover;
            background: $reverse_background_lighter;
            @include transition;
        }
    }

    // Ridiculous Nested Lists and Links

    ul {
        padding: 0 0 var(--spacer-2) 0 !important;
        gap: 0;

        margin-block-start: 1em !important;
        margin-block-end: 1em !important;

        li {
            list-style: none;
            //overflow: hidden;

            &.active {
                background: $reverse_background_darker;

                .subpart-info {
                    color: $reverse_text_color;
                }
            }

            a {
                text-decoration: none;
                font-weight: bold;
            }

            &.orphan {
                .menu-section {
                    margin-left: var(--spacer-2);
                    padding-left: var(--spacer-2);
                }
            }

            ul.toggle-toc-menu-sections {
                margin: 0 !important;
            }
        }
    }

    a {
        color: #ccf2ff;

        &:hover,
        &:focus {
            color: $reverse_link_hover;
            background: $reverse_background_lighter;
        }

        &.subpart-info {
            display: table-cell;
            width: calc(100% - #{$toc_toggles_width});

            &:hover,
            &:focus {
                .toc-titles {
                    background: $reverse_background_lighter;
                    @include transition;
                }
            }
        }
    }

    .menu-section {
        display: block;
        margin: 0 var(--spacer-2);
        border-radius: var(--radius-default);
        padding: 0.25em 1.6em;

        @include screen-xl {
            padding: var(--spacer-1) var(--spacer-4);
        }

        &:not(li.active ul a.menu-section) {
            &:hover,
            &:focus {
                background: $reverse_background_lighter;
            }
        }

        &.active {
            background: $reverse_background_lighter;
            border-left-color: $light_blue;
            border-left-style: solid;
        }

        li {
            padding: 0 var(--spacer-2);
        }
    }

    li.active ul a.menu-section:hover,
    li.active ul a.menu-section:focus {
        background: $reverse_background_lighter;
    }
}

.toc-header {
    border-bottom: 1px solid $secondary_border_color;
    margin: 25px 40px 16px 32px;
    padding-bottom: 16px;
    color: white;

    .toc-subchapter {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 8px;
    }

    .toc-part {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;

        .description {
            font-weight: normal;
        }
    }
}
// Controls (i.e. Collapse)

.toc-controls {
    box-sizing: border-box;
    border-bottom: 1px solid $secondary_border_color;

    button {
        outline: none;
        color: #ccf2ff;
        border: none;
        background: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        padding: var(--spacer-2);
        border-radius: 0;
        line-height: 1.2;

        &:hover,
        &:focus {
            background: $secondary_link_hover;
            color: $reverse_text_color;
            @include transition;
        }

        img {
            height: var(--font-size-base);
            padding-right: 9px;
            display: inline-block;
            vertical-align: middle;
            line-height: var(--font-size-md);
        }

        span {
            font-size: $font_size_xs;
            display: inline-block;
            vertical-align: middle;
            line-height: var(--font-size-md);
        }

        &[data-set-state="collapsed"] {
            padding-left: calc(var(--spacer-3) + var(--spacer-2));
        }

        &[data-set-state="expanded"] {
            margin: 0 auto;
            display: none;
        }
    }
}
