//-----------------------------
// Site Homepage
//-----------------------------

@import "../application_settings";

.site-homepage {
    overflow-x: hidden;

    .site-container {
        @include custom-max(1350) {
            padding-top: $spacer-2;
        }
    }

    // Down to Table of Contents

    .toc-down {
        position: fixed;
        bottom: 4vh;
        right: 3vw;
        z-index: 99999;
    }

    // Hero Banner

    .hero-banner {
        display: flex;
        height: 230px;
        color: $reverse_text_color;
        z-index: 2;

        background: $hero_background_color;

        @include custom-max($mobile-max / 1px) {
            height: 312px;
        }

        .hero-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-shadow: 3px 1px 5px $secondary_color;
            padding-top: 50px;
            padding-bottom: 50px;
            flex: 1;

            background-image: url("#{$eregs-image-path}/hero-graphic-updated.svg");
            background-repeat: no-repeat;
            background-position: bottom 0px right 25px;

            @include custom-max($hero-tablet-max / 1px) {
                padding-top: 30px;
                padding-bottom: 30px;
                justify-content: flex-start;

                background-size: 55%;
                background-position: bottom 50% right 25px;

                > * {
                    width: 40%;
                }
            }

            @include custom-max($mobile-max / 1px) {
                background-image: url("#{$eregs-image-path}/hero-graphic-updated-mobile.svg");
                background-size: auto 45%;
                background-position: bottom 0px right 50%;

                > * {
                    width: 100%;
                }
            }

            @include custom-max($iphoneSE-max / 1px) {
                padding: 25px 20px;

                background-image: url("#{$eregs-image-path}/hero-graphic-updated-mobile.svg");
                background-size: auto;
                background-position: bottom 0px right 50%;

                > * {
                    width: 100%;
                }
            }

            a {
                color: $hero_link_color;

                &:visited {
                    color: $hero_link_color;
                }

                &:hover {
                    color: $hero_link_hover;
                }
            }

            a[role="button"] {
                color: $main_button_color;
                text-shadow: none;
                margin-top: $spacer-1;
            }
        }

        h1 {
            font-family: $primary_site_font;
            font-size: $font_size_hero_h1;

            margin-block-start: 1em !important;
            margin-block-end: 1em !important;
            margin: 0.67em 0 0.67em 0 !important;
            margin-bottom: 20px !important;
        }

        p.hero-text {
            margin: 0 !important;
            font-size: $font-size-sm;

            @include custom-max($hero-tablet-max / 1px) {
                margin-top: 20px !important;
            }
        }
    }

    // Features

    .site-features {
        background: $teritary_background_color;

        .ds-l-row {
            @include custom-max(768) {
                display: block;
            }
        }

        .site-container {
            padding: $spacer-1 $spacer-3;

            @include screen-md {
                padding: $spacer-1 38px;
            }
        }
    }

    .feature {
        padding: 0 $spacer-4;

        @include screen-md {
            padding: 0 $spacer-2;
        }

        @include custom-max(768) {
            max-width: 100%;
        }

        @include screen-xl {
            padding: $spacer-2;
        }

        h3 {
            font-family: $secondary_site_font;
            font-weight: normal;
        }

        p {
            font-size: $font-size-sm;

            @include screen-xl {
                font-size: $font-size-md;
            }
        }
    }

    // Footer

    footer {
        .flexbox {
            margin: $spacer-3 auto;

            @include screen-xl {
                max-width: $width-xl;
            }

            @include screen-xxl {
                max-width: $width-xxl;
            }
        }

        .footer-middle {
            @include screen-xl {
                width: 100%;
            }
        }
    }
}

// Table of Contents

:target {
    scroll-margin-top: $header_height_mobile;

    @include screen-md {
        scroll-margin-top: $header_height_tablet;
    }

    @include screen-lg {
        scroll-margin-top: $header_height;
    }
}

.homepage-main-content {
    .ds-l-row {
        @include custom-max(1024) {
            display: block;
            margin: 0;
        }
    }
}

.homepage-toc {
    margin-top: $spacer-2;

    @include custom-max(1024) {
        max-width: 100%;
        padding: 0;
    }

    .toc-container {
        max-width: $text-max-width;
    }

    h1 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        font-size: $base-font-size * 1.8;

        @include custom-max(1024) {
            font-size: $font-size-2xl;
        }
    }

    h2 {
        font-size: $font-size-lg;

        @include screen-xl {
            font-size: $font-size-xl;
        }
    }

    h4 {
        font-family: $secondary_site_font;

        margin-block-start: 1em !important;
        margin-block-end: 1em !important;
        margin: 1.33em 0 1.33em 0 !important;
    }

    h4 + .toc-external-ref {
        margin: $spacer-2 0 0 !important;
    }

    .toc-external-ref {
        font-style: italic;
        margin: $spacer-5 0 !important;
    }

    .subchapter {
        border-bottom: 1px solid $border_color;
    }

    .part-names {
        display: flex;
        margin: $spacer-2 0;
        padding: 0;
        font-size: $font-size-md;

        a {
            text-decoration: none;

            .part-number {
                font-weight: bold;
                display: inline;
            }

            .part-title {
                display: inline;
            }
        }
    }
}

// Aside - Latest Updates

.homepage-updates {
    padding: 0 0 $spacer-2 0;

    @include screen-lg {
        padding-top: $spacer-4;
    }

    @include custom-max(1024) {
        max-width: 100%;
    }

    .last-update-external {
        font-style: italic;
        font-weight: 600;
        margin: 0 0 $spacer-5 0;
    }

    .latest-changes {
        background: $secondary_background_color;
        padding: $spacer-3 $spacer-4;
        padding-bottom: $spacer-6;

        @include screen-lg {
            padding: $spacer-4;
            padding-bottom: $spacer-6;
        }

        @include screen-xl {
            padding: $spacer-4 $spacer-6;
            padding-bottom: $spacer-6;
        }

        h3 {
            font-family: $secondary_site_font;
            font-size: $font-size-md;

            margin: 1em 0 1em 0 !important;
            margin-bottom: $spacer-2 !important;
            margin-block-start: 1em !important;
            margin-block-end: 1em !important;
        }

        .recent-rules-descriptive-text {
            font-size: 12px;
            line-height: 18px;
            color: $mid_gray;
        }

        .latest-changes-horiz-rule {
            margin: $spacer-3 0;
        }

        .all-resources-header {
            margin-bottom: 10px;
        }

        .resource-types {
            font-size: 13px;
            font-weight: 600;
            line-height: 18px;
            margin-bottom: 10px;
            color: $mid_gray;
        }

        .resources-description {
            margin-bottom: 20px;
        }

        .link-btn {
            text-decoration: none;
            width: fit-content;
            color: white;
            padding-top: 8px;
            padding-bottom: 8px;

            &:hover {
                color: white;
            }
        }
    }
}
