//-----------------------------
// Site Homepage
//-----------------------------

@import "../application_settings";

.site-homepage--update {
    @mixin link-common {
        text-decoration: none;
        cursor: pointer;
    }

    main {
        display: flex;
        flex-direction: row;

        @media (max-width: $eds-xs-max) {
            flex-direction: column;
        }

        .link-btn {
            @include link-common;

            width: fit-content;
            color: white;
            padding-top: 8px;
            padding-bottom: 8px;

            &:hover,
            &:visited {
                color: white;
            }
        }

        a.contact {
            @include link-common;
            text-decoration: underline;

            color: $contact_link_color;

            &:link::after {
                filter: brightness(0.02) invert(1);
            }

            &:visited {
                color: $contact_link_color;

                &::after {
                    filter: brightness(0.02) invert(1);
                }
            }
        }
    }

    nav {
        position: relative;
        color: white;
        background-color: $dark_blue;

        @mixin hover-background {
            &:hover,
            &:focus {
                background-color: $mid_blue;
            }
        }

        @mixin hover-background--dark {
            &:hover,
            &:focus {
                background-color: $darkest_blue;
                outline: 0;

                &:before {
                    opacity: 0;
                }
            }
        }

        @media (max-width: $eds-xs-max) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &.open {
            width: 400px;
            min-width: 400px;

            @media (max-width: $eds-xs-max) {
                width: 100%;
            }
        }

        &.closed {
            width: 75px;
            min-width: 75px;

            @media (max-width: $eds-xs-max) {
                width: 100%;
                height: 45px;
            }
        }

        &#placeholderNav {
            min-height: 10px;

            @media (min-width: $eds-width-sm) {
                width: 75px;
                min-width: 75px;
                max-width: 75px;
            }

            @media (min-width: $eds-width-md) {
                width: 400px;
                min-width: 400px;
                max-width: 400px;
            }
        }

        .nav-toggle__button {
            position: absolute;
            top: 8px;
            right: 8px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            color: $secondary_toc_link_color !important;
            padding: 0 !important;
            z-index: 1;

            &.icon-only {
                background-color: $dark_blue;

                @media (max-width: $eds-xs-max) {
                    position: absolute;
                    top: unset;
                    right: unset;
                    left: 0;
                    margin-left: 4px;
                }

                i {
                    background-color: $mid_blue_2;
                    border-radius: 4px;
                    font-size: 18px;
                    padding: 1px 1px 0px;
                    margin-right: 2px;

                    &.nav-toggle__button--hovered {
                        background-color: $mid_blue;
                    }

                    @media (max-width: $eds-xs-max) {
                        font-size: 32px;
                    }
                }
            }

            &.full-btn {
                @include hover-background;

                background-color: $mid_blue_2;
            }

            .v-btn__content {
                opacity: 1 !important;

                i {
                    transition: none;
                }
            }

            &--label {
                color: white;
                font-size: 14px;
                font-weight: 700;
                text-transform: capitalize;
                letter-spacing: normal;

                @media (max-width: $eds-xs-max) {
                    font-size: 16px;
                }
            }
        }

        .toc__container > .v-tabs > .v-tabs-bar,
        .toc__container > .v-tabs-items {
            background-color: transparent;
        }

        .toc__container {
            padding: 0 25px;

            .v-tabs {
                padding-right: 25px;
                margin-bottom: 16px;

                .v-tabs-bar {
                    border-bottom: 1px solid $mid_blue;

                    .v-tab {
                        @include hover-background--dark;

                        padding: 0;
                        min-width: 50px;
                        margin-right: 15px;
                        font-size: 14px;
                        line-height: 22px;
                        text-transform: capitalize;
                        letter-spacing: normal;
                        color: white;
                        font-weight: 400;

                        &--active {
                            @include hover-background--dark;

                            font-weight: 700;
                        }
                    }

                    .v-tabs-slider {
                        background-color: $light_blue_2;
                    }
                }
            }

            .toc-title__heading {
                font-family: $primary_site_font;
                font-weight: 700;
                font-size: 24px;
                font-weight: 36px;
                margin: 0 0 4px !important;
            }

            .toc-title__subheading {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin: 0 0 24px !important;
            }

            .toc-subchapter__container {
                margin-bottom: 24px;

                .toc-subchapter__label {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 12px;
                }

                .toc-part__container {
                    margin-left: 4px;

                    .toc-part__anchor {
                        @include hover-background--dark;

                        display: inline-block;
                        width: 100%;
                        text-decoration: none;
                        border-radius: 4px;

                        .toc-part__label {
                            font-size: 16px;
                            line-height: 24px;
                            color: $light_blue_2;
                            padding: 6px 12px;

                            &--bold {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }

    #main-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 0;

        .top-container {
            width: 100%;
            margin: 0 auto;
            padding: $spacer-3;
            box-sizing: border-box;

            @include screen-lg {
                padding: 40px;
            }

            @include screen-xl {
                max-width: $width-xl;
            }

            @include screen-xxl {
                max-width: $width-xxl;
            }
        }

        .cta__container {
            container: cta-container / inline-size;

            @container cta-container (max-width: 629px) {
                .cta {
                    flex-direction: column;

                    .video__container {
                        margin-right: 0;
                    }

                    .resources__container {
                        margin-right: 0;
                        padding-bottom: $spacer-3;

                        .content-tabs {
                            padding-right: 12px;
                            padding-left: 0px;
                            font-family: "Open Sans";
                        }
                    }

                    .about-text__container {
                        margin-left: 0;
                    }
                }
            }

            @container cta-container (min-width: 630px) {
                .cta {
                    flex-direction: row;

                    .video__container {
                        margin-right: 15px;
                    }

                    .resources__container {
                        margin-right: 15px;
                        padding-top: 24px;
                    }

                    .about-text__container,
                    .policy-materials__container {
                        margin-left: 15px;
                        margin-bottom: 30px;
                    }
                }
            }

            @container cta-container (max-width: 799px) {
                .cta {
                    .about-text__container {
                        margin-bottom: 24px;
                    }
                }
            }

            @container cta-container (min-width: 800px) {
                .cta {
                    .resources__container {
                        .content-tabs {
                            flex: 1 1 auto;
                        }
                    }
                }
            }

            .cta {
                display: flex;

                .video__container {
                    flex: 2;

                    img {
                        width: 100%;
                        border-radius: 3px;
                    }

                    label {
                        font-size: 12px;
                        color: $mid_gray;
                    }
                }

                .resources__container {
                    flex: 2;

                    .v-tabs {
                        .v-tabs-bar {
                            .v-tab {
                                border-bottom: 1px solid $light_gray;
                                font-weight: 700;

                                &--active {
                                    border-bottom: 1px solid $dark_blue;
                                }
                            }

                            .v-tabs-slider {
                                background-color: $dark_blue;
                            }
                        }
                    }

                    .category-labels {
                        display: inline-block;
                        font-size: 11px;
                        width: fit-content;
                        margin-right: 5px;
                        background: #e3eef0;
                        border-radius: 3px;
                        padding: 2px 5px 3px;
                    }

                    .recent-rules-descriptive-text {
                        font-size: 12px;
                        line-height: 18px;
                        color: $mid_gray;
                    }

                    .content-tabs {
                        font-family: $secondary_site_font;
                        letter-spacing: 0;
                        color: $dark_blue;
                        text-transform: none !important;
                        line-height: 36px;
                        font-size: clamp(1rem, 2.5cqi, 1.5rem);
                    }

                    .recent-date {
                        color: $mid_gray;
                        font-weight: 400;
                    }

                    .recent-fr-citation {
                        color: $mid_gray;
                        font-weight: 400;
                    }

                    .supplemental-content-date {
                        color: $mid_gray;
                        font-weight: 400;
                        padding-right: $spacer-1;
                        margin-right: $spacer-1;
                        font-size: $font-size-sm;
                    }

                    .supplemental-content-title {
                        color: $mid_gray;
                        font-weight: 400;
                        font-size: $font-size-sm;
                    }
                }

                .about-text__container {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }

                .policy-materials__container {
                    container: policy-materials-container / inline-size;

                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .policy-materials {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: $lightest_gray;
                        padding: 24px 8px 32px;
                        border-radius: 3px;

                        .policy-materials__title {
                            text-align: center;
                            margin-bottom: 8px;
                        }

                        .policy-materials__categories {
                            display: flex;
                            flex-wrap: wrap;
                            margin-bottom: 8px;

                            span {
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 22px;
                                color: $mid_gray;

                                &:not(:last-child) {
                                    padding-right: 1em;
                                    margin-right: 1em;
                                    border-right: 1px solid $light_gray;
                                }

                                @container policy-materials-container (max-width: 274px) {
                                    font-size: 12px;
                                    line-height: 20px;

                                    &:not(:last-child) {
                                        padding-right: 0.5em;
                                        margin-right: 0.5em;
                                    }
                                }

                                @container policy-materials-container (max-width: 215px) {
                                    font-size: 11px;

                                    &:not(:last-child) {
                                        padding-right: 0.3em;
                                        margin-right: 0.3em;
                                    }
                                }
                            }
                        }

                        .policy-materials__text {
                            margin: 0 24px 16px;
                            p {
                                margin-block-start: 0 !important;
                                margin-block-end: 0 !important;
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }
                }

                .v-slide-group__prev {
                    display: none !important;
                }
            }
        }

        .contact-signup__container {
            container: contact-signup-container / inline-size;

            @mixin column-common {
                display: flex;
                flex: 1;
                flex-direction: row;
            }

            @container contact-signup-container (max-width: 629px) {
                .contact-signup {
                    flex-direction: column;

                    .contact-signup__column {
                        margin: 0 10px;
                        padding: 20px 0;

                        &.contact__column {
                            border-bottom: 1px solid $border_color;
                        }

                        .column__icon {
                            margin-right: 10px;
                        }
                    }
                }
            }

            @container contact-signup-container (min-width: 630px) {
                .contact-signup {
                    flex-direction: row;

                    .contact-signup__column {
                        margin: 40px 0;
                        padding: 0 40px;

                        &.contact__column {
                            border-right: 1px solid $border_color;
                        }

                        .column__icon {
                            margin-right: 24px;
                        }
                    }
                }
            }

            h4 {
                font-size: 18px;
                line-height: 24px;
            }

            p {
                font-size: 14px;
                line-height: 22px;
            }

            .contact-signup {
                display: flex;
                background-color: $teal;
                color: white;

                .contact-signup__column {
                    .column__icon {
                        img {
                            height: 90px;
                        }
                    }

                    &.contact__column {
                        @include column-common;
                    }

                    &.signup__column {
                        @include column-common;
                    }
                }
            }
        }
    }
}
