//-----------------------------
// Site Homepage -- Update
//-----------------------------

.site-homepage--update {
    main {
        display: flex;
    }

    nav {
        position: relative;
        color: white;
        background-color: $dark_blue;

        @mixin hover-background {
            &:hover, &:focus {
                background-color: $mid_blue;
            }
        }

        .nav-toggle__button {
            position: absolute;
            top: 8px;
            right: 8px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            color: $secondary_toc_link_color !important;
            padding: 0 !important;

            &.icon-only {
                background-color: $dark_blue;

                i {
                    background-color: $mid_blue_2;
                    border-radius: 4px;
                    font-size: 18px;
                    padding: 1px 1px 0px;
                    margin-right: 2px;

                    &.nav-toggle__button--hovered {
                        background-color: $mid_blue;
                    }
                }
            }

            &.full-btn {
                @include hover-background;

                background-color: $mid_blue_2;
            }

            .v-btn__content {
                opacity: 1 !important;
            }

            .nav-toggle__button--label {
                font-size: 14px;
                font-weight: 700;
                text-transform: capitalize;
                letter-spacing: normal;
            }

        }
    }
}
