//-----------------------------
// Site Homepage -- Update
//-----------------------------

.site-homepage--update {
    main {
        display: flex;
    }

    nav {
        position: relative;
        color: white;
        background-color: $dark_blue;

        .nav-toggle__button {
            position: absolute;
            top: 8px;
            right: 8px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            color: $secondary_toc_link_color !important;
            background-color: $mid_blue_2;
            padding: 0 !important;

            &:hover {
                background-color: $mid_blue;
            }

            .nav-toggle__button--label {
                font-size: 14px;
                font-weight: 700;
                text-transform:capitalize;
                letter-spacing: normal;
            }
        }

    }
}
