//-----------------------------
// Site Homepage
//-----------------------------

@import "../application_settings";

.site-homepage--update {
    @mixin link-common {
        text-decoration: none;
        cursor: pointer;
    }

    main {
        display: flex;
        flex-direction: row;

        @media (max-width: $eds-xs-max) {
            flex-direction: column;
        }

        .link-btn {
            @include link-common;

            width: fit-content;
            color: white;
            padding-top: 8px;
            padding-bottom: 8px;

            &:hover,
            &:visited {
                color: white;
            }
        }

        a.contact {
            @include link-common;
            text-decoration: underline;

            color: $contact_link_color;

            &:link::after {
                filter: brightness(0.02) invert(1);
            }

            &:visited {
                color: $contact_link_color;

                &::after {
                    filter: brightness(0.02) invert(1);
                }
            }
        }
    }

    nav {
        position: relative;
        color: white;
        background-color: $dark_blue;

        @mixin hover-background {
            &:hover,
            &:focus,
            &:focus-visible {
                background-color: $mid_blue;
                outline: 0;
                border: none;

                &:before,
                &:after {
                    border: none;
                    opacity: 0;
                }
            }
        }

        @mixin hover-background--dark {
            &:hover,
            &:focus,
            &:focus-visible {
                background-color: $darkest_blue;
                outline: 0;

                &:before,
                &:after {
                    opacity: 0;
                }
            }
        }

        @media (max-width: $eds-xs-max) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &.open {
            width: 400px;
            min-width: 400px;

            @media (max-width: $eds-xs-max) {
                width: 100%;
            }
        }

        &.closed {
            width: 75px;
            min-width: 75px;

            @media (max-width: $eds-xs-max) {
                width: 100%;
                height: 45px;
            }
        }

        &#placeholderNav {
            min-height: 10px;

            @media (min-width: $eds-width-sm) {
                width: 75px;
                min-width: 75px;
                max-width: 75px;
            }

            @media (min-width: $eds-width-md) {
                width: 400px;
                min-width: 400px;
                max-width: 400px;
            }
        }

        .nav-toggle__button {
            position: absolute;
            top: 8px;
            right: 8px;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            color: $secondary_toc_link_color !important;
            padding: 0 !important;
            z-index: 1;

            &.icon-only {
                background-color: $dark_blue;
                height: 18px;
                width: 18px;

                @media (max-width: $eds-xs-max) {
                    position: absolute;
                    height: unset;
                    width: unset;
                    top: unset;
                    right: unset;
                    left: 0;
                    margin-left: 4px;
                }

                i {
                    background-color: $mid_blue_2;
                    border-radius: 4px;
                    font-size: 18px;
                    padding: 1px 1px 0px;
                    margin-right: 2px;

                    &.nav-toggle__button--hovered {
                        background-color: $mid_blue;
                    }

                    @media (max-width: $eds-xs-max) {
                        font-size: 32px;
                    }
                }
            }

            &.full-btn {
                background-color: $mid_blue_2;
                height: 36px;
                width: 36px;

                @include hover-background;
            }

            .v-btn__content {
                opacity: 1 !important;

                i {
                    transition: none;
                }
            }

            &--label {
                color: white;
                font-size: 14px;
                font-weight: 700;
                text-transform: capitalize;
                letter-spacing: normal;

                @media (max-width: $eds-xs-max) {
                    font-size: 16px;
                }
            }
        }

        .toc__container > .v-tabs > .v-tabs-bar,
        .toc__container > .v-tabs-items {
            background-color: transparent;
        }

        .toc__container {
            padding: 0 25px;

            .v-tabs {
                padding-right: 25px;
                margin-bottom: 16px;

                .v-slide-group__container {
                    border-bottom: 1px solid $mid_blue;

                    .v-tab {
                        box-sizing: border-box;
                        padding: 0;
                        min-width: 50px;
                        margin-right: 15px;
                        font-size: 14px;
                        line-height: 22px;
                        text-transform: capitalize;
                        letter-spacing: normal;
                        color: white;
                        font-weight: 400;

                        @include hover-background--dark;

                        &.v-btn:focus-visible > .v-btn__overlay {
                            opacity: 0;
                        }

                        &--selected {
                            font-weight: 700;

                            @include hover-background--dark;
                        }

                        .v-btn__content {
                            margin-top: -1px;
                            margin-left: -1px;
                        }

                        .v-tab__slider {
                            height: 5px;
                            background-color: $light_blue_2;
                            bottom: 1px;
                        }
                    }
                }
            }

            .toc-title__heading {
                font-family: $primary_site_font;
                font-weight: 700;
                font-size: 24px;
                font-weight: 36px;
                margin: 0 0 4px !important;
            }

            .toc-title__subheading {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin: 0 0 24px !important;
            }

            .toc-subchapter__container {
                margin-bottom: 24px;

                .toc-subchapter__label {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    margin-top: 0px;
                    margin-bottom: 12px;
                }

                .toc-part__container {
                    margin-left: 4px;

                    .toc-part__anchor {
                        display: inline-block;
                        width: 100%;
                        text-decoration: none;
                        border-radius: 4px;

                        @include hover-background--dark;

                        .toc-part__label {
                            font-size: 16px;
                            line-height: 24px;
                            color: $light_blue_2;
                            padding: 6px 12px;

                            &--bold {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }

    #main-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 0;

        @mixin clamp-title {
            font-size: clamp(1rem, 2.2cqi, 1.5rem);
        }

        .top-container {
            width: 100%;
            margin: 0 auto;
            padding: var(--spacer-1-5);
            box-sizing: border-box;

            @include screen-lg {
                padding: 40px;
            }

            @include screen-xl {
                max-width: var(--media-width-xl);
            }

            @include screen-xxl {
                max-width: $width-xxl;
            }
        }

        .cta__container {
            container: cta-container / inline-size;

            @container cta-container (max-width: 629px) {
                .cta {
                    flex-direction: column;

                    .video__container {
                        margin-right: 0;
                    }

                    .resources__container {
                        margin-right: 0;
                        padding-bottom: var(--spacer-1-5);

                        .content-tabs {
                            padding-right: 12px;
                            padding-left: 0px;
                            font-family: "Open Sans";
                        }
                    }

                    .about-text__container {
                        margin-left: 0;
                    }
                }
            }

            @container cta-container (min-width: 630px) {
                .cta {
                    flex-direction: row;

                    .video__container {
                        margin-right: 15px;
                    }

                    .resources__container {
                        margin-right: 15px;
                        padding-top: 19px;
                    }

                    .about-text__container,
                    .policy-materials__container {
                        margin-left: 15px;
                        margin-bottom: 30px;
                    }

                    .policy-materials__container {
                        .policy-materials__title {
                            @include clamp-title;
                        }
                    }
                }
            }

            @container cta-container (min-width: 630px) and (max-width: 658px) {
                .policy-materials__title {
                    line-height: 1.5rem;
                }
            }

            @container cta-container (max-width: 799px) {
                .cta {
                    .about-text__container {
                        margin-bottom: 24px;
                    }
                }
            }

            @container cta-container (min-width: 800px) {
                .cta {
                    .resources__container {
                        .content-tabs {
                            flex: 1 1 auto;
                        }
                    }
                }
            }

            .cta {
                display: flex;

                .video__container {
                    flex: 2;

                    img {
                        width: 100%;
                        border-radius: 3px;
                    }

                    label {
                        font-size: 12px;
                        color: $mid_gray;
                        padding-top: var(--spacer-half);
                    }
                }

                .resources__container {
                    flex: 2;

                    .rules-container {
                        margin: 16px 0 0;

                        .related-rule-list {
                            margin-top: 20px;
                            margin-bottom: 40px;
                        }
                    }

                    .v-tabs {
                        .v-slide-group__container {
                            .v-tab {
                                border-bottom: 1px solid $light_gray;
                                font-weight: 700;

                                &:focus-visible {
                                    &:before,
                                    &:after {
                                        border: none;
                                        opacity: 0;
                                    }
                                }

                                &--selected {
                                    border-bottom: 1px solid $dark_blue;
                                }
                            }

                            .v-btn__content {
                                margin-top: -1px;
                                margin-left: -1px;
                            }

                            .v-tab__slider {
                                height: 3px;
                                background-color: $dark_blue;
                            }
                        }
                    }

                    .category-labels {
                        margin-bottom: 0px;

                        .result-label {
                            &.category-label {
                                font-weight: 400;
                            }
                        }
                    }

                    .recent-rules-descriptive-text {
                        font-size: 12px;
                        line-height: 18px;
                        color: $mid_gray;
                    }

                    .content-tabs {
                        font-family: $secondary_site_font;
                        letter-spacing: 0;
                        color: $dark_blue;
                        text-transform: none !important;
                        line-height: 36px;

                        @include clamp-title;

                        &:focus-visible {
                            outline: none;
                        }
                    }

                    .recent-date {
                        color: $mid_gray;
                        font-weight: 400;
                    }

                    .recent-fr-citation {
                        color: $mid_gray;
                        font-weight: 400;
                    }

                    .supplemental-content-list {
                        .spacer {
                            margin-top: var(--spacer-3);
                        }
                    }

                    .supplemental-content {
                        margin-bottom: unset;

                        .supplemental-content-date {
                            color: $mid_gray;
                            font-weight: 400;
                            padding-right: var(--spacer-half);
                            margin-right: var(--spacer-half);
                            font-size: var(--font-size-sm);
                        }

                        .supplemental-content-title {
                            color: $mid_gray;
                            font-weight: 400;
                            font-size: var(--font-size-sm);
                        }
                    }

                    .document__subjects {
                        margin-top: var(--spacer-half);
                    }
                }

                .about-text__container {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }

                .policy-materials__container {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .policy-materials {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: $lightest_gray;
                        padding: 24px 8px 32px;
                        border-radius: 3px;

                        .policy-materials__title {
                            text-align: center;
                            margin-bottom: 8px;
                        }

                        .policy-materials__categories--parent {
                            container: policy-materials-categories / inline-size;

                            width: 100%;

                            .policy-materials__categories {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                margin-bottom: 8px;

                                span {
                                    font-weight: bold;
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: $mid_gray;

                                    &:not(:last-child) {
                                        padding-right: 1em;
                                        margin-right: 1em;
                                        border-right: 1px solid $light_gray;
                                    }

                                    @container policy-materials-categories (max-width: 274px) {
                                        font-size: 12px;
                                        line-height: 20px;

                                        &:not(:last-child) {
                                            padding-right: 0.5em;
                                            margin-right: 0.5em;
                                        }
                                    }

                                    @container policy-materials-categories (max-width: 215px) {
                                        font-size: 11px;

                                        &:not(:last-child) {
                                            padding-right: 0.3em;
                                            margin-right: 0.3em;
                                        }
                                    }
                                }
                            }
                        }

                        .policy-materials__text {
                            margin: 0 24px 16px;
                            p {
                                margin-block-start: 0 !important;
                                margin-block-end: 0 !important;
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }
                }

                .v-slide-group__prev {
                    display: none !important;
                }
            }
        }

        .contact-signup__container {
            container: contact-signup-container / inline-size;

            @mixin column-common {
                display: flex;
                flex: 1;
                flex-direction: row;
            }

            @container contact-signup-container (max-width: 629px) {
                .contact-signup {
                    flex-direction: column;

                    .contact-signup__column {
                        margin: 0 10px;
                        padding: 20px 0;

                        &.contact__column {
                            border-bottom: 1px solid $border_color;
                        }

                        .column__icon {
                            margin-right: 10px;
                        }
                    }
                }
            }

            @container contact-signup-container (min-width: 630px) {
                .contact-signup {
                    flex-direction: row;

                    .contact-signup__column {
                        margin: 40px 0;
                        padding: 0 40px;

                        &.contact__column {
                            border-right: 1px solid $border_color;
                        }

                        .column__icon {
                            margin-right: 24px;
                        }
                    }
                }
            }

            h4 {
                font-size: 18px;
                line-height: 24px;
                margin-block-start: 0px;
            }

            p {
                font-size: 14px;
                line-height: 22px;
            }

            .contact-signup {
                display: flex;
                background-color: $teal;
                color: white;

                .contact-signup__column {
                    .column__icon {
                        img {
                            height: 90px;
                        }
                    }

                    &.contact__column {
                        @include column-common;
                    }

                    &.signup__column {
                        @include column-common;
                    }
                }
            }
        }
    }
}
