//-----------------------------
// Statutes Page
//-----------------------------

@import "../application_settings";

#statuteApp.statute-view {
    @include eds-standard-layout;

    h1 {
        margin-bottom: var(--spacer-2);
    }

    h2 {
        margin: 0 0 1.5rem !important; // !important to override the default h2 margin due to vuetify defaults

        @media (max-width: $eds-width-md) {
            font-size: var(--font-size-xl);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;

        @include custom-max(calc((calc($eds-width-md - 1px)) / 1px)) {
            flex-direction: column;
        }

        .content__selector {
            position: sticky;
            top: calc($header_height);
            background-color: $white;

            .v-tabs.acts__tabs {
                .v-tab {
                    border-bottom: 5px solid $light_gray;
                    font-size: 22px;
                    color: $dark_blue;
                    font-family: $secondary_site_font;
                    font-weight: 700;
                    letter-spacing: normal;
                    text-transform: capitalize;

                    .v-tab__slider {
                        height: 5px;
                        background-color: $dark_blue;
                    }

                    .prefix__span {
                        @media (max-width: $eds-width-md) {
                            display: none;
                        }
                    }
                }
            }
        }

        .table__parent {
            width: 100%;

            &.loading {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .table__caption {
                padding-bottom: 1.5rem;
                color: $primary_text_color;
            }

            @mixin commonTableStyles {
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
            }

            // statuteList-specific styles
            #statuteList {
                .statute__list-item {
                    padding: 12px 0;
                    border-bottom: 1px solid $table_border_color;

                    &:first-of-type {
                        padding-top: 0px;
                    }

                    &:last-of-type {
                        border: none;
                    }

                    table {
                        @include commonTableStyles;

                        .table__row {
                            &:first-of-type {
                                .row__cell--body {
                                    padding-top: 0.5rem;
                                }
                            }

                            .row__cell {
                                &--body {
                                    vertical-align: top;
                                    padding-top: 0.5rem;
                                    padding-bottom: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }

            #statuteTable {
                @include commonTableStyles;

                border-collapse: separate;
            }

            #statuteList,
            #statuteTable {
                .table__row {
                    &--header {
                        position: sticky;
                        top: calc($header_height + 48px);;
                        z-index: 1;
                    }

                    &--body {
                        border-bottom: 1px solid $table_border_color;
                    }

                    &:first-of-type {
                        .row__cell--body {
                            padding-top: 18px;
                        }
                    }
                }

                .row__cell {
                    padding: 0.5rem 0 0.5rem 1.5rem;

                    a {
                        text-decoration: none;

                        &:link.pdf {
                            display: flex;
                            align-items: center;
                            gap: var(--spacer-half);
                            white-space: nowrap;
                        }

                        &:hover {
                            color: $primary_link_hover;
                        }
                    }

                    .cell__title {
                        font-weight: bold;

                        a {
                            color: $table_header_link_color;
                            text-decoration: underline;

                            &:link.external::after {
                                @include external-link($color: $table_header_link_color);
                            }
                        }
                    }

                    .cell__subtitle {
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: normal;
                        font-style: italic;
                        text-transform: capitalize;
                    }

                    .cell__usc-label {
                        padding: 0.5rem 0;
                    }

                    .cell__name {
                        font-size: 0.75rem;
                        line-height: 18px;
                    }

                    &--header {
                        background-color: $mid_blue_2;
                        color: #fff;
                        text-align: left;
                        vertical-align: top;
                    }

                    &--body {
                        padding-top: 0.75rem;
                        padding-bottom: 0.75rem;
                    }

                    &--primary {
                        width: 220px;
                        box-sizing: border-box;
                    }

                    &:first-of-type {
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }

                    &:last-of-type {
                        padding-right: 1rem;
                    }
                }

                .row__cell--body.row__cell--primary {
                    background-color: $lightest_blue;
                }
            }
        }
    }
}
