//-----------------------------
// Statutes Page
//-----------------------------

@import "../application_settings";

.statute-page #statuteApp {
    @include custom-max(($eds-width-md - 1) / 1px) {
        h1 {
            font-size: 36px;
            margin-top: 24px;
        }
    }

    .statute__container {
        padding: 0 $spacer-5;

        @include screen-xl {
            padding-left: $spacer-4;
        }

        @include custom-max(($eds-width-sm - 1) / 1px) {
            padding: 0;
        }

        .content {
            padding-top: 30px;
            padding-bottom: 30px;

            .table__parent {
                padding: 0.75rem;
                border: 1px solid $table_border_color;
                border-radius: 4px;

                @include custom-max(($eds-width-sm - 1) / 1px) {
                    padding: 0;
                    border: none;
                }

                .table__caption {
                    padding-bottom: 1.5rem;
                    color: $primary_text_color;

                    @include custom-max(($eds-width-sm - 1px) / 1px) {
                        padding-left: 0.75rem;
                        padding-right: 0.75rem;
                    }
                }

                @mixin commonTableStyles {
                    width: 100%;
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                // statuteList-specific styles
                #statuteList {
                    .statute__list-item {
                        padding: 12px 0;
                        border-bottom: 1px solid $table_border_color;

                        &:first-of-type {
                            padding-top: 0px;
                        }

                        &:last-of-type {
                            border: none;
                        }

                        table {
                            @include commonTableStyles;

                            .table__row {
                                &:first-of-type {
                                    .row__cell--body {
                                        padding-top: 0.5rem;
                                    }
                                }

                                .row__cell {
                                    &--body {
                                        vertical-align: top;
                                        padding-top: 0.5rem;
                                        padding-bottom: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }

                #statuteTable {
                    @include commonTableStyles;
                }

                #statuteList,
                #statuteTable {
                    .table__row {
                        &--header {
                            position: sticky;
                            top: $header_height;
                            z-index: 1;
                        }

                        &--body {
                            border-bottom: 1px solid $table_border_color;
                        }

                        &:first-of-type {
                            .row__cell--body {
                                padding-top: 18px;
                            }
                        }
                    }

                    .row__cell {
                        padding: 0.5rem 0 0.5rem 1.5rem;

                        a {
                            text-decoration: none;

                            &:hover {
                                color: $primary_link_hover;
                            }
                        }

                        .cell__title {
                            font-weight: bold;
                        }

                        .cell__subtitle {
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: normal;
                            font-style: italic;
                        }

                        .cell__usc-label {
                            padding: 0.5rem 0;
                        }

                        .cell__name {
                            font-size: 0.75rem;
                            line-height: 18px;
                        }

                        &--header {
                            background-color: $mid_blue_2;
                            color: #fff;
                            text-align: left;
                            vertical-align: top;
                        }

                        &--body {
                            padding-top: 0.75rem;
                            padding-bottom: 0.75rem;
                        }

                        &--primary {
                            width: 220px;
                        }

                        &:first-of-type {
                            padding-left: 1rem;
                        }

                        &:last-of-type {
                            padding-right: 1rem;
                        }
                    }

                    .row__cell--body.row__cell--primary {
                        background-color: $lightest_blue;
                    }
                }
            }
        }
    }
}
