//-----------------------------
// Subjects Selector Component
//-----------------------------

@import "../application_settings";

@mixin filter-borders {
    border: 2px solid $border_color;
    border-radius: 4px;
}

@mixin filter-container-styles {
    @include filter-borders;

    padding: 0.75rem 1rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.subjects__select-container {
    margin-top: var(--spacer-4);

    .subjects__list-container {
        @include filter-container-styles;

        display: flex;
        flex-direction: column;
        min-height: 200px;

        .subjects__loading {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
        }

        form {
            display: flex;
            flex-direction: column;
            position: relative;

            input#subjectReduce {
                @include filter-borders;

                flex: 1;
                height: 1.5rem;
                margin: 12px 0;
                padding: 4px 24px 4px 4px;
                box-sizing: content-box !important; // thanks, Vuetify

                &:focus,
                &:focus-visible,
                &:focus-within,
                &:active {
                    outline: none !important;
                    border: 2px solid $secondary_border_color !important;
                }
            }

            .subjects__filter-reset {
                @include common-remove-btn-styles;

                top: calc(50% - 0.625rem);
                right: -3px;
                transform: translate(-50%);
                position: absolute;
                width: 20px;
                height: 20px;

                &--hidden {
                    display: none;
                }
            }
        }
    }

    ul.subjects__list {
        height: 300px;
        overflow: scroll;
        padding: 0;
        margin: 0;

        .subjects__li {
            margin-bottom: 0.75rem;

            &:last-child {
                margin-bottom: 0;
            }

            .subjects-li__button {
                text-align: left;
                color: #000;
                width: 100%;

                &--selected {
                    @include font-bold-keep-width;

                    pointer-events: none;
                }

                &:hover,
                &:focus,
                &:active {
                    @include font-bold-keep-width;

                    cursor: pointer;
                }

                .match__container {
                    @include font-bold-keep-width;

                    .match {
                        @include font-bold-keep-width-reset;
                    }
                }

                .count {
                    margin-left: var(--spacer-1);
                }
            }
        }
    }
}

//-----------------------------
// Styles for dropdown menu
//-----------------------------

.subjects__select-container {
    margin-top: var(--spacer-4);

    // --menu denotes component is in dropdown menu
    &--menu {
        @include filter-borders;

        border-width: 1px;
        margin-top: var(--spacer-2);

        .subjects__list-container {
            border: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            padding: var(--spacer-2);
            max-height: calc(300px - 2 * var(--spacer-2));

            form {
                input#subjectReduce {
                    font-size: $font_size_sm;
                    margin: 0 0 var(--spacer-4) 0;
                    padding-right: var(--spacer-2);

                    &::placeholder {
                        text-align: center;
                    }
                }

                button.subjects__filter-reset {
                    top: calc(50% - 1.125rem);
                }
            }

            .subjects__list {
                .subjects__li {
                    font-size: $font_size_sm;
                    line-height: 22px;
                    margin-bottom: var(--spacer-2);

                    .subjects-li__button {
                        display: flex;
                        justify-content: space-between;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}
