//-----------------------------
// Policy Repository Page
//-----------------------------

@import "../application_settings";

@mixin common-remove-btn-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $policy_subject_close_background;
    color: $policy_subject_selected_chip_background;
    border-radius: 4px;

    &:hover,
    &:focus,
    &:active {
        background-color: #c0c1c3;
    }

    i {
        pointer-events: none;
    }
}

.doc-type__toggle {
    fieldset {
        margin-top: 0;

        &.ds-c-fieldset {
            display: flex;
            gap: 8px;
        }

        .ds-c-choice-wrapper {
            padding: 8px;
            border: 1px solid $secondary_border_color;
            border-radius: 4px;

            .ds-c-choice--small + label::before {
                top: 1px;
            }

            .ds-c-choice--small + label::after {
                top: 7px;
            }

            .ds-c-choice:checked + label::before {
                background-color: $secondary_border_color;
                border-color: $secondary_border_color;
            }

            label {
                margin: 0;
                font-size: 14px;
                line-height: 22px;

                .count__span {
                    min-width: var(--spacer-4);
                    padding-left: var(--spacer-2);
                    display: flex;
                    justify-content: end;

                    @media (max-width: $eds-width-sm) {
                        min-width: var(--spacer-6);
                    }
                }
            }
        }
    }
}

.filter__select {
    &--category {
        width: 225px;

        &.v-input {
            flex: unset;
        }
    }

    .v-input__control {
        .v-field {
            &--appended {
                padding-inline-end: 4px;
            }

            &.v-field--variant-outlined.v-field--focused {
                &:not(.v-field--dirty) {
                    .v-label.v-field-label {
                        visibility: visible;
                    }
                }

                .v-field__outline {
                    > * {
                        border-color: $secondary_border_color;
                    }
                }
            }

            .v-field--focused {
                .v-field__outline > * {
                    border-color: $secondary_border_color;
                }
            }

            .v-field__outline {
                > * {
                    border-color: $border_color;
                    opacity: 1;
                }

                > .v-field__outline__start {
                    border-right: none;
                }

                > .v-field__outline__end {
                    border-left: none;
                }
            }

            .v-field__field {
                .v-field__input {
                    padding-inline: 4px;
                    min-height: 30px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                }

                .v-select__selection-text,
                .v-field-label {
                    font-size: 14px;
                    line-height: 22px;
                    margin-left: 4px;
                }

                .v-field--variant-outlined.v-field--focused .v-field__outline,
                .v-field-outline {
                    --v-field-border-width: 1px;
                    color: $border_color;
                    --v-field-border-opacity: 1;
                }
            }
        }

        .v-field__clearable,
        .v-field__append-inner {
            height: 30px;
        }

        .v-field__append-inner {
            width: 24px;

            & > .v-icon.v-select__menu-icon {
                min-width: 18px;
                font-size: 30px;
                opacity: 1;
                transition: none;
            }
        }
    }
}

.v-overlay-container {
    .v-menu > .v-overlay__content {
        margin-top: 8px;
        box-shadow: unset;
        max-width: 300px !important;

        & > .v-list {
            margin-top: 8px;
            border: 1px solid $border_color;
            box-shadow: unset;
            overflow-x: hidden;
        }
    }

    .v-list-item {
        min-height: unset;
        padding: 0;

        &::after {
            opacity: 0;
        }

        &:hover > .v-list-item__overlay,
        &:focus-visible > .v-list-item__overlay,
        &.v-list-item--active > .v-list-item__overlay {
            opacity: 0;
        }

        &:hover,
        &:focus-visible,
        &.v-list-item--active {
            .v-list-item-title {
                @include font-bold-keep-width;
            }
        }
    }

    .v-list-item__content:has(.doc-type__label) {
        display: flex;
        flex-direction: column-reverse;
    }

    .v-list-item-title {
        font-size: 14px;
        line-height: 22px;
        padding: 4px 0;
        white-space: normal;
    }

    .doc-type__label {
        cursor: default;
        margin-top: 4px;
        margin-bottom: 4px;

        &--internal {
            margin-top: 12px;
        }
    }
}

#subjectsApp.repository-view {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    &.ds-l-container {
        padding-top: 1.5rem;
        margin: 0;
        max-width: 100%;
    }

    h3 {
        margin: 0;
        line-height: 24px;
    }

    .sidebar__container {
        position: relative;
        display: flex;
        border-right: none;
        border-bottom: 2px solid $border_color;
        padding-left: 0px;
        padding-right: 0px;

        @include screen-md {
            padding-right: 1rem;
            border-right: 2px solid $border_color;
            border-bottom: none;
        }

        h2 {
            margin: 0 0 1rem !important; // !important to override the default h2 margin due to vuetify defaults
            font-family: "Open Sans", Helvetica, sans-serif;
        }

        .sidebar-toggle__button {
            position: absolute;
            top: 0;
            right: 16px;
            display: none; // TODO: revisit this when we have a better idea of how the sidebar will work on mobile

            @include screen-md {
                display: none;
            }
        }

        .sidebar-filters__container {
            @include custom-max(($eds-width-md - 1) / 1px) {
                &--hidden {
                    display: none;
                }
            }
        }
    }

    .sidebar__filters {
        flex: 1;
        margin-bottom: 1rem;
        width: 100%;

        @mixin filter-borders {
            border: 2px solid $border_color;
            border-radius: 4px;
        }

        @mixin filter-container-styles {
            @include filter-borders;

            padding: 0.75rem 1rem;
            margin-block-start: 1rem;
            margin-block-end: 1rem;
        }

        .selections__container {
            .selections__list {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                margin: 0 0 1rem;
                padding-left: 0;

                .selections__li {
                    display: flex;
                    align-items: center;
                    background-color: $policy_subject_selected_chip_background;
                    color: $policy_subject_selected_chip_text;
                    border-radius: 4px;
                    padding: 4px 8px;

                    button {
                        width: 16px;
                        height: 16px;
                        margin-left: 8px;

                        @include common-remove-btn-styles;
                    }
                }
            }
        }

        .subjects__select-container {
            margin-top: var(--spacer-4);
        }

        .subjects__list-container {
            @include filter-container-styles;

            display: flex;
            flex-direction: column;
            min-height: 200px;

            .subjects__loading {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
            }

            form {
                display: flex;
                flex-direction: column;
                position: relative;

                input#subjectReduce {
                    @include filter-borders;

                    flex: 1;
                    height: 1.5rem;
                    margin: 12px 0;
                    padding: 4px 24px 4px 4px;
                    box-sizing: content-box !important; // thanks, Vuetify

                    &:focus,
                    &:focus-visible,
                    &:focus-within,
                    &:active {
                        outline: none !important;
                        border: 2px solid $secondary_border_color !important;
                    }
                }

                .subjects__filter-reset {
                    @include common-remove-btn-styles;

                    top: calc(50% - 0.625rem);
                    right: -3px;
                    transform: translate(-50%);
                    position: absolute;
                    width: 20px;
                    height: 20px;

                    &--hidden {
                        display: none;
                    }
                }
            }
        }

        .subjects__list {
            height: 300px;
            overflow: scroll;
            padding: 0;
            margin: 0;

            .subjects__li {
                margin-bottom: 0.75rem;

                &:last-child {
                    margin-bottom: 0;
                }

                .sidebar-li__button {
                    text-align: left;
                    color: #000;
                    width: 100%;

                    .match__container {
                        @include font-bold-keep-width;

                        .match {
                            @include font-bold-keep-width-reset;
                        }
                    }

                    &--selected {
                        @include font-bold-keep-width;

                        pointer-events: none;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        @include font-bold-keep-width;

                        cursor: pointer;
                    }
                }
            }
        }
    }

    .loading__span {
        padding: 0 1rem;
    }

    .subj-toc__container {
        padding-left: 16px;

        h1 {
            font-size: 2.25rem;
            margin-bottom: 0px;
        }

        ul.subj-toc__list {
            padding: 0;

            li.subj-toc__li {
                list-style: none;
                padding: 1rem 0.25rem;
                border-bottom: 1px solid $border_color;

                &:last-child {
                    margin-bottom: 0;
                    border-bottom: none;
                }

                a {
                    text-decoration: none;

                    &:hover,
                    &:focus,
                    &:active {
                        cursor: pointer;
                    }

                    .subj-toc-li__div {
                        display: inline-block;
                        font-size: 1rem;
                        line-height: 1.25rem;

                        &--bold {
                            font-weight: 700;
                        }

                        &.subj-toc-li__abbr {
                            padding-right: 5px;
                            margin-right: 5px;
                            border-right: 1px solid $secondary_text_color;
                        }
                    }
                }

                .subj-toc-li__count {
                    margin-top: 4px;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    color: $secondary_text_color;

                    .subj-doc__count {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .subject__heading {
        padding: 0 1rem 1rem;

        h1 {
            display: flex;
            gap: 0.5ch;
            flex-wrap: wrap;
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-weight: 400;
            padding: 0.375rem 0;
            margin: 0;

            .subj-heading__span {
                &--border {
                    padding-right: 0.5ch;
                    border-right: 2px solid $border_color;
                }

                &--bold {
                    font-weight: 700;
                }
            }
        }
    }

    .subject__filters--row {
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
    }

    .doc__list {
        h2 {
            padding: 0 1rem;
            margin: 0 0 0.75rem !important;
        }

        .search-results-count {
            padding: 0 1rem;
            margin-bottom: 2rem;

            .search-query__span {
                font-weight: 700;
            }
        }

        .doc-list__document {
            padding: 0 1rem;
            position: relative;

            a.edit-button {
                position: absolute;
                top: 0;
                right: 16px;
                text-decoration: none;
            }

            .document__info-block {
                margin-bottom: 0.75rem;
            }

            .document__link {
                text-decoration: none;

                &.external {
                    display: block;
                }

                &--search {
                    font-weight: 400;
                }

                &--view {
                    font-size: $font-size-sm;
                }
            }
        }
    }
}

.doc__list {
    .error-msg__container {
        padding: 0 1rem;
    }

    .doc-list__document {
        .document__subjects {
            margin-top: 0.75rem;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            .subject__chip {
                @include common-chip-styles;

                text-decoration: none;
                font-size: 11px;
                line-height: 18px;
                height: unset;
                padding: 2px 8px;

                &:hover,
                &:focus {
                    background-color: #e7f4fa;
                }
            }
        }
    }
}
