//-----------------------------
// Subjects Selector Component
//-----------------------------

@import "../application_settings";

@mixin filter-borders {
    border: 2px solid $border_color;
    border-radius: 4px;
}

@mixin filter-container-styles {
    @include filter-borders;

    padding: 0.75rem 1rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.sidebar-filters__container {
    .sidebar__li,
    .selections__li {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
        padding: var(--spacer-1);
        margin-bottom: 0;

        .subtitle {
            display: block;
        }
    }

    .sidebar__li {
        border-bottom: 1px solid $border_color;
    }
}

.subjects__select-container {
    margin-top: var(--spacer-2);

    .subjects__list-container {
        display: flex;
        flex-direction: column;

        @include screen-md {
            min-height: 500px;
        }

        .subjects__input--sidebar {
            background-color: white;
            position: sticky;
            top: 0px;
        }

        .subjects__loading {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
        }

        form {
            display: flex;
            flex-direction: column;
            position: relative;

            input#subjectReduce {
                @include filter-borders;

                flex: 1;
                height: 1.5rem;
                margin: 0 0 12px 0;
                padding: 4px 24px 4px 4px;
                line-height: 1.2;
                box-sizing: content-box !important; // thanks, Vuetify

                &:focus,
                &:focus-visible,
                &:focus-within,
                &:active {
                    outline: none !important;
                    border: 2px solid $secondary_border_color !important;
                }
            }

            .subjects__filter-reset {
                top: calc(50% - 1rem);
                right: -3px;
                transform: translate(-50%);
                position: absolute;
                width: 20px;
                height: 20px;

                @include common-remove-btn-styles;

                &--hidden {
                    display: none;
                }
            }
        }
    }

    .subjects-li__button-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        &--sidebar {
            font-weight: 700;
            color: $primary_link_color;
        }
    }

    ul.subjects__list {
        padding: 0;
        margin: 0;

        @media (max-width: $width-md) {
            max-height: 300px;
            overflow-y: auto;
        }

        .subjects__li {
            &:last-child {
                margin-bottom: 0;
            }

            .subjects-li__button {
                text-align: left;
                color: #000;
                width: 100%;

                &--selected {
                    pointer-events: none;
                    font-weight: 700;
                }

                .subjects-li__button-subtitle {
                    color: $primary_link_color;
                }

                .match__container {
                    font-weight: 700;

                    .match {
                        font-weight: 400;
                    }
                }

                .count {
                    font-size: $font-size-xs;
                    color: $secondary_text_color;
                    margin-left: var(--spacer-half);
                    font-weight: 400;
                }
            }
        }
    }
}

//-----------------------------
// Styles for dropdown menu
//-----------------------------

.subjects__select-container {
    margin-top: var(--spacer-2);

    // --menu denotes component is in dropdown menu
    &--menu {
        @include filter-borders;

        border-width: 1px;
        margin-top: var(--spacer-1);

        .subjects__list-container {
            border: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            padding: var(--spacer-1);
            min-height: unset;
            max-height: calc(300px - 2 * var(--spacer-1));

            form {
                input#subjectReduce {
                    font-size: var(--font-size-sm);
                    margin: 0 0 var(--spacer-2) 0;
                    padding-right: var(--spacer-1);

                    &::placeholder {
                        text-align: center;
                    }
                }

                button.subjects__filter-reset {
                    top: calc(50% - 1.125rem);
                }
            }

            .subjects__list {
                height: 300px;
                overflow-y: auto;

                .subjects__li {
                    font-size: var(--font-size-sm);
                    line-height: 22px;
                    margin-bottom: var(--spacer-1);

                    .subjects-li__button {
                        display: flex;
                        justify-content: space-between;
                        line-height: 22px;

                        &:hover,
                        &:focus,
                        &:active {
                            cursor: pointer;
                            font-weight: 700;
                        }

                        &:focus-visible {
                            outline: 1px solid var(--color-focus-dark);
                            outline-offset: -1px;
                        }

                        .count {
                            font-size: unset;
                            font-weight: unset;
                            color: unset;
                        }
                    }
                }
            }
        }
    }
}
