//-----------------------------
// Supplemental Content, Related
// Rules, and FR Docs
//-----------------------------

@import "../application_settings";

.related-rule {
    &.ungrouped {
        padding-top: 26px;
    }

    &.grouped {
        display: block;
        position: relative;
        margin-top: -4px;
        padding-left: 24px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 7px;
            left: 0;
            width: 15px;
            height: 20px;
            border: solid $light_gray;
            border-width: 0 0 1px 1px;
        }
    }
}

.related-rule-type {
    border-radius: 3px;
}

.related-rule-header {
    margin-bottom: $spacer-1;
    font-size: $font-size-sm;

    @include screen-xxl {
        font-size: $font-size-md;
    }
}

.related-rule-date {
    color: $primary_link_color;
    font-weight: bold;
    padding-right: $spacer-1;
    margin-right: $spacer-1;
    border-right: 1px solid $title-color;
}

.related-rule-citation {
    color: $primary_link_color;
    font-weight: bold;
}

.related-rule-title {
    text-decoration: none;
    font-size: $font-size-sm;

    &:link .link-heading::after {
        @include external-link;
    }

    &:hover .link-heading::after {
        @include external-link-hover;
    }
}
.related-rule-list {
    div:first-of-type {
        padding: 0;
    }
}

.rules-with-preamble {
    max-height: 1000em;

    .related-rule-list {
        .related-rule {
            margin-bottom: $spacer-3;
        }
    }
}

.recent-change {
    padding: $spacer-2 0 0;
    font-size: $font-size-sm;

    a {
        text-decoration: none;
    }

    .recent-date {
        font-weight: bold;
    }

    .recent-fr-citation {
        font-weight: bold;

        &.grouped {
            font-weight: normal;
        }
    }

    .recent-title {
        margin-top: 0.2em;
    }
}

.supplemental-content {
    margin-bottom: 1em;

    .supplemental-content-link {
        text-decoration: none;
    }

    .supplemental-content-date {
        color: $primary_link_color;
        font-weight: bold;
        padding-right: $spacer-1;
        margin-right: $spacer-1;
        font-size: $font-size-sm;
    }

    .result__context--division {
        text-transform: none;
        color: $primary_link_color;
        font-size: $font-size-sm;
        font-weight: bold;

        &--bar {
            padding-left: 0;
            border-left: none;
        }
    }

    .supplemental-content-mid-bar {
        border-right: 1px solid black;
    }

    .supplemental-content-title {
        color: $primary_link_color;
        font-weight: bold;
        font-size: $font-size-sm;
    }

    .supplemental-content-description {
        color: $primary_link_color;
        text-decoration: none;
        font-size: $font-size-sm;
    }

    .supplemental-content-external-link {
        &:after {
            @include external-link;
        }
    }
}

.internal-docs__container {
    .supplemental-content-description > span:has(.result__link--file-type) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px;
    }
}

.supplemental-content-container
    .supplemental-content-category
    .category-content:not(.show-more-content),
.internal-docs__container
    .supplemental-content-category
    .category-content:not(.show-more-content) {
    margin-left: 10px;
    margin-right: 20px;
}

.supplemental-content-container
    .supplemental-content-category
    .category-content.additional-rules {
    margin: inherit;
}

.supplemental-content-category {
    display: table;
    width: 100%;
    color: $primary_text_color;

    .category {
        display: table-cell;
    }

    .category-description {
        font-size: $font-size-sm;
        font-weight: normal;
        padding-right: $spacer-4;
    }

    .category-toggle-container {
        display: table-cell;
    }

    .category-content {
        margin-top: 1em;
    }
}

.category-content {
    &.additional-rules .related-rule:first-child {
        padding: 0;
    }

    .supplemental-content-category {
        &:not(:last-child) {
            margin-bottom: 1em;
            border-bottom: 1px solid $light-gray;
        }
    }
}
