//--------------------------------------------------
// Typography
//
// Use CMS Design System Sizes, i.e. $font-size-2xl
//--------------------------------------------------

@import "../application_settings";

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $white;
    color: $primary_text_color;
    font-family: $primary_site_font;
    line-height: var(--font-line-height-base);
}

h1 {
    font-size: $font_size_xxl;
    font-family: $secondary_site_font;
    margin-bottom: var(--spacer-5);
    margin-top: 0;
    line-height: 1.2;

    @include screen-lg {
        font-size: var(--font-size-3xl);
    }
}

h2 {
    font-size: var(--font-size-2xl);
    font-weight: bold;
    font-family: $secondary_site_font;
}

.homepage-component__heading {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    font-family: $secondary_site_font;
    color: $primary_color;
}

su,
e[t="51"] {
    vertical-align: super;
    font-size: 70%;
}

sub,
e[t="52"] {
    vertical-align: sub;
    font-size: 70%;
}

e[t="01"] {
    text-transform: uppercase;
}

e[t="02"] {
    font-weight: bold;
}

e[t="03"] {
    font-style: italic;
}

e[t="04"],
e[t="05"] {
    font-variant: small-caps;
}

.heading1 {
    text-transform: uppercase;
    text-align: center;
}

.sidebar__li {
    list-style: none;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-family: Open Sans, Helvetica, sans-serif;
}
