{% load static %}

{% block controls %}
    <div class="toc-controls">
        <button data-set-state="collapsed" data-state-name="left-sidebar" aria-label="collapse the left sidebar">
            <img src="{% static 'images/sidebar-collapse.svg' %}" alt="arrow pointing left" />
            <span>Collapse</span>
        </button>
        <button data-set-state="expanded" data-state-name="left-sidebar" aria-label="expand the left sidebar">
            <img src="{% static 'images/sidebar-expand.svg' %}" alt="arrow pointing right" />
        </button>
    </div>
{% endblock %}

<div class="toc-header">
    <div class="toc-subchapter">{{ subchapter }}</div>
    <div class="toc-part"> {{ title }} CFR  {{ part }} - <span class="description">{{ part_label }}</span></div> 
</div>

<nav role="navigation">
    {% block navigation %}{% endblock %}
</nav>
