{% comment %}
    Used once per section. Can be contained by subparts or by parts.
{% endcomment %}
{% load string_formatters %}

<section aria-labelledby="{{ node.label | join:'-' }}-title" tabindex="-1" id="{{node.label | join:'-'}}" class="appendix-section">
    <h2 class="section-title" id="{{ node.label | join:'-' }}-title">

        {% if node.label and node.label|length > 0 %}
            {% appendix_formatter cfr_title node.label as formatted_citation %}
            <tooltip-container
                btn-type="icon"
                btn-class="copy-btn"
                title="{{node.label | join:'.'}}"
                label="Copy Link or Citation"
                button-icon="link"
                tooltip-title="{{formatted_citation}}"
                hover
                click
            >
                <template #tooltip-content>
                    <copy-citation
                        hash="{{node.label | join:'-'}}"
                        formatted-citation="{{formatted_citation}}"
                    ></copy-citation>
                </template>
            </tooltip-container>
        {% endif %}
        {{node.title}}
    </h2>

    <div class="paragraphs">
        {{node.text | safe}}
        {% for node in node.children %}
            {% include "regulations/partials/node_types/node.html" %}
        {% endfor %}
    </div>

</section>
