{% comment %}
    Used once per section. Can be contained by subparts or by parts.
{% endcomment %}
{% load string_formatters %}

{% comment %}
    wrap in article tag if view_type is "appendix".

    Possible view_types are:
        - "appendix"
        - "subpart"
        - "part"

    "part" and "subpart" view types contain orphan section and subpart partial templates that contain their own wrapping article tags.
{% endcomment %}
{% if view_type == "appendix" %}
    <article>
{% endif %}

<section aria-labelledby="{{ node.label | join:'-' }}-title" tabindex="-1" id="{{node.label | join:'-'}}" class="appendix-section">
    <h2 class="section-title" id="{{ node.label | join:'-' }}-title">

        {% if node.label and node.label|length > 0 %}
            {% appendix_formatter cfr_title node.label as formatted_citation %}
            <tooltip-container
                btn-type="icon"
                btn-class="copy-btn"
                title="{{node.label | join:'.'}}"
                label="Copy Link or Citation"
                button-icon="link"
                tooltip-title="{{formatted_citation}}"
                hover
                click
            >
                <template #tooltip-content>
                    <div class="action-btns">
                        <copy-citation
                            hash="{{node.label | join:'-'}}"
                            formatted-citation="{{formatted_citation}}"
                        ></copy-citation>
                    </div>
                </template>
            </tooltip-container>
        {% endif %}
        {{node.title}}
    </h2>

    <div class="paragraphs">
        {{node.text | safe}}
        {% for node in node.children %}
            {% include "regulations/partials/node_types/node.html" %}
        {% endfor %}
    </div>
</section>

{% if view_type == "appendix" %}
    </article>
{% endif %}
