{% load paragraphs %}
{% load string_formatters %}
{% load link_statutes %}
{% load link_reg_refs %}

<p tabindex="-1" {% if node.label and node.label|length > 0 %}id="{{node.label | join:'-'}}"{% endif %} class="reg-section depth-{{node|pdepth}}">
    {% if node.label and node.label|length > 0 %}
        {% paragraph_formatter cfr_title node.label as formatted_citation %}
        <tooltip-container
            btn-type="icon"
            btn-class="copy-btn"
            title="{{node.label | join:'.'}}"
            label="Copy Link or Citation"
            button-icon="link"
            tooltip-title="{{formatted_citation}}"
            hover
            click
        >
            <template #tooltip-content>
                <copy-citation
                    hash="{{node.label | join:'-'}}"
                    formatted-citation="{{formatted_citation}}"
                ></copy-citation>
            </template>
        </tooltip-container>
    {% endif %}
    {% link_statutes node.text link_conversions link_config as content %}
    {% link_reg_refs cfr_title content link_config as content2 %}
    {{ content2 | safe}}
</p>
