{% load paragraphs %}
{% load string_formatters %}
{% load link_statutes %}

<p tabindex="-1" {% if node.label and node.label|length > 0 %}id="{{node.label | join:'-'}}"{% endif %} class="reg-section depth-{{node|pdepth}}">
    {% if node.label and node.label|length > 0 %}
        {% paragraph_formatter cfr_title node.label as formatted_citation %}
        <tooltip-container
            btn-type="icon"
            btn-class="copy-btn"
            title="{{node.label | join:'.'}}"
            label="Copy Link or Citation"
            button-icon="link"
            tooltip-title="{{formatted_citation}}"
            hover
            click
        >
            <copy-citation
                slot="tooltip-content"
                hash="{{node.label | join:'-'}}"
                formatted-citation="{{formatted_citation}}"
            ></copy-citation>
        </tooltip-container>
    {% endif %}
    {% link_statutes node.text link_conversions link_config as content %}
    {{ content | safe}}
</p>
