{% load render_nested %}
{% load string_formatters %}
{% comment %}
    Used once per section. Contained by subparts at the top level.
{% endcomment %}

<article>
    <h1 tabindex="-1" id="{{node.label | join:'-'}}">
        {% subpart_formatter cfr_title citation node.label as formatted_citation %}
        <tooltip-container
            btn-type="icon"
            btn-class="copy-btn"
            title="{{node.label | join:'.'}}"
            label="Copy Link or Citation"
            button-icon="link"
            tooltip-title="{{formatted_citation}}"
            hover
            click
        >
            <template #tooltip-content>
                <div class="action-btns">
                    <copy-citation
                        hash="{{node.label | join:'-'}}"
                        formatted-citation="{{formatted_citation}}"
                    ></copy-citation>
                </div>
            </template>
        </tooltip-container>
        {{node.title}}
    </h1>
    {{node.text | safe}}

    {% for node in node.children %}
        {% include "regulations/partials/node_types/node.html" %}
    {% endfor %}
</article>
