{% load render_nested %}
{% load string_formatters %}
{% comment %}
    Used once per section. Contained by subparts at the top level.
{% endcomment %}

<article>
    <h1 tabindex="-1" id="{{node.label | join:'-'}}">
        {% subpart_formatter cfr_title citation node.label as formatted_citation %}
        <tooltip-container btn_type="icon" title="{{node.label | join:'.'}}" hash="{{node.label | join:'-'}}" formatted_citation="{{formatted_citation}}" label="Copy Link or Citation">
            <i slot="button-icon" class="fa fa-link"></i>
            <p slot="tooltip-title" class="tooltip-title">{{formatted_citation}}</p>
        </tooltip-container>
        {{node.title}}
    </h1>
    {{node.text | safe}}

    {% for node in node.children %}
        {% include "regulations/partials/node_types/node.html" %}
    {% endfor %}
</article>
