name: Deploy Experimental

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  id-token: write
  contents: read
  actions: read
  pull-requests: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  notify-slack:
    name: Leave a kind message after updates
    runs-on: ubuntu-latest
    steps:
      - name: Greet the reader
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.PR_OBSERVER_SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "Greetings!"

  deploy-experimental:
    uses: ./.github/workflows/deploy-to-env.yml
    with:
      environment: dev
      stage_name: eph-${{ github.event.pull_request.number }}
      pr_number: ${{ github.event.pull_request.number }}
      aws_default_region: ${{ vars.AWS_DEFAULT_REGION }}
    secrets:
      AWS_OIDC_ROLE_TO_ASSUME: ${{ secrets.AWS_OIDC_ROLE_TO_ASSUME }}
