name: Deploy Experimental

on:
  workflow_dispatch:

jobs:
  deploy:
    environment:
      name: "dev"
      url: ${{ steps.deploy-regulations-site-server.outputs.url }}
    runs-on: ubuntu-latest
    steps:
      - name: get branch name
        run: |
          lower_case=${GITHUB_REF,,}
          echo "branch_name=${lower_case#refs/heads/}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
        with:
          submodules: true
      # should build first and save the artifact
      - uses: actions/setup-node@v1
        with:
          node-version: '15.11.0'
      - name: build static assets
        run: |
          make regulations
          cp -r regulations/static/regulations serverless/static-assets/static
          rm -r regulations/static/node_modules
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: deploy static assets
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          pushd serverless/static-assets/serverless
          npm install serverless -g
          npm install
          serverless deploy --stage dev-$branch_name
          popd
      - name: deploy regulations site server
        id: deploy-regulations-site-server
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          pushd serverless
          npm install serverless -g
          npm install
          serverless deploy --config ./serverless-experimental.yml --stage dev-$branch_name | tee output.log
          serverless invoke --config ./serverless-experimental.yml --function reg_core_migrate --stage dev-$branch_name
          serverless invoke --config ./serverless-experimental.yml --function create_su --stage dev-$branch_name
          serverless invoke --config ./serverless-experimental.yml --function populate_content --stage dev-$branch_name
          echo "::set-output name=url::$(cat output.log | grep -m1 'ANY -' | cut -c 9-)"
          popd
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16' # The Go version to download (if necessary) and use.
      - uses: wei/curl@master
        with:
          args: https://www.ecfr.gov/api/versioner/v1/structure/2021-11-05/title-42.json?chapter=IV&subchapter=C
      - name: load regulations
        run: make data.experimental URL=${{ steps.deploy-regulations-site-server.outputs.url }}
        env:
          EREGS_USERNAME: ${{ secrets.EREGS_USERNAME }}
          EREGS_PASSWORD: ${{ secrets.EREGS_PASSWORD }}
          NAME: experimental
