name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    strategy:
      max-parallel: 1
      matrix:
        environment: ["dev", "val", "prod"]
    environment:
      name: ${{ matrix.environment }}
      url: ${{ steps.deploy-regulations-site-server.outputs.url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      # should build first and save the artifact
      - uses: actions/setup-node@v1
        with:
          node-version: '15.11.0'
      - name: build static assets
        run: |
          make regulations
          cp -r regulations/static/regulations serverless/static-assets/static
          rm -r regulations/static/node_modules
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: deploy static assets
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          pushd serverless/static-assets/serverless
          npm install serverless -g
          npm install
          serverless deploy --stage ${{ matrix.environment }}
          popd
      - name: deploy regulations site server
        id: deploy-regulations-site-server
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          pushd serverless
          npm install serverless -g
          npm install
          serverless deploy --stage ${{ matrix.environment }} | tee output.log
          serverless invoke --function reg_core_migrate --stage ${{ matrix.environment }}
          serverless invoke --function createsu --stage ${{ matrix.environment }}
          echo "::set-output name=url::$(cat output.log | grep -m1 'ANY -' | cut -c 9-)"
          popd
      - name: end-to-end tests
        uses: cypress-io/github-action@v2
        with:
          working-directory: e2e
          config: baseUrl=${{ steps.deploy-regulations-site-server.outputs.url }}
