name: LoadRegulations

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  load:
    strategy:
      max-parallel: 1
      matrix:
        environment: ["dev", "val", "prod"]
    environment:
      name: ${{ matrix.environment }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16' # The Go version to download (if necessary) and use.
      - uses: wei/curl@master
        with:
          args: https://ecfr.gov/api/versioner/v1/structure/2021-11-04/title-42.json?part=433
      - run: make data.${{ matrix.environment }}
        env:
          EREGS_USERNAME: ${{ secrets.EREGS_USERNAME }}
          EREGS_PASSWORD: ${{ secrets.EREGS_PASSWORD }}
