name: Remove

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  remove:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-node@v3
        with:
          node-version: 18.14
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Configure AWS credentials for GitHub Actions
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_TO_ASSUME }}
          aws-region: us-east-1
      - name: remove regulations site server
        run: |
          pushd serverless/regulations
          npm install serverless@">=3.38.0 <4" -g
          npm install
          serverless remove
          popd
      - name: remove static assets
        run: |
          pushd serverless/static-assets/serverless
          npm install serverless@">=3.38.0 <4" -g
          npm install
          serverless remove
          popd
      - name: remove eCFR parser
        run: |
          pushd serverless
          npm install serverless@">=3.38.0 <4" -g
          serverless remove --config ./serverless-parser.yml
          popd
