name: Ruff
on: [ push, pull_request, workflow_dispatch ]
jobs:
  ruff:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: chartboost/ruff-action@v1
        with:
          src: "check ./solution"
          args: --preview
