name: Run Gitleaks

on: [ pull_request, push, workflow_dispatch ]

jobs:
  gitleaks-scan:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6
    - name: Run gitleaks
      uses: docker://zricethezav/gitleaks
      with:
        args: detect --source /github/workspace/ --no-git --verbose
