name: Slack Testing

on:
  push:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  slack-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Slack Test Step
        run: echo "This is a test step for Slack integration."

      - name: Notify Slack
        runs-on: ubuntu-latest
        steps:
          - name: Send message to Slack
            uses: slackapi/slack-github-action@v2.1.1
            with:
              webhook: ${{ secrets.PR_OBSERVER_SLACK_WEBHOOK_URL }}
              webhook-type: incoming-webhook
              payload: |
                text: "${{ inputs.message }}"
