name: Snyk Scan and Report

on:
  pull_request:
    branches: [ main ]

permissions:
  id-token: write

jobs:
  snyk_run:
    name: Snyk Run (for PR)
    runs-on: ubuntu-22.04
    if: github.event_name == 'pull_request'

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Install Snyk and Run Snyk test
        run: |
          npm install -g snyk
          snyk test --all-projects --json > snyk_output.txt || true
        env:
:         SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
