name: Update Code.json
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *" # monthly on day 1

permissions:
  contents: write
  pull-requests: write

jobs:
  update-code-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4.3.0
        with:
          node-version: "20"

      - name: Setup Go
        uses: actions/setup-go@v5.4.0
        with:
          go-version: "1.22"

      - name: Install SCC
        run: go install github.com/boyter/scc/v3@v3.5.0

      - name: Update code.json
        uses: DSACMS/automated-codejson-generator@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: "main"
