name: Wait for Approval

on:
  workflow_call:

permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  wait-for-approval:
    runs-on: ubuntu-latest
    environment: approval
    steps:
      - name: Wait for approval
        run: echo "Waiting for approval to proceed to the next stage"
